<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Dana Abdal.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">DANA ABDAL</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Care Applications Management Specialist</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Dana Abdal is a Care Apps Specialist at Zain Kuwait. She has been with Zain Kuwait IT department for over 10 years and has worked on diverse IT projects which fostered the development of her knowledge and experience in the field today. She is driven by the phrase 'Never look down, unless you are helping someone up'. Dana also enjoys playing the piano and was the first to introduce the art of reborning in the Arab region.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>