<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Mohammed Al-Murshed Zain Group.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Mohammad Al Murshed</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Networks Director</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Mohammad Al-Murshed has two decades of experience in telecommunication industry sector. He has a wide range of expertise developed in the areas of Networks, IT, digital transformation, wholesale, coaching and mentoring. Working in several different environments, projects and countries provides Mohammed with an extensive experience of handling different type of projects, technology, cultures, people and their characters. Mohammed’s vision is to participate and contribute to building a legacy for local youth and motivate people to achieve their dreams.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>