<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Mohd Tarawneh Zain Group.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Mohammad Al Tarawneh</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Network Transmission Manager</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Mohammad Al-Tarawneh is a Network Transmission Manager at Zain Group overseeing the technologies that provide connectivity and interconnection between all parts of the mobile network including wireline & wireless technologies. Over the years Mohammad learned that “Success requires good planning & clear design from the beginning”. Outside of work, Mohammad loves spending time with his extended family or going outside with his wife & their three children, he is currently living with them in Kuwait.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>