<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Maysam Al Duaij.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Maysam AlDuaij</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Technical Business Analysis Expert</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                            Maysam is a leading expert in the telecommunication industry and services. Graduated from Northeastern University Boston, MA (BSc degree in Electrical Engineering). Started as a radio planning engineer having hands on experience in networks with multi vendors. Competent in leading and launching projects from contract to launch and commercial level. Participated in the development and growth of the data services in Zain Kuwait starting from EDGE to 5G networks. Currently is a member of the Technical Business Analysis Team which plays a crucial role as the interface between the commercial, finance and technical teams. Maysam holds the Associate Certificate in Project Management from the School of Business at George Washington University and completed an intensive Leadership Development program offered by Cornell University NY, USA
                        </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>