<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Nadia Al Saif.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Nadia AlSaif</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Business Intelligence Director</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Nadia AlSaif is a computer engineer graduated from Kuwait university. With 25 years of experience working in different technical and commercial levels at Zain. Current position is Business Intelligence Director in Zain Kuwait, Leading business insight/analytic, data management and Information Architecture teams. Nadia is a powerful force in the workplace and uses her positive attitude and tireless energy to encourage others to work hard and succeed. Nadia enjoys using her skills to contribute to the exciting technological advances that happen every day at zain. Nadia is inspired daily by her great team.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>