<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Abdelnasir Moutasim.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">عبد الناصر معتصم البشير علي 
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير تطويرتكنولوجيا المعلومات

                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        عبد الناصر معتصم البشير علي هو مدير تطوير تكنولوجيا المعلومات ولديه 13 عاما من الخبرة في مجال تكنولوجيا المعلومات والاتصالات وتخصص في مجالات تكنولوجيا المعلومات المختلفة في صناعة الاتصالات. تخرج بدرجة البكالوريوس في علوم الكمبيوتر وماجيستير في تكنولوجيا المعلومات وماجستير الاتصالات وماجستير إدارة الأعمال. ويعتبر عبد الناصر طاقة محفزة في مكان العمل ويستخدم موقفه الإيجابي وطاقته الدؤوبة لتشجيع الآخرين على العمل الجاد والنجاح. علاوة على ذلك، فهو يستمتع باستخدام مهاراته للمساهمة في التطورات التكنولوجية المثيرة التي تحدث كل يوم.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>