<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Ghaidaa.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">غيداء عبد القادر سيرلكاتم
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">الإستراتيجية وتخطيط الأعمال
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        خبرة تزيد عن 15 عاما وتتمتع بكفاءة عالية في الإستراتيجية وتخطيط الأعمال، ولديها خبرة في إعداد الميزانيات وتوقع ومراقبة الأداء. بالإضافة إلى ذلك، فهي خبيرة في التحليل المالي لقوائم الدخل والمراجعة المالية
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>