<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Nasreen’s.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">نسرين ابراهيم علي</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير قسم البيع بالجملة
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        تخرجت من جامعة السودن للعلوم والتكنلوجيا و حصلت على بكلاريوس الهندسة الكهربائية. تخصصت في مجال الاتصالات  وهي  من ذوي الخبرة حيث عملت لأكثر من 16 عامًا بمشغلات الاتصالات العالمية  الثابتة والمتنقلة. خبرة واسعة في الأعمال التجارية الدولية وتسوية التجوال و خطوط الدفع الاجل والشبكات البحرية  وإدارة القدرات. مفاوض بارع  بامكانها بسهولة تكييف وتطبيق المعرفة الواسعة بالصناعة لتحقيق فرص نمو وإيرادات سريعة وتحقيق تحسين كبير في التكلفة للمؤسسة. مناصرة قوية لتمكين المرأة والمساواة بين الجنسين ؛ ساهمت كقائد مركزي بجان ماكينزي الاستشارية كجزء من مبادرة نحن التي اطلقتها مجموعة زين في العام 2017.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>