<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/omer-kamal.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">عمر كمال علي مختار</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">قطاعات التسويق - مدير
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        هو متخصص في إدارة الاتصالات ولديه أكثر من 17 عاما من الخبرة في التسويق والتكنولوجيا وإدارة المشاريع وإدارة تجربة العملاء. ويتمتع بخبرة في تنفيذ الاستراتيجيات التي تعزز باستمرار أهداف الأعمال والتشغيل.</br>خبرة تزيد عن 15 عاما وتتمتع بكفاءة عالية في الإستراتيجية وتخطيط غيداء عبد القادر سرالختم تمتلك غيداء عبد القادر سرالختم خبرة تزيد عن 15 عاما وتتمتع بكفاءة عالية في الإستراتيجية وتخطيط الأعمال، ولديها خبرة في إعداد الميزانيات وتوقع ومراقبة الأداء. بالإضافة إلى ذلك، فهي خبيرة في التحليل المالي لقوائم الدخل والمراجعة المالية
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>