form {
	margin-bottom: 0;
}

.form-group {
	margin-bottom: rem(30px);
	position: relative;
	outline: none;
	.control-label {
		font-size: rem(24px);
		font-weight: 400;
		display: inline-block;
		margin-bottom: 0px;
		color: #6f337b;
		padding: 0 0 rem(16px) rem(22px);
		text-transform: none;
		@media screen and (max-width: 991px) {
			font-size: rem(21px);
		}
		span {
			color: #cf0073;
			display: inline-block;
			margin-left: 6px;
		}
	}
	.info-label {
		display: block;
		color: #cf0073;
		font-size: rem(14px);
		margin: rem(11px) rem(7px) 0 0;
		text-align: right;
	}
	.fields-group {
		@include flex(center, space-between);
		.form-control {
			width: 49%;
			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	.field-icon {
		position: relative;
		span.icon {
			position: absolute;
			right: 18px;
			@include center-vertical();
			background-image: url("data:image/svg+xml,%3Csvg fill='%2389201a' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 477.87 477.87'%3E%3Cg class='cls-2'%3E%3Cpath d='M136.53,17.07a17.07,17.07,0,1,0-34.13,0V51.2h34.13Z' transform='translate(0 0)'/%3E%3Cpath d='M375.47,17.07a17.07,17.07,0,0,0-34.14,0V51.2h34.14Z' transform='translate(0 0)'/%3E%3Cpath d='M426.67,51.2h-51.2v68.27a17.07,17.07,0,0,1-34.14,0V51.2H136.53v68.27a17.07,17.07,0,0,1-34.13,0V51.2H51.2A51.2,51.2,0,0,0,0,102.4V426.67a51.2,51.2,0,0,0,51.2,51.2H426.67a51.21,51.21,0,0,0,51.2-51.2V102.4a51.2,51.2,0,0,0-51.2-51.2m17.06,375.47a17.06,17.06,0,0,1-17.06,17.06H51.2a17.06,17.06,0,0,1-17.07-17.06V204.8h409.6Z' transform='translate(0 0)'/%3E%3Cpath d='M136.53,273.07H102.4a17.07,17.07,0,0,1,0-34.14h34.13a17.07,17.07,0,0,1,0,34.14' transform='translate(0 0)'/%3E%3Cpath d='M256,273.07H221.87a17.07,17.07,0,0,1,0-34.14H256a17.07,17.07,0,0,1,0,34.14' transform='translate(0 0)'/%3E%3Cpath d='M375.47,273.07H341.33a17.07,17.07,0,0,1,0-34.14h34.14a17.07,17.07,0,0,1,0,34.14' transform='translate(0 0)'/%3E%3Cpath d='M136.53,341.33H102.4a17.07,17.07,0,1,1,0-34.13h34.13a17.07,17.07,0,1,1,0,34.13' transform='translate(0 0)'/%3E%3Cpath d='M256,341.33H221.87a17.07,17.07,0,1,1,0-34.13H256a17.07,17.07,0,1,1,0,34.13' transform='translate(0 0)'/%3E%3Cpath d='M375.47,341.33H341.33a17.07,17.07,0,0,1,0-34.13h34.14a17.07,17.07,0,0,1,0,34.13' transform='translate(0 0)'/%3E%3Cpath d='M136.53,409.6H102.4a17.07,17.07,0,1,1,0-34.13h34.13a17.07,17.07,0,1,1,0,34.13' transform='translate(0 0)'/%3E%3Cpath d='M256,409.6H221.87a17.07,17.07,0,1,1,0-34.13H256a17.07,17.07,0,1,1,0,34.13' transform='translate(0 0)'/%3E%3Cpath d='M375.47,409.6H341.33a17.07,17.07,0,0,1,0-34.13h34.14a17.07,17.07,0,0,1,0,34.13' transform='translate(0 0)'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			height: 20px;
			width: 20px;
		}
	}
	.left-icon {
		position: relative;
		span.icon {
			position: absolute;
			left: 0;
			@include center-vertical();
			background-repeat: no-repeat;
			height: 25px;
			width: 25px;
			background-size: 100% 100%;
		}
		.form-control {
			padding-left: rem(50px);
		}
	}
	.form-note {
		font-family: 'fontinitalic';
		color: #4a4a4a;
		font-size: rem(14px);
		padding-top: 8px;
		font-style: italic;
		line-height: normal;
		span {
			color: var(--primary);
		}
	}
	@media screen and (max-width: 991px) {
		.control-label {
			left: rem(40px);
		}
	}
	@media screen and (max-width: 767px) {
		.control-label {
			left: rem(18px);
		}
		.form-note {
			padding-left: rem(20px);
		}
	}
}

.form-control {
	font-size: rem(22px);
	color: #666666 !important;
	background: #fff;
	padding: rem(14px) rem(22px);
	outline: none;
	border: 1px solid #cec9d4;
	border-radius: 0;
	font-weight: 600;
	&.active {
		outline: none;
		box-shadow: none;
		border-radius: 0;
	}
	&:focus {
		outline: none;
		box-shadow: none;
		border-color: #6e337a;
		border-style: dashed;
		border-width: 3px;
	}
	&:read-only {
		background: transparent;
	}
	@include input-placeholder {
		color: #666666;
	}
	&.datetimepicker-input {
		@include input-placeholder {
			color: #89201a;
			opacity: 1;
		}
	}
}

textarea {
	&.form-control {
		resize: none;
		height: rem(200px) !important;
		border-radius: 0;
		padding-top: rem(20px);
		line-height: normal;
		overflow-y: unset !important;
		border: 1px solid #cec9d4;
		@media screen and (max-width: 991px) {
			height: rem(120px) !important;
		}
	}
}

// Bootstrap Select Styling
.bootstrap-select.dropdown {
	&.show {
		.dropdown-toggle {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
	&:not([class*='col-']):not([class*='form-control']):not(.input-group-btn) {
		width: 100%;
	}
	> .dropdown-toggle {
		height: 60px;
		font-size: rem(22px);
		color: #666666 !important;
		background: #fff;
		padding: 0 rem(22px);
		outline: none;
		border: 1px solid #cec9d4;
		border-radius: 0;
		font-weight: 600;
		position: relative;
		@media screen and (max-width: 991px) {
			height: 45px;
			font-size: rem(18px);
		}
		&.btn-light {
			&:disabled,
			&:active,
			&:focus {
				background: #fff !important;
				outline: 3px dashed var(--secondary) !important;
				outline-offset: 0;
			}
			&[aria-expanded='true'] {
				outline: 3px dashed var(--secondary) !important;
				outline-offset: 0;
			}
		}
		.filter-option {
			@include flex(center, start);
		}
		.filter-option-inner-inner {
			font-size: rem(22px);
			padding: 5px 0;
			font-weight: 600;
			color: #666666 !important;
			text-transform: capitalize;
			@media screen and (max-width: 991px) {
				font-size: rem(18px);
			}
		}
		&:after {
			content: '';
			width: 0;
			height: 0;
			margin-top: 0;
			border-top: 10px solid var(--primary);
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 0;
			transition: 0.3s ease all;
		}
		&:focus {
			outline: none !important;
		}
	}
	> .dropdown-menu {
		padding: 0 rem(7px) !important;
		border: 1px solid rgba(60, 60, 60, 0.26) !important;
		border-radius: 4px !important;
		box-shadow: 0px 3px 6px 0px rgba($color: black, $alpha: 0.15);
		li {
			margin-bottom: unset;
		}
		.dropdown-item {
			padding-top: rem(17px);
			padding-bottom: rem(17px);
			border-bottom: solid 1px #f5f5f3;
			font-size: rem(19px);
			font-weight: 400;
			&:active,
			&.active {
				outline: 3px dashed var(--primary);
				outline-offset: -3px;
				background: #fff;
				color: #212529;
			}
			&:focus {
				outline: 0;
				background: #fff;
			}
			&:hover {
				outline: 3px dashed var(--primary);
				outline-offset: -3px;
				background: #fff;
				color: var(--secondary);
			}
			&:focus,
			&:hover,
			&:focus-within,
			&:active,
			&.active {
				background: transparent;
				color: var(--secondary);
				outline: dashed 3px var(--highlight);
				outline-offset: -3px;
				background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23cf0073;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M420,42.28c-141.16,0-256,114.83-256,256s114.84,256,256,256,256-114.84,256-256-114.84-256-256-256ZM549.75,244,411.08,382.69a21.32,21.32,0,0,1-30.16,0l-69.33-69.33a21.33,21.33,0,1,1,30.16-30.17L396,337.44,519.59,213.86A21.33,21.33,0,1,1,549.75,244Zm0,0' transform='translate(-164 -42.28)'/%3E%3C/svg%3E") !important;
				background-size: 20px !important;
				background-repeat: no-repeat !important;
				background-position: 95% center;
			}
		}
	}
	.form-control:focus {
		outline: none;
		box-shadow: none;
		background: transparent;
		border-color: var(--primary);
	}
}

.checkbox,
.radio {
	label {
		position: relative;
		display: inline-block;
		cursor: pointer;
		input,
		svg {
			width: 20px;
			height: 20px;
		}
		input {
			-webkit-appearance: none;
			-moz-appearance: none;
			position: relative;
			outline: none;
			background: #fff;
			border: none;
			margin: 0;
			padding: 0;
			cursor: pointer;
			border-radius: 4px;
			transition: box-shadow 0.3s;
			box-shadow: inset 0 0 0 1px #d1d6ee;
			display: none;
			cursor: pointer;
			@media screen and (min-width: 1025px) {
				&:hover {
					box-shadow: inset 0 0 0 1px var(--primary);
				}
			}
			&:checked {
				box-shadow: inset 0 0 0 1px var(--primary);
			}
		}
		svg {
			pointer-events: none;
			fill: none;
			stroke-width: 2px;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke: var(--primary);
			width: 20px;
			height: 20px;
			transform: scale(1) translateZ(0);
			border: 1px solid #d7d7d7;
			border-radius: 2px;
		}
		&.path {
			input {
				&:checked {
					--s: 2px;
					transition-delay: 0.4s;
					& + svg {
						stroke-dasharray: 16.1 86.12;
						stroke-dashoffset: 102.22;
					}
				}
			}
			svg {
				stroke-dasharray: 86.12;
				stroke-dashoffset: 86.12;
				transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
			}
		}
		span {
			padding-left: rem(7px);
			color: #4a4a4a;
			vertical-align: middle;
		}
	}
	a {
		color: var(--primary);
		text-decoration: underline;
		@media screen and (min-width: 1025px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

// ar style
.ar .form-group .control-label {
	padding: 0 1.375rem 1rem 0;
}

.ar .form-group .info-label {
	margin: 0.6875rem 0 0 0.4375rem;
	text-align: left;
}

[lang='ar'] {
	.form-group {
		.control-label {
			padding: 0 rem(22px) rem(16px) 0;
			text-transform: none;
			span {
				margin-right: 6px;
				margin-left: 0;
			}
		}
		.info-label {
			margin: rem(11px) 0 0 rem(7px);
			text-align: left;
		}
		.left-icon {
			span.icon {
				right: 0;
				left: auto;
			}
			.form-control {
				padding-right: rem(50px);
				padding-left: 0;
			}
		}
		@media screen and (max-width: 991px) {
			.control-label {
				right: rem(40px);
				left: auto;
			}
		}
		@media screen and (max-width: 767px) {
			.control-label {
				right: rem(18px);
				left: auto;
			}
			.form-note {
				padding-right: rem(20px);
				padding-left: 0;
			}
		}
	}
	// Bootstrap Select Styling
	.bootstrap-select.dropdown {
		> .dropdown-menu {
			.dropdown-item {
				&:focus,
				&:hover,
				&:focus-within,
				&:active,
				&.active {
					background-position: 5% center;
				}
			}
		}
	}
}
