<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Chikijwok.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Chikijwok Lwal John</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Roaming and Interconnect Specialist
                </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Chikijwok Lwal John is a Roaming and Interconnect Specialist at Zain South Sudan. Before that, Chikijwok joined Zain in 2019 as a Marketing Development Specialist where she gained experience with a great team. She believes to learn, people have to go through all the ups and downs to make their path smooth, and that’s how they grow.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>