<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Gaudensio.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Gaudensio Modi
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Radio and Transmission Operation Team Leader
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Gaudensio Modi is currently working as a Radio and Transmission Operation Team Leader. He obtained a bachelors degree in Electronic Engineering and Communication. His love for technology and innovation pushed him to further his education with a masters in Electrical Engineering. Gaudensio believes his determination, hard-work and dedication earned him his position at Zain.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>