<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Roynina.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Roynina Magaya
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">BSS Application Manager
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Roynina Magaya is a BSS Application Manager at Zain South Sudan. She is an accomplished computer engineer and enjoys using her skills to contribute and support technological advances. Roynina climbed the ladder and gained experience to be where she is today.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>