<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Ali Al Salam Zain KSA.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Ali Saleh Ahmad Al Salam</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Invoice Acceptance & Fixed Assets Senior Manager</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Ali Saleh AlSalam is an Invoice Acceptance & Fixed Assets Senior Manager at Zain Saudi Arabia. He first joined in 2007 after graduating with a Bachelor of Science in Accounting from King Fahd University of Petroleum and Minerals.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>