<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Bouthina Mahroos Zain KSA.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Bouthina Ahmed Mahroos</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Acting Payroll Senior Manager</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Bouthina Ahmed Mahroos has 13 years-experience in HR, and worked in different industries including FMCG, automotive, financial services and telecommunication. She strives to enjoy the journey and create a balance between work and personal life. What drives Bouthina is ‘work hard until you don’t have to introduce yourself’. 
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>