<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/unnamed.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Ghadah Mutaab AlMutairi</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Workforce Management & Planning Manager</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Ghadah Mutaab Almutairi has over 10 years of experience and its currently a Workforce Management & Planning Manager with a bachelor’s degree in Information Technology. Ghadah is a motivator who strives to make a difference on a life.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>