<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Maryam Abdullatif Alhabab Zain KSA.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Maryam Abdullatif Alhabab</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Budgeting & Control Manager</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Maryam Alhabab has 10 years of experience in the finance department at Zain KSA while working part time as an events manager. Before COVID-19 she was able to open her own business in the events field. Maryam is passionate, ambitious and optimistic, with good leadership and communication skills. Her quote to live by is: make your smile never leave you, no matter what you hide behind it and treat people the way you want them to treat you.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>