<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Rayan Jan Zain KSA.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Rayan Fawaz Jan</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">RP Applications Senior Manager</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Rayan Fawaz Jan has over 14 years of experience in the field of SCM, HCM, finance consultation and implementation of Oracle EBS Suite. Rayan believes life is not a problem to be solved but a reality to be experienced.
                        </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>