<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Dalia Shakhshir Zain Jordan.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">داليا الشخشير</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">هي قائدة فريق تطوير المنتجات</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        يُعرف غنها الحماس والتفاني في قطاع الاتصالات مع مسيرة ممتدة من الجودة وتطوير تكنولوجيا المعلومات في تحليل الأعمال تزيد عن 16 عاما.<br/>تُبدع داليا في حل المشاكلات حيث تركز على التفاصيل مع مهاراتها التحليلية والاستدلالية المتقدمة، تتخذ داليا من الصدق وحسن الأخلاق قيمتان رئيسيتان، إذ  تؤمن بهما بشدة في حياتها، وأكثر ما تهواه هو قضاء وقت ممتع مع أطفالها الثلاثة بالإضافة إلى المشي وصنع الحلوى المنزلية.
                    </span> 
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>