<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Hiba Afaneh Zain Jordan.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">هبة عفانة</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">إدارة مخاطر المؤسسة والتدقيق الداخلي</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        انضمت إلى شركة زين الأردن في العام 2002 ، ودخلت مجال أمن المعلومات كمسؤول أمني، ومنذ ذلك الحين، ساعدت هبة في إنشاء وظيفة أمن المعلومات في شركة زين الأردن، تكونت لديها خبرات على مدار الـ 18 عاما، حيث شملت المزيد من الوظائف الحيوية التي تغطي الأمن السيبراني وإدارة مخاطر المؤسسات. </br>طورت عفانة برنامج ريادة الأعمال الذي يستهدف الشباب، وقدمت العديد من الدورات التدريبية في مجال ريادة الأعمال للطلاب لتعريفهم بمهارات ريادة الأعمال، وطريقة التفكير من خلال ممارسات تفاعلية وأنشطة ممتعة.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>