<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Lama Rahwanji Zain Jordan.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">لمى الرهونجي</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">تحتل منصب المدير التنظيمي</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        لديها 24 عاما من الخبرات العملية في شركة زين الأردن، كما أنها تتمتع بمهارات فنية وشخصية قوية مثل التواصل، التفكير النقدي، حل المشكلات، القيادة، التدريب، التفاوض، المهارات التنظيمية، وإدارة الوقت، هدفها أن تكون سيدة أعمال ناجحة، وأن تقدم ما ينفع المجتمع، مما شجعها على البقاء منفتحة على أي فرص جديدة، وهي خارج بيئة العمل، تهوى الرسم والتصميم الداخلي.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>