<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Raad Qandah.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">رعد قندح</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">محلل أداء الشبكات</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        رعد لديه بكالوريوس هندسة اتصالات من جامعة الأميرة سمية للتكنولوجيا. نشر ورقة علمية بعنوان "التحديد الديناميكي للترددات في شبكات الواي فاي" في منتدى سارنوف رقم 35 لمنظمة “IEEE” وتم تكريمه لهذا الغرض من قبل نقابة المهندسين الأردنيين وجامعة الأميرة سمية، ونتيجةً لعمله الدؤوب وتميّزه في العمل تم تكريمه في عدّة مناسبات من قِبل شركة زين.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>