<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Chikijwok.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">شيكيجوك لوال جون</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">متخصص في التجوال والربط البيني
                </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        شيكيجوك لوال جون هي متخصص في التجوال والربط البيني في زين جنوب السودان. قبل ذلك انضمت شيكيجوك إلى زين في عام 2019 كأخصائية تطوير التسويق حيث اكتسبت خبرة مع فريق رائع. إنها تؤمن بأنه لكي يتعلم الناس، يجب أن يمروا بجميع التقلبات حتى يسهل عليهم مسارهم، وهذه هي الطريقة التي ينمون بها.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>