<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Daniel.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">دانيل لورو
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">رئيس فريق التخطيط والتنفيذ
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        دانيل لورو هو رئيس فريق التخطيط والتنفيذ في زين جنوب السودان. كان العمل في زين امتيازا لتمكينه وتطوير مهاراته الفنية حيث تمكن من الحصول على العديد من الشهادات الدولية.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>