<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Gaudensio.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">جودنسيو مودي
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">قائد فريق عمليات الإرسال والإذاعة
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        جودنسيو مودي يعمل حاليا كقائد لفريق عمليات الإرسال والإذاعة. حصل على درجة البكالوريوس في الهندسة الإلكترونية والاتصالات. دفعه حبه للتكنولوجيا والابتكار إلى مواصلة تعليمه بدرجة الماجستير في الهندسة الكهربائية. ويعتقد جودنسيو أن تصميمه وعمله الجاد وتفانيه أكسبته منصبه في زين.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>