<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Roynina.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">روينينا ماغايا
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مديرة تطبيقات BSS
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        روينينا ماغايا هي مديرة تطبيقات BSS في زين جنوب السودان. هي مهندسة كمبيوتر بارعة وتتمتع باستخدام مهاراتها للمساهمة في التقدم التكنولوجي ودعمه. صعدت روينينا السلم واكتسبت الخبرة لتكون حيث هي اليوم.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>