<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Ammar-Mohamed-Taher-Al-Shaikly-Zain-Iraq.png" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Ammar Mohamed Taher Al-Shaikly</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Head of Core Planning & Optimization Dept.</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Ammar Taher is Head of Core Planning & Optimization Department at Zain Iraq with more than 15 years of experience in the telecommunication world. Ammar specialized in core network dimensioning and capacity planning. He has a master’s degree in telecommunication engineering. Ammar is looking to be a data analyst and is working to get more experience in the 5G and cloud computing. Ammar’s interests include in reading, watching football and movies.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>