<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Haider-Aied-Ali-Alkarway-Zain-Iraq.png" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Haider Aied Ali Alkarway</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Head of Corporate Reporting Unit</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Haider Aied is the Head of the Corporate Reporting Unit since 2017 with over 15 years’ experience at Zain Iraq. He is responsible for communicating with different departments to support the creation of reports and dashboards. Haider enjoys hunting and camping.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>