<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Karim Rahimah Hussein Zain Iraq.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Karim Rahimah Hussein</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Head of Deployment Department</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Karim Rahimah is head of the deployment department, he specialized in electrical engineering and is responsible for GSM sites construction, radio, TRM, & core network equipment deployment, fiber networks, FTTH deployment and operation, technical solutions. Karim’s goals are to maintain healthy relationships with family and friends and an efficient lifestyle. His professional goal is to ensure he continues to evolve his background and knowledge in the technological sector. Karim likes ping pong, football, video games, travelling, swimming, and watching movies.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>