<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Rasha Uday Zain Iraq.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Rasha Uday Moain Moain</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Head of Customer Experience Department</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Rasha Uday is an electronic and communication engineer and Head of Customer Experience Department with 15 years’ experience at Zain. Rasha is proud to have real experience and knowledge in three important areas where she was able to develop during her journey within Zain. Starting for Human Resources to Sales support the customer experience. Despite her specialization in engineering but she found herself in business. She is planning to get an MBA in CX field. Outside work, Rasha loves to read and go diving when she can.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>