<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Suhaib Wamidh Dhyaa Eldeen Al Naftaji  Zain Iraq.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Suhaib Wamidh Dhyaa Eldeen Al Naftaji</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Head of Core Network Implementation Unit</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Suhaib Eldeen is Head of the Core Network Implementation with 17 years’ experience in the telecom field. Suhaib specializes in computer engineering and is responsible for managing and implementing telecom projects. Suhaib is ambitious, confident and a hard worker who always tries to support others. Suhaib likes to swim, play soccer and video games.
                        </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>