<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Ammar-Mohamed-Taher-Al-Shaikly-Zain-Iraq.png" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">عمار طاهر</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">هو رئيس قسم التخطيط والتحسين الأساسي</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        في شركة زين العراق، يتمتع بخبرة أكثر من 15 عاما في قطاع الاتصالات، تخصص عمار في أبعاد الشبكة الأساسية وتخطيط السعة، كما أنه حاصل على درجة الماجستير في هندسة الاتصالات، يتطلع عمار إلى أن يكون محلل بيانات حيث يعمل على اكتساب المزيد من الخبرة في الجيل الخامس والحوسبة السحابية، تشمل اهتمامات عمار القراءة ومشاهدة كرة القدم والأفلام.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>