<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Haider-Aied-Ali-Alkarway-Zain-Iraq.png" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">حيدر عايد</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">هو رئيس وحدة التقارير المؤسسية</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        منذ العام 2017 ، يتمتع بأكثر من 15 عاما من الخبرة في شركة زين العراق، كما أنه مسؤول عن التواصل مع الإدارات المختلفة لدعم إنشاء التقارير، يهوى حيدر الصيد والتخييم.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>