<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Karim Rahimah Hussein Zain Iraq.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">كريم رحيمة</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">هو رئيس قسم النشر ومتخصص في الهندسة الكهربائي</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        هو مسؤول عن إنشاء مواقع  الشبكة ( GSM) والراديو و ( TRM )، ونشر معدات الشبكات الأساسية وشبكات الألياف ونشر وتشغيل الألياف البصرية المنزلية ( FTTH ) والحلول التقنية.<br/>تتمثل أهداف كريم في الحفاظ على علاقات صحية مع العائلة والأصدقاء وأسلوب حياة فعال، كما يتمثل هدفه المهني في ضمان استمراره في تطوير معلوماته ومعرفته في القطاع التكنولوجي، يهوى كريم تنس الطاولة وكرة القدم وألعاب الفيديو والسفر والسباحة ومشاهدة الأفلام.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>