<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Rasha Uday Zain Iraq.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">رشا عدي</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">رئيس قسم تجربة العملاء</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        هي مهندسة إلكترونيات واتصالات ورئيسة قسم تجربة العملاء، تتمتع بخبرة 15 عاما في شركة زين، تفخر رشا بأن لديها خبرة ومعرفة حقيقية في ثلاثة مجالات مهمة تمكنت من تطويرها خلال رحلتها داخل زين، حيث بدأت من الموارد البشرية إلى المبيعات.<br/>على الرغم من تخصصها في الهندسة إلا أنها وجدت نفسها تعمل في الأعمال التجارية، تخطط حاليا للحصول على ماجستير في إدارة الأعمال في مجال تجربة العملاء، وخارج العمل، تهوى رشا القراءة والغوص كلما سنحت الفرصة.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>