<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Suhaib Wamidh Dhyaa Eldeen Al Naftaji  Zain Iraq.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">صهيب الدين</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">هو رئيس عمليات تنفيذ الشبكة الأساسية</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        يتمتع بخبرة 17 عاما في مجال الاتصالات، وقد تخصص صهيب في هندسة الكمبيوتر، حيث يتولى مسؤولية إدارة وتنفيذ مشاريع الاتصالات، يُعرف عن صهيب أنه طموح وواثق من نفسه، فهو يعمل بجد ويحاول دائما دعم الآخرين، كما يهوى السباحة ولعب كرة القدم وألعاب الفيديو.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>