.footer-wrapper {
    --highlight: #eada2f;
    background: #f6f6f6;
    padding-top: rem(0px);
    // margin-top: rem(20px);
    footer {
        background: rgb(62, 60, 160);
        background: linear-gradient( 175deg, rgba(62, 60, 160, 1) 0%, rgba(44, 84, 147, 1) 100%);
        padding: rem(40px) 0;
        .logo {
            margin-bottom: rem(45px);
            text-align: center;
            img {
                max-width: 250px;
                @media screen and (max-width: 575px) {
                    max-width: 195px !important;
                }
            }
        }
        ul {
            list-style: none;
            li {
                margin-bottom: 10px;
                a {
                    font-size: rem(19px);
                    font-weight: 600;
                    color: #ffffff;
                }
            }
            &.main-links {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                li {
                    &:not(:last-child) {
                        margin-right: rem(20px);
                        @media screen and (min-width: 992px) and (max-width: 1199px) {
                            font-size: rem(18px);
                        }
                    }
                }
            }
            &.social-links {
                display: flex;
                align-items: center;
                list-style: none;
                // margin-bottom: rem(12px);
                justify-content: center;
                li {
                    &:not(:last-child) {
                        margin-right: rem(30px);
                        @media screen and (min-width: 992px) and (max-width: 1199px) {
                            margin-right: rem(25px);
                        }
                    }
                    a {
                        color: #e9da2f;
                        display: inline-block;
                        transition: 0.3s all ease-in-out;
                        @media screen and (min-width: 1025px) {
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                        svg {
                            width: 25px;
                        }
                        &.fb {
                            svg {
                                width: 16px;
                            }
                        }
                    }
                }
            }
        }
        .left-bg-wrapper {
            background: #f8f8f8;
            padding-right: rem(28px);
            padding-bottom: rem(30px);
            padding-top: rem(46px);
            box-shadow: 0 0px 0px 0px #f8f8f8, -480px 0 0px 0px #f8f8f8;
            flex: 1;
            margin-bottom: 20px;
            @media screen and (max-width: 1250px) {
                box-shadow: 0 0px 0px 0px #f8f8f8, -200px 0 0px 0px #f8f8f8;
            }
        }
        .flex-column-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }
        .category {
            margin-bottom: rem(30px);
            h3 {
                outline: none !important;
                margin-bottom: rem(22px);
                &:focus {
                    outline: none !important;
                }
                a {
                    color: #b6ff7f;
                    font-size: rem(21px);
                    font-weight: 700;
                    min-height: rem(50px);
                    line-height: 1.2;
                    display: inline-block;
                    @media screen and (min-width: 992px) and (max-width: 1199px) {
                        font-size: rem(18px);
                    }
                    @media screen and (min-width:1025px) {
                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
            ul {
                li {
                    margin-bottom: rem(20px);
                }
            }
        }
    }
    .copyright {
        background-color: #000000;
        text-align: center;
        text-transform: uppercase;
        font-size: rem(20px);
        font-weight: 600;
        color: #ffffff;
        padding: rem(30px) rem(15px);
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            font-size: rem(18px);
        }
        @media screen and (max-width: 767px) {
            font-size: rem(17px);
        }
    }
}

@media screen and (max-width: 991px) {
    .footer-wrapper {
        footer {
            padding: rem(35px) 0;
            .logo {
                text-align: center;
                img {
                    max-width: 215px;
                }
            }
            ul {
                &.social-links {
                    justify-content: center;
                }
                &.main-links {
                    justify-content: center;
                }
            }
            .left-bg-wrapper {
                text-align: center;
                box-shadow: 200px 0 0px 0px #f8f8f8, -200px 0 0px 0px #f8f8f8;
                padding-right: 0;
            }
            .nav-pills {
                justify-content: center;
                flex-direction: row;
            }
            form {
                margin: auto;
                margin-inline: auto;
            }
            .button-row {
                justify-content: center;
            }
            .footer-categories {
                padding-top: rem(20px);
            }
            .category {
                text-align: center;
                margin-bottom: rem(36px);
                h3 {
                    min-height: auto;
                    @media screen and (max-width: 767px) {
                        min-height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .footer-wrapper footer {
        .nav-pills {
            margin: 0 45px;
        }
    }
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .footer-wrapper footer {
        .nav-pills {
            margin: 0 45px;
        }
    }
}

[lang="ar"] {
    .footer-wrapper {
        footer {
            ul {
                &.main-links {
                    li {
                        &:not(:last-child) {
                            margin-left: rem(20px);
                            margin-right: 0;
                        }
                    }
                }
                &.social-links {
                    li {
                        &:not(:last-child) {
                            margin-left: rem(30px);
                            margin-right: 0;
                            @media screen and (min-width: 992px) and (max-width: 1199px) {
                                margin-left: rem(25px);
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}