header {
	--highlight: #eada2f;
	padding: rem(50px) 0px;
	position: fixed;
	width: 100%;
	z-index: 998;
	transition: all 0.6s;
	top: 0;
	left: 0;
	ul {
		li {
			margin-bottom: 0 !important;
		}
	}
	@media screen and (max-width: 767px) {
		padding: rem(15px) 0px;
		background-color: rgba(0, 0, 0, 1);
	}
	@media screen and (max-width: 767px) and (min-width: 372px) {
		.row {
			align-items: center;
		}
	}
	&:after {
		border: solid 2px var(--secondary);
		bottom: -2px;
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0 auto;
		width: 0%;
		content: '';
		transform: scale(0, 0);
		transition: all 0.6s linear;
	}
	.container {
		position: relative;
	}
	.left-side {
		ul {
			li {
				margin-bottom: 0;
				&:not(:last-child) {
					margin-right: rem(50px);
					@media screen and (max-width: 500px) {
						margin-right: rem(30px);
					}
					@media screen and (max-width: 375px) {
						margin-right: rem(20px);
					}
				}
			}
			li:last-child {
				a {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
	.right-side {
		position: static;
		ul.list-inline {
			justify-content: flex-end;
			align-items: center;
			@media screen and (max-width: 767px) {
				justify-content: flex-end;
			}
			> li {
				&:not(:last-child) {
					margin-right: rem(20px);
					padding-right: rem(20px);
					position: relative;
					&:after {
						height: 14px;
						width: 1px;
						position: absolute;
						right: 0px;
						top: 50%;
						transform: translateY(-50%);
						content: '';
						background-color: #ffffff;
					}
				}
				&.inline {
					display: flex;
					align-items: center;
				}
				&.langSelector {
					.langIcon {
						img {
							max-width: 35px;
						}
						@media screen and (min-width: 992px) {
							display: none;
						}
					}
					@media screen and (max-width: 991px) {
						a {
							span {
								display: none;
							}
						}
					}
				}
				a {
					color: #ffffff;
					font-size: rem(24.42px);
					text-transform: capitalize;
					cursor: pointer;
					@media screen and (min-width:1025px){
						&:hover {
							opacity: 0.75;
						}
					}
					&.login-icon {
						svg {
							width: 25px;
							height: 25px;
							color: #ffffff;
						}
					}
				}
				.btn-primary {
					font-size: rem(18px);
					text-transform: uppercase;
					font-weight: 600;
					padding: rem(15px) rem(42px);
				}
			}
		}
	}
	.logo {
		width: 160px;
		height: auto;
		transform: scale(1.3);
		position: relative;
		top: 4px;
		@media screen and (max-width: 767px) {
			width: 150px;
		}
		@media screen and (max-width: 575px) {
			width: 110px;
		}
		&:focus {
			outline-offset: 4px;
		}
	}
	.search {
		svg {
			width: 27px;
			height: 27px;
		}
	}
	.menu {
		color: #fff;
		display: inline-block;
		transition: 0.3s ease all;
		svg {
			width: rem(40px);
			height: auto;
			@media screen and (max-width: 767px) {
				width: rem(30px);
				height: auto;
			}
		}
		@media screen and (min-width: 1025px) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.router-link-active {
		display: block;
	}

	a.skip-main {
		left: -999px;
		position: absolute;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		z-index: -999;
		&:active,
		&:focus {
			color: #fff;
			background-color: var(--primary);
			left: 2px;
			right: auto;
			top: auto;
			width: auto;
			height: auto;
			overflow: hidden;
			margin: 10px 0;
			padding: 10px 25px;
			border-radius: 5px;
			text-align: center;
			font-size: 1.2em;
			z-index: 999;
			outline: 0 !important;
		}
	}
	&.sticky {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.6);
		padding: rem(11px) 0px;
		-webkit-animation-name: animationFade;
		-o-animation-name: animationFade;
		animation-name: animationFade;
		-webkit-animation-duration: 1s;
		-o-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	@media screen and (max-width: 575px) {
		.right-side {
			ul.list-inline {
				> li {
					&.langSelector {
						.langIcon {
							img {
								max-width: 30px;
							}
						}
					}
					&:not(:last-child) {
						margin-right: rem(15px);
						padding-right: rem(15px);
					}
				}
			}
		}
		.search {
			svg {
				width: 22px;
				height: 22px;
			}
		}
	}
	@media screen and (max-width: 370px) {
		.search {
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}
[lang='ar'] {
	header {
		.left-side {
			ul {
				li {
					&:not(:last-child) {
						margin-left: rem(35px);
						margin-right: 0;
						@media screen and (max-width: 991px) {
							margin-left: rem(15px);
							margin-right: 0;
						}
					}
				}
			}
		}
		.right-side {
			ul.list-inline {
				> li {
					&:not(:last-child) {
						margin-left: rem(20px);
						padding-left: rem(20px);
						margin-right: 0;
						padding-right: 0;
						&:after {
							left: 0px;
							right: auto;
						}
					}
				}
			}
		}
		a.skip-main {
			right: -999px;
			left:auto &:active,
			&:focus {
				color: #fff;
				background-color: var(--primary);
				right: 2px;
				left: auto;
			}
		}
		@media screen and (max-width: 575px) {
			.right-side {
				ul.list-inline {
					> li {
						&.langSelector {
							.langIcon {
								img {
									max-width: 30px;
								}
							}
						}
						&:not(:last-child) {
							margin-left: rem(15px);
							padding-left: rem(15px);
							margin-right: 0;
							padding-right: 0;
						}
					}
				}
			}
		}
	}
}

// menuu
.menuOpen {
	position: fixed;
	overflow: hidden;
}
body.menuOpen {
	background: #000;
}
.menuWrapper {
	--highlight: #eada2f;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	z-index: -999;
	opacity: 1;
	// bottom: -100%;
	transform: translateY(-100%);
	left: 0;
	background: url('../images/banners/menuBanner.png');
	background-attachment: fixed;
	z-index: 0;
	overflow: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: rem(80px) 0;
	visibility: hidden;
	overflow-x: hidden;
	@media screen and (max-width: 1199px) {
		background: unset;
		background-color: #000;
	}
	// &::before {
	//     content: '';
	//     background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 240.93 473.76'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:none;%7d.cls-2%7bisolation:isolate;%7d.cls-3%7bmix-blend-mode:darken;%7d.cls-4%7bclip-path:url(%23clip-path);%7d.cls-5%7bfill:%23fff;%7d.cls-6%7bclip-path:url(%23clip-path-2);%7d.cls-7%7bfill:url(%23linear-gradient);%7d.cls-8%7bclip-path:url(%23clip-path-3);%7d.cls-9%7bfill:url(%23linear-gradient-2);%7d.cls-10%7bclip-path:url(%23clip-path-4);%7d.cls-11%7bfill:url(%23linear-gradient-3);%7d.cls-12%7bclip-path:url(%23clip-path-5);%7d.cls-13%7bfill:url(%23linear-gradient-4);%7d.cls-14%7bclip-path:url(%23clip-path-6);%7d.cls-15%7bfill:url(%23linear-gradient-5);%7d.cls-16%7bclip-path:url(%23clip-path-7);%7d.cls-17%7bfill:url(%23linear-gradient-6);%7d.cls-18%7bclip-path:url(%23clip-path-8);%7d.cls-19%7bfill:url(%23linear-gradient-7);%7d.cls-20%7bclip-path:url(%23clip-path-9);%7d.cls-21%7bfill:url(%23linear-gradient-8);%7d.cls-22%7bclip-path:url(%23clip-path-10);%7d.cls-23%7bfill:url(%23linear-gradient-9);%7d.cls-24%7bclip-path:url(%23clip-path-11);%7d.cls-25%7bfill:url(%23linear-gradient-10);%7d.cls-26%7bclip-path:url(%23clip-path-12);%7d.cls-27%7bfill:url(%23linear-gradient-11);%7d.cls-28%7bclip-path:url(%23clip-path-13);%7d.cls-29%7bfill:url(%23linear-gradient-12);%7d.cls-30%7bclip-path:url(%23clip-path-14);%7d.cls-31%7bfill:url(%23linear-gradient-13);%7d.cls-32%7bclip-path:url(%23clip-path-15);%7d.cls-33%7bfill:url(%23linear-gradient-14);%7d.cls-34%7bclip-path:url(%23clip-path-16);%7d.cls-35%7bfill:url(%23linear-gradient-15);%7d.cls-36%7bclip-path:url(%23clip-path-17);%7d.cls-37%7bfill:url(%23linear-gradient-16);%7d.cls-38%7bclip-path:url(%23clip-path-18);%7d.cls-39%7bfill:url(%23linear-gradient-17);%7d.cls-40%7bclip-path:url(%23clip-path-19);%7d.cls-41%7bfill:url(%23linear-gradient-18);%7d.cls-42%7bclip-path:url(%23clip-path-20);%7d.cls-43%7bfill:url(%23linear-gradient-19);%7d.cls-44%7bclip-path:url(%23clip-path-21);%7d.cls-45%7bfill:url(%23linear-gradient-20);%7d.cls-46%7bclip-path:url(%23clip-path-22);%7d.cls-47%7bfill:url(%23linear-gradient-21);%7d.cls-48%7bclip-path:url(%23clip-path-23);%7d.cls-49%7bfill:url(%23linear-gradient-22);%7d.cls-50%7bclip-path:url(%23clip-path-24);%7d.cls-51%7bfill:url(%23linear-gradient-23);%7d.cls-52%7bclip-path:url(%23clip-path-25);%7d.cls-53%7bfill:url(%23linear-gradient-24);%7d.cls-54%7bclip-path:url(%23clip-path-26);%7d.cls-55%7bfill:url(%23linear-gradient-25);%7d.cls-56%7bclip-path:url(%23clip-path-27);%7d.cls-57%7bfill:url(%23linear-gradient-26);%7d.cls-58%7bclip-path:url(%23clip-path-28);%7d.cls-59%7bfill:url(%23linear-gradient-27);%7d.cls-60%7bclip-path:url(%23clip-path-29);%7d.cls-61%7bfill:url(%23linear-gradient-28);%7d.cls-62%7bclip-path:url(%23clip-path-30);%7d.cls-63%7bfill:url(%23linear-gradient-29);%7d.cls-64%7bclip-path:url(%23clip-path-31);%7d.cls-65%7bfill:url(%23linear-gradient-30);%7d.cls-66%7bclip-path:url(%23clip-path-32);%7d.cls-67%7bfill:url(%23linear-gradient-31);%7d.cls-68%7bclip-path:url(%23clip-path-33);%7d.cls-69%7bfill:url(%23linear-gradient-32);%7d.cls-70%7bclip-path:url(%23clip-path-34);%7d.cls-71%7bfill:url(%23linear-gradient-33);%7d.cls-72,.cls-77%7bopacity:0.5;%7d.cls-72,.cls-80,.cls-83%7bmix-blend-mode:multiply;%7d.cls-73%7bclip-path:url(%23clip-path-35);%7d.cls-74%7bfill:%23f5eb00;%7d.cls-75%7bclip-path:url(%23clip-path-36);%7d.cls-76%7bfill:%23cf0073;%7d.cls-78%7bclip-path:url(%23clip-path-37);%7d.cls-79%7bfill:%2369bf29;%7d.cls-80%7bopacity:0.38;%7d.cls-81%7bclip-path:url(%23clip-path-38);%7d.cls-82%7bfill:%23e3d600;%7d.cls-83%7bopacity:0.65;%7d.cls-84%7bclip-path:url(%23clip-path-39);%7d.cls-85%7bfill:%2396d18f;%7d.cls-86%7bfill:%2370c7a6;%7d.cls-87%7bfill:%23f7f273;%7d%3c/style%3e%3cclipPath id='clip-path' transform='translate(-12.46 -9.41)'%3e%3crect class='cls-1' x='104.86' y='213.02' width='121.22' height='190.81'/%3e%3c/clipPath%3e%3cclipPath id='clip-path-2' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M160,284.47c-.62,0-1.23,0-1.84-.07l-11.62,5.82a9.59,9.59,0,0,1,.1,2l11.68,5.89L155.11,301a21.8,21.8,0,0,1,2.82,4.59c.57-6.59,3-11.26,6.69-14.79a8.38,8.38,0,0,1-2.09-6.41,23.82,23.82,0,0,1-2.53.13m10.95,0a22.52,22.52,0,0,1-2.46-.13,8.18,8.18,0,0,1-2.09,6.26c3.39,3.75,6.19,8.07,6.54,14.86a22.48,22.48,0,0,1,11.85-11,8.67,8.67,0,0,1,.5-6.76,22.5,22.5,0,0,1-8-4,23.51,23.51,0,0,1-6.37.84'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient' x1='-27' y1='795.09' x2='-26' y2='795.09' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94502.9)' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0' stop-color='%23ef5b9d'/%3e%3cstop offset='1' stop-color='%23a170b0'/%3e%3c/linearGradient%3e%3cclipPath id='clip-path-3' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M146.15,294.26a23.42,23.42,0,0,1,9,6.69l3.21-2.84-11.68-5.89a5.51,5.51,0,0,1-.49,2m-.43-6.61a7.62,7.62,0,0,1,.82,2.57l11.62-5.82a20.8,20.8,0,0,1-4.46-.77,24.75,24.75,0,0,1-8,4'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-2' x1='-27' y1='795.07' x2='-26' y2='795.07' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-4' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M128.92,305.46a21.54,21.54,0,0,1,14.65,5.37l.27-.2a18.77,18.77,0,0,1-.77-3.65l-14.16-1.73c0,.07,0,.14,0,.21m2.8-12.79a22.87,22.87,0,0,1-4.21,5.44l14-5.56a8.26,8.26,0,0,1-1.25-2.6,23.39,23.39,0,0,1-8.54,2.72M186.43,295c2,4.15,2.39,11.79.36,16.22A23.21,23.21,0,0,1,202,305.46a8.09,8.09,0,0,1,3-6,23.23,23.23,0,0,1-5.81-6.82,21.6,21.6,0,0,1-8.41-2.72,8.32,8.32,0,0,1-4.39,5'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-3' x1='-27' y1='795.09' x2='-26' y2='795.09' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94496.59)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-5' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M143.57,310.83l.5.45c-.08-.21-.16-.42-.23-.65Zm-16.06-12.72c-.49.46-1,.9-1.54,1.32a8.35,8.35,0,0,1,2.94,5.82L143.07,307c-.49-4.15,0-9.07,1.5-12a7.74,7.74,0,0,1-3.06-2.43Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-4' x1='-27' y1='795.08' x2='-26' y2='795.08' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94493.99)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-6' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M164.36,303.63a15.88,15.88,0,0,0-3.65,7.54l1.19.25-1.46,2.21c0,.23,0,.46,0,.7,0,4.79,1.65,7.95,5,9.21,3.43-1.3,5.06-4.61,4.95-9.46a16.45,16.45,0,0,0-4.26-10.85l-.68-.67Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-5' x1='-27' y1='795.09' x2='-26' y2='795.09' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94483.98)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-7' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M160.44,313.63l1.46-2.21-1.2-.25a17.33,17.33,0,0,0-.26,2.46'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-6' x1='-27' y1='795.01' x2='-26' y2='795.01' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94475.36)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-8' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M114.91,309.47a20.76,20.76,0,0,1-2.73,8.41,8.83,8.83,0,0,1,5.11,4.38,21.43,21.43,0,0,1,8.77-1.68,23.26,23.26,0,0,1,4,.32l1.72-1.28a22.44,22.44,0,0,1-4-12.94,7.9,7.9,0,0,1-5.19-2.21l-1.27-.15a24.08,24.08,0,0,1-6.33,5.15'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-7' x1='-27' y1='795.08' x2='-26' y2='795.08' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94482.22)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-9' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M130,320.9a14.34,14.34,0,0,1,3.43,1c-.59-.73-1.16-1.48-1.71-2.29Zm-8.78-16.58,1.27.15a8.91,8.91,0,0,1-.7-.8l-.57.65'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-8' x1='-27' y1='795.08' x2='-26' y2='795.08' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94482.86)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-10' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M154.12,323.2l-1.19.17a5.91,5.91,0,0,0,1.21.8l4.74-.25c1.71-2.44,1.42-5.68.38-8.5Zm-5.25-14.49,7.38,1.53a16,16,0,0,0-6.46-4.54,18.53,18.53,0,0,0-.92,3m21.8,10.63A6.83,6.83,0,0,0,173,325h.17c3.95,0,6-2.59,7.45-5.55,1.83-3.67,2.45-9.54.36-13.8a16.51,16.51,0,0,0-10.32,13.71m32.58-12.66a21.62,21.62,0,0,1-5.82,15.15,21.37,21.37,0,0,1,7.5-1.21,20.42,20.42,0,0,1,8.79,1.72,8,8,0,0,1,5-4.39,22.77,22.77,0,0,1-2.73-8.48,22.86,22.86,0,0,1-6.75-5.74,8.5,8.5,0,0,1-6,2.95'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-9' x1='-27' y1='795.09' x2='-26' y2='795.09' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94482.81)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-11' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M154.14,324.17a7.89,7.89,0,0,0,3.25.85h0c.58,0,1.06-.54,1.43-1.07l0,0ZM148.73,315a18,18,0,0,0,3.35,7.46,5.88,5.88,0,0,0,.85.88l1.19-.17,5.14-7.78a16.72,16.72,0,0,0-2.57-4.65l-.44-.53-7.38-1.53a16.32,16.32,0,0,0-.14,6.32'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-10' x1='-27' y1='795.07' x2='-26' y2='795.07' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94477.83)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-12' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M140.38,325.12A16.91,16.91,0,0,0,142,326.8c1.57,1.44,3.54,3.08,6.17,3.22h.33l.53,0,3.14-4a6.7,6.7,0,0,0-.62-2.47ZM136.67,316l1.81-1.35c-.6-.06-1.22-.11-1.86-.12,0,.5,0,1,0,1.47m45.26,3.81a15.23,15.23,0,0,0-2.48,3.34,7.4,7.4,0,0,0,0,6.16,7.77,7.77,0,0,0,2.72.68h.39a8.17,8.17,0,0,0,4.7-1.9,16.4,16.4,0,0,0,7-13.63h-.17a16.22,16.22,0,0,0-12.14,5.34'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-11' x1='-27' y1='795.07' x2='-26' y2='795.07' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94472.11)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-13' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M149,330a8.45,8.45,0,0,0,2.49-.68,6.74,6.74,0,0,0,.66-2.94c0-.12,0-.24,0-.35ZM136.67,316a16.2,16.2,0,0,0,3.71,9.16l11.13-1.55a14,14,0,0,0-1.31-2.16,16.09,16.09,0,0,0-11.72-6.8Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-12' x1='-27' y1='795.06' x2='-26' y2='795.06' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94471.92)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-14' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M127.82,327.74a16.5,16.5,0,0,0,8.8,9,14.28,14.28,0,0,0,5.31,1.21c.26,0,.51,0,.76,0l4-5.1-.17-.4c-1-2.22-2.77-3.21-5.05-4.34a15.43,15.43,0,0,0-4.12-1.41,16.9,16.9,0,0,0-3-.27,15.82,15.82,0,0,0-6.54,1.31m65.65-1.16a17.92,17.92,0,0,0-4.18,1.42,15.19,15.19,0,0,0-3.39,2.16,7.46,7.46,0,0,0-1.58,2.2,5.94,5.94,0,0,0-.61,3.18c.15.57,1.14,1.18,1.87,1.57a6.23,6.23,0,0,0,3.16.87l.63,0a16.63,16.63,0,0,0,8.59-3.47,16.1,16.1,0,0,0,5.07-6.91,16.9,16.9,0,0,0-6.54-1.29,16.1,16.1,0,0,0-3,.29M217,324.41a6.24,6.24,0,0,1-2.57-.49,22.39,22.39,0,0,1-11.27,11.77A23.29,23.29,0,0,1,218,342.3a8.48,8.48,0,0,1,5.46-2.06c.28,0,.57,0,.87,0a23.48,23.48,0,0,1,.72-8.82,24.85,24.85,0,0,1-4-8,8.9,8.9,0,0,1-4.05.93m-111.15,7a23.52,23.52,0,0,1,.72,8.9,9,9,0,0,1,1-.06,8.25,8.25,0,0,1,5.31,2.08,22.13,22.13,0,0,1,14.79-6.53,22.8,22.8,0,0,1-11.08-11.85,7.11,7.11,0,0,1-2.66.47,8.25,8.25,0,0,1-4.07-1,21.79,21.79,0,0,1-4,8'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-13' x1='-27' y1='795.08' x2='-26' y2='795.08' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.27, -94464.29)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-15' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M142.69,338a6.74,6.74,0,0,0,2.24-.58c.76-.35,2.14-1,2.31-1.76a5.33,5.33,0,0,0-.51-2.76Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-14' x1='-27' y1='795.02' x2='-26' y2='795.02' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94453.69)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-16' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M189.71,338.86a7.32,7.32,0,0,0-4.51,4.31c0,.1.07.21.11.31L190.6,340l1.66,7.95c.46.06.94.11,1.43.14l1,0a15.57,15.57,0,0,0,6.54-1.44l2.78-3.09.54,1.06.52-.43,1.14-1-1.43-1.35a16.16,16.16,0,0,0-10.52-3.58,17.18,17.18,0,0,0-4.53.56'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-15' x1='-27' y1='795.04' x2='-26' y2='795.04' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94448.23)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-17' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M201.21,346.72a17.19,17.19,0,0,0,3.32-2l-.54-1.06Zm-15.9-3.24c1.1,2.8,3.51,4.07,6.95,4.51L190.6,340Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-16' x1='-27' y1='795.03' x2='-26' y2='795.03' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94446.5)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-18' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M136.9,348.29h0c3.69,0,6.44-1.15,8-3.38Zm-5.31-9.13a17.36,17.36,0,0,0-5.42,2.83l-1.41,1.3,2.16,1.87a15.55,15.55,0,0,0,7.69,3l7.13-9-.54-.18a18.47,18.47,0,0,0-9.61.2'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-17' x1='-27' y1='795.04' x2='-26' y2='795.04' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94448.11)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-19' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M134.61,348.15l1.24.11,1.05,0,8-3.38a7.53,7.53,0,0,0,.84-1.65,7.48,7.48,0,0,0-4-4.12Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-18' x1='-27' y1='795.04' x2='-26' y2='795.04' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94447.39)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-20' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M207.3,350.15l2.95,5.83q.51.57,1,1.17l-.11-.27L217.19,345a22.58,22.58,0,0,1-9.89,5.19m17,.69a25.05,25.05,0,0,1,0-4.66,7.86,7.86,0,0,1-1,.05,7.72,7.72,0,0,1-4.53-1.45Zm-112.35-6a7.57,7.57,0,0,1-4.61,1.39c-.25,0-.51,0-.78,0a22.7,22.7,0,0,1-.72,8.83,23.61,23.61,0,0,1,4,8,8.64,8.64,0,0,1,4-.94,6,6,0,0,1,2.59.51,22.29,22.29,0,0,1,11.28-11.78,22.86,22.86,0,0,1-13.44-5.39L113,344.1Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-19' x1='-27' y1='795.08' x2='-26' y2='795.08' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94442.44)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-21' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M203.17,350.69a24.22,24.22,0,0,1,7.08,5.29l-2.95-5.83a24.58,24.58,0,0,1-4.13.54m14-5.73-6.06,11.92.11.27a21.89,21.89,0,0,1,3.06,5.41,7.14,7.14,0,0,1,2.76-.49,7.23,7.23,0,0,1,3.92,1,25,25,0,0,1,4.1-8,22.59,22.59,0,0,1-.76-4.24l-5.44-6.06c-.28-.2-.53-.41-.78-.62-.3.27-.6.54-.91.8'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-20' x1='-27' y1='795.08' x2='-26' y2='795.08' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94442.37)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-22' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M193.47,353.75l-3.7,4.89a17,17,0,0,0,4.82,1.38l-.62-5.26,3.09-3.43a16.51,16.51,0,0,0-4.57-2.25Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-21' x1='-27' y1='795.07' x2='-26' y2='795.07' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94440.36)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-23' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M194,354.76l.62,5.26c.31,0,.62.07.94.09l1.06,0a17.09,17.09,0,0,0,6.51-1.34,15.78,15.78,0,0,0-5.16-6.84c-.28-.22-.57-.43-.88-.63Zm-8-5.65c-.71.32-2.07,1.09-2.25,1.75a5.68,5.68,0,0,0,.74,3.39,6.8,6.8,0,0,0,1.81,2.32,17.6,17.6,0,0,0,3.47,2.07l3.7-4.89-1-4.67a14.62,14.62,0,0,0-3-.61l-.59,0a6.67,6.67,0,0,0-2.86.67'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-22' x1='-27' y1='795.05' x2='-26' y2='795.05' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94438.1)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-24' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M182.93,367.65a16.38,16.38,0,0,0,7.93,4.06,25.15,25.15,0,0,0,3.27.33l.18-.61A15.88,15.88,0,0,0,189,359.69Zm-41.38-19.08A16.34,16.34,0,0,0,127.89,359a14.36,14.36,0,0,0,6.18,1.24,17.52,17.52,0,0,0,6.1-1.05,15.53,15.53,0,0,0,2.6-1.24,8.26,8.26,0,0,0,3.83-3.74,6.49,6.49,0,0,0,.69-3.1c-.14-.64-1.25-1.26-2-1.65a6.52,6.52,0,0,0-3.14-.86c-.2,0-.4,0-.61,0'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-23' x1='-27' y1='795.1' x2='-26' y2='795.1' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94437.99)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-25' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M179.46,357.21a7.46,7.46,0,0,0-.67,2.93,8.48,8.48,0,0,0,1.88,4.91,17.42,17.42,0,0,0,2.26,2.6l6-8a16.32,16.32,0,0,0-1.76-1.37,14.37,14.37,0,0,0-1.81-1.19,7.3,7.3,0,0,0-3-.59,6.37,6.37,0,0,0-3,.67'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-24' x1='-27' y1='795.05' x2='-26' y2='795.05' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94430)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-26' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M175.63,377.28a17.78,17.78,0,0,0,5.41,3.56h.12c1.62-3.34,1.52-7.89.46-11.46Zm-2.38-15.81c-.8.16-1.52,1.66-1.81,2.25a6.43,6.43,0,0,0-.67,3.35,16.37,16.37,0,0,0,3.22,8.34l1.95-13.49a7.43,7.43,0,0,0-2.24-.5,2.14,2.14,0,0,0-.45.05m-27.67-4.2a15.41,15.41,0,0,0-6.14,5.61,15.64,15.64,0,0,0-2.69,9.05l.05.17a16.76,16.76,0,0,0,9.16-2.68,16,16,0,0,0,5.59-6.17,7.07,7.07,0,0,0,0-6,5.41,5.41,0,0,0-2.75-.66,8.13,8.13,0,0,0-3.19.66'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-25' x1='-27' y1='795.1' x2='-26' y2='795.1' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94429.92)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-27' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M174,375.41l.13.18a16.37,16.37,0,0,0,1.51,1.69l6-7.9a15.37,15.37,0,0,0-.88-2.29c-1.14-2.26-2.29-4.2-4.71-5.14l-.09,0Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-26' x1='-27' y1='795.06' x2='-26' y2='795.06' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94424.61)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-28' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M151.26,367.72l2-4.68a11.14,11.14,0,0,0-2.9,4.06,15.36,15.36,0,0,0-1.61,9.23,15.86,15.86,0,0,0,.73,3.45l.51,1.12a16.93,16.93,0,0,0,6.84-5.17,16,16,0,0,0,3.42-8.48,6.42,6.42,0,0,0-.69-3.45,8.55,8.55,0,0,0-1-1.74Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-27' x1='-27' y1='795.08' x2='-26' y2='795.08' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94424.48)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-29' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M154.71,362.17a7.25,7.25,0,0,0-1.44.87l-2,4.68,7.29-5.66a1.47,1.47,0,0,0-.79-.57,1.84,1.84,0,0,0-.41,0,7.3,7.3,0,0,0-2.64.72'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-28' x1='-27' y1='795.03' x2='-26' y2='795.03' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94425.09)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-30' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M206.42,365.83l-3.68,9.06a24,24,0,0,1,.51,4.9,7.85,7.85,0,0,1,5.95,3A23,23,0,0,1,216,377a23.05,23.05,0,0,1,1.16-5l-2.48-6.18a9.34,9.34,0,0,1-1.05-1.57,20.28,20.28,0,0,1-7.24,1.62m-94.24,2.62a22.78,22.78,0,0,1,2.73,8.54,21.7,21.7,0,0,1,6.75,5.74,8.44,8.44,0,0,1,6-2.94A22.1,22.1,0,0,1,133,365.14l.36-.57a18.12,18.12,0,0,1-7.2,1.28,22,22,0,0,1-9-1.71,7.49,7.49,0,0,1-5,4.31m49-.92c-1.86,6.54.94,13.57,4.41,16.39,3.46-3,6.18-9.8,4.3-16.41a7.25,7.25,0,0,0-4.3-4.51,7,7,0,0,0-4.41,4.53'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-29' x1='-27' y1='795.09' x2='-26' y2='795.09' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94423.53)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-31' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M217.19,372a21.71,21.71,0,0,1,1.57-3.37,8.86,8.86,0,0,1-4-2.81Zm-19.69-7.39a23.88,23.88,0,0,1,5.24,10.32l3.68-9.06c-.51,0-1,.05-1.53.05A19,19,0,0,1,197.5,364.57Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-30' x1='-27' y1='795.04' x2='-26' y2='795.04' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94421.96)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-32' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M186.36,391.36a8.66,8.66,0,0,1,4.39,5.16,21.79,21.79,0,0,1,8.48-2.73A22.7,22.7,0,0,1,205,387a8.73,8.73,0,0,1-2.94-6c-.6,0-1.17,0-1.74-.08L197.82,387l-.78-6.52a21.56,21.56,0,0,1-10.16-5.3c1.71,4.36,1.67,12.11-.52,16.18'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-31' x1='-27' y1='795.18' x2='-26' y2='795.18' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94421.96)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-33' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M197,380.48l.78,6.52,2.46-6.07A23,23,0,0,1,197,380.48Z'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-32' x1='-27' y1='795.03' x2='-26' y2='795.03' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94406.05)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-34' transform='translate(-12.46 -9.41)'%3e%3cpath class='cls-1' d='M146.15,392.07a8.19,8.19,0,0,1-.49,6.68,24,24,0,0,1,8,4.09A23.18,23.18,0,0,1,160,402a22.32,22.32,0,0,1,2.58.15,7.88,7.88,0,0,1,2-6.26c-3.36-3.79-6.18-8.13-6.53-14.94a22.17,22.17,0,0,1-11.85,11.14m21.47,2.29-1.28,1.36.78,1.09a7.94,7.94,0,0,1,1.29,5.32,23.23,23.23,0,0,1,2.64-.15,21.08,21.08,0,0,1,6.19.86,24.4,24.4,0,0,1,8-4,8.47,8.47,0,0,1-.44-6.61A22.54,22.54,0,0,1,173,380.93a22.53,22.53,0,0,1-5.39,13.43M128.92,381c-.13,2.86-1.49,4.49-2.95,6a21.82,21.82,0,0,1,5.75,6.75,21,21,0,0,1,8.4,2.73,8.37,8.37,0,0,1,4.37-5c-1.94-4.21-2.34-11.77-.34-16.24A23.24,23.24,0,0,1,128.92,381'/%3e%3c/clipPath%3e%3clinearGradient id='linear-gradient-33' x1='-27' y1='795.12' x2='-26' y2='795.12' gradientTransform='matrix(-119.22, 0, 0, 119.22, -3006.23, -94411.27)' xlink:href='%23linear-gradient'/%3e%3cclipPath id='clip-path-35' transform='translate(-12.46 -9.41)'%3e%3crect class='cls-1' x='107.16' y='146.14' width='46.72' height='46.45'/%3e%3c/clipPath%3e%3cclipPath id='clip-path-36' transform='translate(-12.46 -9.41)'%3e%3crect class='cls-1' x='129.11' y='8' width='65.74' height='65.36'/%3e%3c/clipPath%3e%3cclipPath id='clip-path-37' transform='translate(-12.46 -9.41)'%3e%3crect class='cls-1' x='68.38' y='408.61' width='75.57' height='75.56'/%3e%3c/clipPath%3e%3cclipPath id='clip-path-38' transform='translate(-12.46 -9.41)'%3e%3crect class='cls-1' x='60.25' y='56.05' width='73.35' height='73.35'/%3e%3c/clipPath%3e%3cclipPath id='clip-path-39' transform='translate(-12.46 -9.41)'%3e%3crect class='cls-1' x='11.04' y='222.39' width='36.27' height='36.26'/%3e%3c/clipPath%3e%3c/defs%3e%3cg class='cls-2'%3e%3cg id='Isolation_Mode' data-name='Isolation Mode'%3e%3cg class='cls-3'%3e%3cg class='cls-4'%3e%3cpath class='cls-5' d='M151.55,214l.13.3.3,0Z' transform='translate(-12.46 -9.41)'/%3e%3cg class='cls-6'%3e%3crect class='cls-7' x='134.09' y='274.22' width='38.74' height='21.91'/%3e%3c/g%3e%3cg class='cls-8'%3e%3crect class='cls-9' x='133.26' y='274.22' width='12.6' height='17.32'/%3e%3c/g%3e%3cg class='cls-10'%3e%3crect class='cls-11' x='115.05' y='280.53' width='77.53' height='21.25'/%3e%3c/g%3e%3cg class='cls-12'%3e%3crect class='cls-13' x='113.51' y='283.14' width='18.6' height='18.73'/%3e%3c/g%3e%3cg class='cls-14'%3e%3crect class='cls-15' x='147.97' y='293.14' width='10.06' height='20.98'/%3e%3c/g%3e%3cg class='cls-16'%3e%3crect class='cls-17' x='147.98' y='301.76' width='1.46' height='2.46'/%3e%3c/g%3e%3cg class='cls-18'%3e%3crect class='cls-19' x='99.72' y='294.9' width='19.56' height='17.94'/%3e%3c/g%3e%3cg class='cls-20'%3e%3crect class='cls-21' x='108.79' y='294.26' width='12.21' height='18.24'/%3e%3c/g%3e%3cg class='cls-22'%3e%3crect class='cls-23' x='136.41' y='294.32' width='69.89' height='21.26'/%3e%3c/g%3e%3cg class='cls-24'%3e%3crect class='cls-25' x='135.88' y='299.29' width='10.93' height='16.31'/%3e%3c/g%3e%3cg class='cls-26'%3e%3crect class='cls-27' x='124.16' y='305.02' width='57.63' height='15.6'/%3e%3c/g%3e%3cg class='cls-28'%3e%3crect class='cls-29' x='124.21' y='305.2' width='15.47' height='15.4'/%3e%3c/g%3e%3cg class='cls-30'%3e%3crect class='cls-31' x='93.4' y='314' width='119.22' height='18.89'/%3e%3c/g%3e%3cg class='cls-32'%3e%3crect class='cls-33' x='130.24' y='323.43' width='4.74' height='5.1'/%3e%3c/g%3e%3cg class='cls-34'%3e%3crect class='cls-35' x='172.74' y='328.89' width='20.99' height='9.85'/%3e%3c/g%3e%3cg class='cls-36'%3e%3crect class='cls-37' x='172.85' y='330.63' width='19.22' height='7.96'/%3e%3c/g%3e%3cg class='cls-38'%3e%3crect class='cls-39' x='112.3' y='329.01' width='20.14' height='9.86'/%3e%3c/g%3e%3cg class='cls-40'%3e%3crect class='cls-41' x='122.16' y='329.73' width='11.12' height='9.14'/%3e%3c/g%3e%3cg class='cls-42'%3e%3crect class='cls-43' x='93.4' y='334.68' width='118.5' height='18.89'/%3e%3c/g%3e%3cg class='cls-44'%3e%3crect class='cls-45' x='190.71' y='334.75' width='21.9' height='18.89'/%3e%3c/g%3e%3cg class='cls-46'%3e%3crect class='cls-47' x='177.31' y='339.66' width='7.3' height='10.95'/%3e%3c/g%3e%3cg class='cls-48'%3e%3crect class='cls-49' x='171.02' y='339.03' width='19.63' height='11.7'/%3e%3c/g%3e%3cg class='cls-50'%3e%3crect class='cls-51' x='115.44' y='339.13' width='66.54' height='23.49'/%3e%3c/g%3e%3cg class='cls-52'%3e%3crect class='cls-53' x='166.33' y='347.13' width='10.18' height='11.11'/%3e%3c/g%3e%3cg class='cls-54'%3e%3crect class='cls-55' x='124.25' y='347.2' width='46.08' height='24.22'/%3e%3c/g%3e%3cg class='cls-56'%3e%3crect class='cls-57' x='161.53' y='352.51' width='7.64' height='15.36'/%3e%3c/g%3e%3cg class='cls-58'%3e%3crect class='cls-59' x='135.83' y='352.64' width='12.09' height='18.84'/%3e%3c/g%3e%3cg class='cls-60'%3e%3crect class='cls-61' x='138.8' y='352.03' width='7.29' height='6.27'/%3e%3c/g%3e%3cg class='cls-62'%3e%3crect class='cls-63' x='99.72' y='353.59' width='105.01' height='20.92'/%3e%3c/g%3e%3cg class='cls-64'%3e%3crect class='cls-65' x='185.05' y='355.16' width='21.26' height='10.32'/%3e%3c/g%3e%3cg class='cls-66'%3e%3crect class='cls-67' x='173.91' y='365.77' width='18.6' height='21.34'/%3e%3c/g%3e%3cg class='cls-68'%3e%3crect class='cls-69' x='184.58' y='371.07' width='3.24' height='6.51'/%3e%3c/g%3e%3cg class='cls-70'%3e%3crect class='cls-71' x='113.51' y='365.85' width='59.26' height='27.57'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg class='cls-72'%3e%3cg class='cls-73'%3e%3cpath class='cls-74' d='M134.36,155.13l-.91-7.56-2.82,6.93,1.55,3.05Zm3.58,4.8,3.07-1,3-7-5.89,4.58Zm0-3.33,1.09-7.54L134.52,155l.7,3.35Zm2.23,5.55,3.21-.18,4.72-6-6.86,2.89Zm1.57,2.71,3.15.66L151,161l-7.37,1Zm-22.29,0L117.58,162l-7.49-1.08,6.12,4.59Zm11.07-10.21-2.84-7.07-.92,7.46,2.27,2.53Zm12,13.27,2.88,1.45,7-2.8-7.39-.9Zm-23.92,0-2.57-2.28-7.47.88,7.12,2.86Zm4.62-7.94-.18-3.33-6-4.69,3,7Zm2.73-1.56.69-3.24L122.09,149l1.06,7.47Zm-5,3.77-1.06-3.2-7-3,4.71,6Zm2.2,16.82L119.94,180,117,186.79l6-4.68ZM121,176.72l-3.46.19-4.61,5.81,7.06-3ZM119.43,174,116,173.3l-6,4.45,7.61-1.07Zm3.64,8.37L122,189.67l4.59-6-.65-3.11ZM118.62,171l-3.08-1.55-7,2.77,7.62.93Zm12,13.35,2.76,6.85.92-7.46-2.15-2.39Zm9.54-7.58,1,3.11,6.88,2.93-4.6-5.85Zm1.57-2.71,1.79,2.72,7.44,1.07L145,173.37Zm-6.53,6.48-.69,3.26,4.45,5.93-1-7.42Zm7.35-9.5,2.42,2.15,7.5-.89-6.9-2.77ZM137.92,179l.18,3.3,5.86,4.59L141,180Zm-11.2,4.89.87,7.32,2.85-7L129,181.32Z' transform='translate(-12.46 -9.41)'/%3e%3c/g%3e%3c/g%3e%3cg class='cls-3'%3e%3cg class='cls-75'%3e%3cpath class='cls-76' d='M167.48,20.27l-1.3-10.84-4,9.94,2.21,4.37Zm5.13,6.89,4.4-1.44,4.33-10-8.44,6.56Zm0-4.78,1.57-10.81-6.46,8.53,1,4.81Zm3.2,8,4.61-.25,6.77-8.54-9.84,4.14Zm2.25,3.89,4.52.94,8.73-6.49-10.56,1.48Zm-32,0-2.68-4.08L132.7,28.56l8.77,6.57ZM162,19.54,157.9,9.41,156.58,20.1l3.25,3.63Zm17.24,19,4.13,2.07,10.09-4-10.58-1.3Zm-34.28-.05-3.67-3.27L130.54,36.5l10.2,4.1Zm6.63-11.38-.26-4.79-8.58-6.71,4.26,10Zm3.91-2.24,1-4.65-6.55-8.71,1.51,10.7Zm-7.11,5.4-1.51-4.59-10-4.26L143.6,30Zm3.16,24.11-4.7,1.53-4.2,9.72,8.64-6.7Zm-3.18-3.18-5,.27-6.6,8.33,10.12-4.26Zm-2.25-3.89-4.87-1-8.57,6.37,10.9-1.52Zm5.21,12-1.52,10.45,6.58-8.67-.93-4.46ZM144.92,43l-4.42-2.23-10,4,10.94,1.34Zm17.19,19.13L166.06,72l1.32-10.7-3.08-3.43Zm13.66-10.87,1.47,4.46,9.86,4.2-6.59-8.39ZM178,47.37l2.56,3.9,10.67,1.53-8.53-6.39Zm-9.37,9.29-1,4.68,6.38,8.49-1.5-10.62ZM179.21,43l3.46,3.09,10.74-1.27-9.88-4Zm-6.63,11.39.26,4.73,8.4,6.57L177,55.89Zm-16.06,7,1.26,10.49,4.08-10-2.07-4.09Z' transform='translate(-12.46 -9.41)'/%3e%3c/g%3e%3c/g%3e%3cg class='cls-77'%3e%3cg class='cls-78'%3e%3cpath class='cls-79' d='M113.43,409.61a12.73,12.73,0,0,1-3.82.53,14.57,14.57,0,0,1-1.63-.09,4.87,4.87,0,0,1-.8,3.28c-.09.15-.49.63-.48.67a10.47,10.47,0,0,0,.79.84,14,14,0,0,1,3.33,8.29,13.91,13.91,0,0,1,7.26-7,5.22,5.22,0,0,1,.27-4.08,15,15,0,0,1-4.92-2.48m-2.66,60.1a14,14,0,0,1-4,9.17,5.08,5.08,0,0,1,1.29,3.85c.5-.05,1-.07,1.51-.07a14.8,14.8,0,0,1,3.93.51,14,14,0,0,1,4.92-2.47,5.36,5.36,0,0,1-.31-4.18,14,14,0,0,1-7.31-6.81m-9.26,0a13.82,13.82,0,0,1-7.27,7A5.09,5.09,0,0,1,94,480.7a15.22,15.22,0,0,1,4.93,2.47,14.1,14.1,0,0,1,3.89-.51c.52,0,1,0,1.55.07a5.21,5.21,0,0,1,1.3-4,13.72,13.72,0,0,1-4.13-9.12m17.81-3.5c1.25,2.74,1,7.45-.22,10a5.11,5.11,0,0,1,2.7,3.1,13.74,13.74,0,0,1,5.19-1.68,14.9,14.9,0,0,1,3.59-4.21,5,5,0,0,1-1.86-3.67,14.35,14.35,0,0,1-9.4-3.55M93,466.11a13.36,13.36,0,0,1-9.35,3.6,5.14,5.14,0,0,1-1.82,3.71,13.9,13.9,0,0,1,3.55,4.17,14.85,14.85,0,0,1,5.27,1.68,4.64,4.64,0,0,1,2.66-3.1c-1.29-2.5-1.37-7.37-.31-10.06m-16.53-6.77a5.46,5.46,0,0,1-3.15,2.7A12.91,12.91,0,0,1,75,467.23a15.22,15.22,0,0,1,4.26,3.58A4.78,4.78,0,0,1,82.85,469a14.42,14.42,0,0,1,3.55-9.4,11.3,11.3,0,0,1-4.55.82,13.33,13.33,0,0,1-5.42-1m59.51,0a12.6,12.6,0,0,1-5.42,1.06,13,13,0,0,1-4.63-.75,13.33,13.33,0,0,1,3.58,9.35,5.24,5.24,0,0,1,3.72,1.82,14.41,14.41,0,0,1,4.17-3.54,14.07,14.07,0,0,1,1.69-5.23,4.88,4.88,0,0,1-3.11-2.71m-29.8-.74c-2.07.77-3.08,2.73-3.09,5.68a9.78,9.78,0,0,0,2.43,6.61c.13.14.53.66.66.66h0s.29-.28.42-.42a10.13,10.13,0,0,0,2.63-6.69c.07-3-.93-5-3-5.84m4.77-.9h-.1a4.18,4.18,0,0,0-1.43,3.48,10.17,10.17,0,0,0,6.36,8.46,10.46,10.46,0,0,0-.23-8.52c-.91-1.83-2.15-3.43-4.6-3.43m-9.71,0h0a4.39,4.39,0,0,0-3.28,1.56,11.31,11.31,0,0,0-2.07,4.61,10.72,10.72,0,0,0,.65,5.76,10,10,0,0,0,4.27-3.13c1.48-1.85,3.09-5.66,1.34-8.13-.24-.33-.53-.67-.89-.67m15.47-3h-.23a4.88,4.88,0,0,0-1.68.42,4.58,4.58,0,0,0,0,3.8,9.68,9.68,0,0,0,1.54,2.07,10,10,0,0,0,7.49,3.29h.11a10.14,10.14,0,0,0-4.34-8.42,5.12,5.12,0,0,0-2.91-1.16m-21,0h-.21a6.17,6.17,0,0,0-3.81,2,10.09,10.09,0,0,0-3.3,7.59,10.09,10.09,0,0,0,8.38-4.27,5.14,5.14,0,0,0,1.2-3.07,4.23,4.23,0,0,0-.41-1.81,4.66,4.66,0,0,0-1.85-.43m-4-4.91a8.68,8.68,0,0,0-3.28.75A10.16,10.16,0,0,0,82.93,456a9.92,9.92,0,0,0,4,.81,10.49,10.49,0,0,0,1.87-.17,9.6,9.6,0,0,0,2.55-.87,5.78,5.78,0,0,0,3.11-2.68,3.66,3.66,0,0,0,.42-1.95c-.1-.44-1-.87-1.42-1.09a4.4,4.4,0,0,0-1.85-.37m28.88,0a3.92,3.92,0,0,0-2,.54c-.45.24-1.06.62-1.15,1a3.51,3.51,0,0,0,.38,2,4.52,4.52,0,0,0,1,1.36,9.38,9.38,0,0,0,2.09,1.33,10.92,10.92,0,0,0,2.58.88,9.69,9.69,0,0,0,1.86.18,10.57,10.57,0,0,0,4-.79,9.87,9.87,0,0,0-3.13-4.27,10.22,10.22,0,0,0-5.3-2.14l-.39,0M73.72,447a5,5,0,0,1-3.27,1.28l-.63,0a14.37,14.37,0,0,1-.44,5.49,13.51,13.51,0,0,1,2.49,4.92,5,5,0,0,1,2.51-.61,4.35,4.35,0,0,1,1.64.29A14,14,0,0,1,82.85,451a13.72,13.72,0,0,1-9.13-4m64.88,0a14.42,14.42,0,0,1-9.17,4.08,13.81,13.81,0,0,1,6.95,7.26A3.82,3.82,0,0,1,138,458a5.66,5.66,0,0,1,2.5.57,15.57,15.57,0,0,1,2.47-4.92,14.69,14.69,0,0,1-.44-5.44l-.53,0A5.21,5.21,0,0,1,138.6,447m-14.42-3.61h-.6c-2.68.17-4.52,1-5.25,3.07a4.55,4.55,0,0,0,2.79,2.65,10.57,10.57,0,0,0,2.8.35,10.78,10.78,0,0,0,3.14-.44,10.57,10.57,0,0,0,3.35-1.77c.19-.15.88-.69.88-.84a5.46,5.46,0,0,0-.7-.63,9.9,9.9,0,0,0-6.41-2.4m-35.63-.08c-.22,0-.44,0-.67,0a9.83,9.83,0,0,0-5.51,1.9c-.19.14-1.34.93-1.34,1.16a5.49,5.49,0,0,0,.88.8,10.54,10.54,0,0,0,3.35,1.75,10.74,10.74,0,0,0,3.19.45,10.47,10.47,0,0,0,2.73-.33,4.46,4.46,0,0,0,2.8-2.65c-.73-2.05-2.64-3.1-5.43-3.1M125.37,436l-.66,0a10.76,10.76,0,0,0-5.69,2.18,4.17,4.17,0,0,0-1.12,1.44,3.53,3.53,0,0,0-.46,2.09c.11.4,1,.88,1.4,1.08a4.06,4.06,0,0,0,1.76.41H121A10.15,10.15,0,0,0,126.2,441a9.7,9.7,0,0,0,3.18-4.22,10.48,10.48,0,0,0-4-.83m-38.58,0a8.9,8.9,0,0,0-3.82.77,10.11,10.11,0,0,0,8.43,6.4l.38,0a4,4,0,0,0,1.93-.54c.46-.24,1.15-.62,1.23-1a4,4,0,0,0-.42-1.92,5.1,5.1,0,0,0-2.37-2.31,10.28,10.28,0,0,0-1.6-.77,10.91,10.91,0,0,0-3.76-.64m-14.92-1.72a14.72,14.72,0,0,1-2.49,4.92,14.1,14.1,0,0,1,.44,5.45l.49,0a4.65,4.65,0,0,1,2.83.86c.15.09.6.44.62.44a10.61,10.61,0,0,0,.85-.79,14,14,0,0,1,8.29-3.33,13.82,13.82,0,0,1-7-7.27,3.67,3.67,0,0,1-1.59.31,5.44,5.44,0,0,1-2.48-.57m68.55,0a4.52,4.52,0,0,1-2.42.61,4.37,4.37,0,0,1-1.7-.3,13.68,13.68,0,0,1-6.87,7.32,13.93,13.93,0,0,1,9.21,4,4.87,4.87,0,0,1,3.27-1.28,4,4,0,0,1,.59,0,15.26,15.26,0,0,1,.44-5.5,15.45,15.45,0,0,1-2.52-4.92m-16.57-5.54a14.86,14.86,0,0,0-2,.2,10.06,10.06,0,0,0-6.29,4.11,5.23,5.23,0,0,0-1.16,3,4.4,4.4,0,0,0,.42,1.81,3.82,3.82,0,0,0,1.83.41,4.59,4.59,0,0,0,1.83-.36,10.62,10.62,0,0,0,1.12-.73,10,10,0,0,0,2.76-2.79A9.57,9.57,0,0,0,124,429c0-.09.08-.36-.11-.38m-35.37,0,0,.1a9.74,9.74,0,0,0,1.66,5.59,9.55,9.55,0,0,0,3.79,3.46,5,5,0,0,0,2,.41,3.34,3.34,0,0,0,1.7-.41,4.37,4.37,0,0,0,0-3.69,9.9,9.9,0,0,0-3.45-3.81,10.38,10.38,0,0,0-5.64-1.65m27.36-5.39h-.07a10.56,10.56,0,0,0-4.27,3.24,10,10,0,0,0-2.06,5.26,3.94,3.94,0,0,0,.41,2.06c.17.37.62,1.29,1.11,1.39a1.24,1.24,0,0,0,.27,0,4.54,4.54,0,0,0,1.45-.33,5.63,5.63,0,0,0,2.9-3.17,10.58,10.58,0,0,0,.26-8.48m-19.22,0a3,3,0,0,0-.32.69,11.14,11.14,0,0,0-.46,2.13,9.55,9.55,0,0,0,1,5.7,5.67,5.67,0,0,0,2.68,3,4.59,4.59,0,0,0,1.63.44,1,1,0,0,0,.25,0c.47-.1.89-.94,1.12-1.43a4,4,0,0,0,.43-2.13,9.83,9.83,0,0,0-2.12-5.23,10.31,10.31,0,0,0-4.21-3.19M79.13,422A13.66,13.66,0,0,1,75,425.57a14.15,14.15,0,0,1-1.68,5.27,4.57,4.57,0,0,1,3.1,2.66,13.56,13.56,0,0,1,5.53-1.06,11.25,11.25,0,0,1,4.44.79c.07-.18-.14-.24-.22-.36a13.68,13.68,0,0,1-3.28-9A5.22,5.22,0,0,1,79.13,422m54,0a4.87,4.87,0,0,1-3.68,1.86,14.13,14.13,0,0,1-3.54,9.39,11.68,11.68,0,0,1,4.56-.81,13.35,13.35,0,0,1,5.41,1,5.52,5.52,0,0,1,3.15-2.7,13.24,13.24,0,0,1-1.69-5.18,14.33,14.33,0,0,1-4.21-3.59m-26.93-.69c-2.14,1.74-3.87,6.07-2.72,10.11a4.35,4.35,0,0,0,2.72,2.8,4.46,4.46,0,0,0,2.66-2.79,10.33,10.33,0,0,0-2.66-10.12m-15.7-7.78a13,13,0,0,1-5.18,1.69,13.46,13.46,0,0,1-3.55,4.16,5.4,5.4,0,0,1,1.82,3.73A14.29,14.29,0,0,1,93,426.63a14.22,14.22,0,0,1,.22-10,5.17,5.17,0,0,1-2.7-3.1m31.24,0a5.35,5.35,0,0,1-2.7,3.19c1.35,2.51,1.37,7.29.31,10a13.35,13.35,0,0,1,9.35-3.59,5.45,5.45,0,0,1,1.81-3.73A14.11,14.11,0,0,1,127,415.2a13.44,13.44,0,0,1-5.23-1.69m-22.91-3.9a14.59,14.59,0,0,1-4.92,2.53,5,5,0,0,1,.31,4.12,13.71,13.71,0,0,1,7.32,6.87,14.17,14.17,0,0,1,4-9.22,4.87,4.87,0,0,1-1.24-3.86,13.77,13.77,0,0,1-1.57.09,14.24,14.24,0,0,1-3.92-.53' transform='translate(-12.46 -9.41)'/%3e%3c/g%3e%3c/g%3e%3cpath class='cls-79' d='M70.72,51.22a7.07,7.07,0,0,1-2.15.3c-.31,0-.62,0-.92-.05a2.79,2.79,0,0,1-.45,1.85,3.58,3.58,0,0,0-.27.38s.35.35.45.47a7.93,7.93,0,0,1,1.87,4.67,7.83,7.83,0,0,1,4.09-3.92,3,3,0,0,1,.15-2.3,8.4,8.4,0,0,1-2.77-1.4m-1.5,33.86A7.86,7.86,0,0,1,67,90.25a2.84,2.84,0,0,1,.73,2.17,8.06,8.06,0,0,1,.85,0,8.41,8.41,0,0,1,2.22.29,8,8,0,0,1,2.77-1.4,3,3,0,0,1-.18-2.35,7.85,7.85,0,0,1-4.12-3.84m-5.21,0A7.83,7.83,0,0,1,59.91,89a2.88,2.88,0,0,1-.15,2.29,8.8,8.8,0,0,1,2.77,1.4,7.82,7.82,0,0,1,2.2-.29,8.44,8.44,0,0,1,.87,0,2.92,2.92,0,0,1,.73-2.22A7.75,7.75,0,0,1,64,85.05m10-2a7.91,7.91,0,0,1-.12,5.63,2.94,2.94,0,0,1,1.52,1.75,7.61,7.61,0,0,1,2.92-.94,8.34,8.34,0,0,1,2-2.38,2.83,2.83,0,0,1-1.06-2.07,8.11,8.11,0,0,1-5.29-2m-14.85,0a7.52,7.52,0,0,1-5.27,2,2.93,2.93,0,0,1-1,2.1,7.58,7.58,0,0,1,2,2.35,8.11,8.11,0,0,1,3,.94,2.64,2.64,0,0,1,1.5-1.75,8.27,8.27,0,0,1-.17-5.66m-9.32-3.82a3,3,0,0,1-1.77,1.52,7.39,7.39,0,0,1,.95,2.93,8.66,8.66,0,0,1,2.4,2,2.66,2.66,0,0,1,2-1,8.14,8.14,0,0,1,2-5.3,6.33,6.33,0,0,1-2.56.46,7.59,7.59,0,0,1-3.06-.58m33.53,0a7.06,7.06,0,0,1-3.05.6,7.36,7.36,0,0,1-2.61-.42,7.48,7.48,0,0,1,2,5.27,3,3,0,0,1,2.1,1,8,8,0,0,1,2.35-2,7.6,7.6,0,0,1,1-3,2.75,2.75,0,0,1-1.76-1.53M66.61,78.8c-1.16.43-1.73,1.53-1.74,3.2a5.57,5.57,0,0,0,1.37,3.72c.08.08.3.37.38.37h0l.23-.24a5.65,5.65,0,0,0,1.48-3.77c0-1.68-.52-2.83-1.72-3.28m2.69-.51h0a2.37,2.37,0,0,0-.81,2A5.71,5.71,0,0,0,72,85a5.88,5.88,0,0,0-.12-4.8,2.86,2.86,0,0,0-2.6-1.93m-5.47,0h0a2.47,2.47,0,0,0-1.85.88,6.44,6.44,0,0,0-1.17,2.59A6.16,6.16,0,0,0,61.17,85a5.49,5.49,0,0,0,2.4-1.77c.84-1,1.75-3.18.76-4.58-.13-.18-.3-.37-.5-.37m8.72-1.72h-.13a2.6,2.6,0,0,0-1,.23,2.58,2.58,0,0,0,0,2.14,5.25,5.25,0,0,0,.86,1.17A5.65,5.65,0,0,0,76.57,82h.06a5.71,5.71,0,0,0-2.45-4.74,2.81,2.81,0,0,0-1.63-.66m-11.83,0H60.6a3.54,3.54,0,0,0-2.15,1.12,5.7,5.7,0,0,0-1.85,4.28,5.7,5.7,0,0,0,4.72-2.4A2.93,2.93,0,0,0,62,77.8a2.36,2.36,0,0,0-.23-1,2.61,2.61,0,0,0-1-.24m-2.28-2.77a4.83,4.83,0,0,0-1.84.43,5.69,5.69,0,0,0-3.06,3.13,5.54,5.54,0,0,0,2.27.46,6.12,6.12,0,0,0,1-.09,5.69,5.69,0,0,0,1.44-.49,3.28,3.28,0,0,0,1.75-1.51,2,2,0,0,0,.24-1.1c-.06-.25-.54-.49-.8-.61a2.39,2.39,0,0,0-1.05-.22m16.28,0a2.21,2.21,0,0,0-1.1.3c-.25.14-.6.35-.65.55a2.13,2.13,0,0,0,.21,1.11,2.53,2.53,0,0,0,.55.76,5.2,5.2,0,0,0,1.18.75,6.54,6.54,0,0,0,1.45.5,5.33,5.33,0,0,0,1,.1,6,6,0,0,0,2.28-.45A5.67,5.67,0,0,0,77.92,75a5.79,5.79,0,0,0-3-1.21h-.22m-26.37-1.5a2.8,2.8,0,0,1-1.84.72,2.23,2.23,0,0,1-.36,0,8,8,0,0,1-.25,3.1,7.39,7.39,0,0,1,1.4,2.77,2.92,2.92,0,0,1,1.42-.34,2.56,2.56,0,0,1,.93.16,7.89,7.89,0,0,1,3.84-4.12,7.71,7.71,0,0,1-5.14-2.27m36.55,0a8.1,8.1,0,0,1-5.17,2.3,7.76,7.76,0,0,1,3.92,4.09,2.16,2.16,0,0,1,.9-.17,3.3,3.3,0,0,1,1.41.32A8.58,8.58,0,0,1,87.35,76,8.22,8.22,0,0,1,87.1,73l-.3,0a3,3,0,0,1-1.9-.72m-8.12-2h-.34c-1.51.09-2.55.54-3,1.72a2.52,2.52,0,0,0,1.56,1.5,6,6,0,0,0,1.58.19,6.21,6.21,0,0,0,1.77-.24,6,6,0,0,0,1.89-1c.11-.09.5-.39.49-.47a3,3,0,0,0-.39-.36,5.58,5.58,0,0,0-3.61-1.35m-20.08,0h-.37a5.51,5.51,0,0,0-3.11,1.08c-.11.07-.75.52-.75.65a3.18,3.18,0,0,0,.49.45,6.11,6.11,0,0,0,1.89,1,6,6,0,0,0,1.8.25,5.7,5.7,0,0,0,1.54-.19,2.47,2.47,0,0,0,1.57-1.49c-.41-1.16-1.49-1.75-3.06-1.75m20.75-4.12h-.37a6.06,6.06,0,0,0-3.21,1.23,2.4,2.4,0,0,0-.63.81A2,2,0,0,0,73,69.29c.06.23.54.5.79.61a2.22,2.22,0,0,0,1,.24H75a5.66,5.66,0,0,0,3-1.22,5.46,5.46,0,0,0,1.79-2.38,6,6,0,0,0-2.26-.46m-21.74,0a5,5,0,0,0-2.15.43,5.68,5.68,0,0,0,1.77,2.41,5.75,5.75,0,0,0,3,1.2h.21a2.21,2.21,0,0,0,1.09-.3c.26-.14.65-.35.69-.57a2,2,0,0,0-.24-1.08,2.8,2.8,0,0,0-1.33-1.3,5.36,5.36,0,0,0-.9-.44,6.33,6.33,0,0,0-2.12-.36m-8.41-1a8.12,8.12,0,0,1-1.4,2.77,7.82,7.82,0,0,1,.25,3.07h.28A2.55,2.55,0,0,1,48,71.4l.35.25c.05,0,.37-.36.48-.45a7.89,7.89,0,0,1,4.67-1.87,7.85,7.85,0,0,1-3.92-4.1,2.13,2.13,0,0,1-.9.17,3,3,0,0,1-1.4-.32m38.63,0a2.54,2.54,0,0,1-1.36.34,2.61,2.61,0,0,1-1-.17,7.67,7.67,0,0,1-3.88,4.12,7.94,7.94,0,0,1,5.2,2.27,2.76,2.76,0,0,1,1.84-.72l.33,0a8.56,8.56,0,0,1,.25-3.09,8.74,8.74,0,0,1-1.42-2.77M76.6,61.93a10.67,10.67,0,0,0-1.15.11,5.75,5.75,0,0,0-3.54,2.32,3,3,0,0,0-.65,1.71,2.61,2.61,0,0,0,.23,1,2.24,2.24,0,0,0,1,.23,2.59,2.59,0,0,0,1-.2,5.22,5.22,0,0,0,.62-.42,5.52,5.52,0,0,0,1.56-1.56,5.41,5.41,0,0,0,.91-3s0-.2-.05-.21m-19.94,0,0,.06a5.52,5.52,0,0,0,.94,3.15,5.4,5.4,0,0,0,2.13,1.95,2.93,2.93,0,0,0,1.11.22,1.94,1.94,0,0,0,1-.22,2.48,2.48,0,0,0,0-2.08,5.57,5.57,0,0,0-1.95-2.15,5.84,5.84,0,0,0-3.18-.93m15.42-3h0a5.92,5.92,0,0,0-2.4,1.83,5.67,5.67,0,0,0-1.17,3,2.34,2.34,0,0,0,.23,1.16c.1.21.35.73.63.79h.15a2.83,2.83,0,0,0,.82-.18,3.16,3.16,0,0,0,1.63-1.79,6,6,0,0,0,.15-4.78m-10.83,0a1.59,1.59,0,0,0-.18.39,6.44,6.44,0,0,0-.26,1.2,5.44,5.44,0,0,0,.56,3.21,3.17,3.17,0,0,0,1.52,1.71,2.49,2.49,0,0,0,.91.25h.14c.27,0,.51-.53.63-.8a2.2,2.2,0,0,0,.25-1.2,5.56,5.56,0,0,0-1.2-3,5.88,5.88,0,0,0-2.37-1.8m-9.85-.64a7.7,7.7,0,0,1-2.35,2,8.05,8.05,0,0,1-.95,3,2.62,2.62,0,0,1,1.75,1.5,7.56,7.56,0,0,1,3.11-.6,6.29,6.29,0,0,1,2.51.45c0-.1-.08-.14-.13-.2a7.71,7.71,0,0,1-1.85-5.09,2.92,2.92,0,0,1-2.09-1m30.43,0a2.74,2.74,0,0,1-2.07,1.05,8,8,0,0,1-2,5.29,6.59,6.59,0,0,1,2.57-.46,7.54,7.54,0,0,1,3,.58,3.16,3.16,0,0,1,1.78-1.52,7.24,7.24,0,0,1-1-2.92,8,8,0,0,1-2.38-2M66.66,57.8a5.8,5.8,0,0,0-1.53,5.7,2.44,2.44,0,0,0,1.53,1.57,2.5,2.5,0,0,0,1.5-1.56,5.84,5.84,0,0,0-1.5-5.71m-8.85-4.38a7.19,7.19,0,0,1-2.92.95,7.58,7.58,0,0,1-2,2.35,3,3,0,0,1,1,2.1,8,8,0,0,1,5.29,2,8,8,0,0,1,.13-5.64,3,3,0,0,1-1.53-1.75m17.61,0a3.05,3.05,0,0,1-1.53,1.8,8,8,0,0,1,.18,5.62,7.49,7.49,0,0,1,5.26-2,3.06,3.06,0,0,1,1-2.1,8.12,8.12,0,0,1-2-2.35,7.72,7.72,0,0,1-2.94-.95m-12.91-2.2a8.25,8.25,0,0,1-2.77,1.42A2.88,2.88,0,0,1,59.91,55,7.69,7.69,0,0,1,64,58.84a7.93,7.93,0,0,1,2.27-5.19,2.77,2.77,0,0,1-.7-2.18,8.69,8.69,0,0,1-.89.05,7.85,7.85,0,0,1-2.2-.3' transform='translate(-12.46 -9.41)'/%3e%3cg class='cls-80'%3e%3cg class='cls-81'%3e%3cpath class='cls-82' d='M103.9,57.47a12.82,12.82,0,0,1-3.67.5,13.47,13.47,0,0,1-1.56-.08A4.73,4.73,0,0,1,97.91,61c-.1.15-.48.6-.47.64s.6.61.76.81a13.37,13.37,0,0,1,3.19,8,13.3,13.3,0,0,1,7-6.68,5,5,0,0,1,.25-3.91,14.29,14.29,0,0,1-4.71-2.37m-2.55,57.6a13.42,13.42,0,0,1-3.87,8.8,4.83,4.83,0,0,1,1.24,3.69,13.94,13.94,0,0,1,1.45-.07,13.65,13.65,0,0,1,3.77.5,13.32,13.32,0,0,1,4.71-2.38,5.14,5.14,0,0,1-.29-4,13.27,13.27,0,0,1-7-6.54m-8.88,0a13.21,13.21,0,0,1-7,6.67,4.89,4.89,0,0,1-.26,3.91A14.61,14.61,0,0,1,90,128a13.31,13.31,0,0,1,3.73-.5,14.66,14.66,0,0,1,1.48.07,5,5,0,0,1,1.24-3.78,13.17,13.17,0,0,1-4-8.75m17.07-3.35c1.2,2.62.95,7.14-.21,9.59a4.92,4.92,0,0,1,2.59,3,12.88,12.88,0,0,1,5-1.61,13.84,13.84,0,0,1,3.44-4,4.76,4.76,0,0,1-1.79-3.53,13.72,13.72,0,0,1-9-3.39m-25.27-.05a12.72,12.72,0,0,1-9,3.44,4.92,4.92,0,0,1-1.74,3.57,13.17,13.17,0,0,1,3.4,4A14,14,0,0,1,82,124.25a4.49,4.49,0,0,1,2.54-3c-1.23-2.4-1.31-7.07-.29-9.64m-15.85-6.5a5.17,5.17,0,0,1-3,2.6,12.25,12.25,0,0,1,1.62,5,14.73,14.73,0,0,1,4.08,3.43,4.58,4.58,0,0,1,3.48-1.78,13.79,13.79,0,0,1,3.4-9,10.88,10.88,0,0,1-4.36.79,12.72,12.72,0,0,1-5.2-1m57.05,0a12.06,12.06,0,0,1-5.2,1,12.71,12.71,0,0,1-4.43-.71,12.78,12.78,0,0,1,3.44,9,5,5,0,0,1,3.56,1.75,13.7,13.7,0,0,1,4-3.4,13.74,13.74,0,0,1,1.61-5,4.68,4.68,0,0,1-3-2.59m-28.57-.71c-2,.74-3,2.62-3,5.45a9.38,9.38,0,0,0,2.32,6.33c.13.13.52.63.64.63h0s.28-.27.4-.4A9.69,9.69,0,0,0,99.83,110c.07-2.87-.89-4.83-2.93-5.6m4.58-.86h-.1a4,4,0,0,0-1.37,3.34,9.73,9.73,0,0,0,6.1,8.11,10,10,0,0,0-.22-8.16c-.87-1.75-2.06-3.29-4.41-3.29m-9.31,0h0A4.17,4.17,0,0,0,89,105a10.73,10.73,0,0,0-2,4.41,10.23,10.23,0,0,0,.63,5.52,9.44,9.44,0,0,0,4.08-3c1.43-1.77,3-5.42,1.29-7.79-.23-.32-.51-.64-.85-.64M107,100.58h-.22a4.76,4.76,0,0,0-1.61.4,4.4,4.4,0,0,0,0,3.64,9.16,9.16,0,0,0,1.47,2,9.63,9.63,0,0,0,7.19,3.16h.1a9.7,9.7,0,0,0-4.16-8.07,4.88,4.88,0,0,0-2.79-1.12m-20.13,0h-.2a5.92,5.92,0,0,0-3.65,1.9,9.71,9.71,0,0,0-3.16,7.28,9.69,9.69,0,0,0,8-4.09,5,5,0,0,0,1.14-3,4,4,0,0,0-.39-1.73,4.48,4.48,0,0,0-1.78-.42M83,95.84a8.61,8.61,0,0,0-3.14.71,9.76,9.76,0,0,0-5.2,5.34,9.29,9.29,0,0,0,3.86.78,9.8,9.8,0,0,0,1.8-.16,9.25,9.25,0,0,0,2.44-.83,5.59,5.59,0,0,0,3-2.57,3.47,3.47,0,0,0,.4-1.87c-.1-.43-.91-.84-1.36-1A4.2,4.2,0,0,0,83,95.84m27.69,0a3.67,3.67,0,0,0-1.86.52c-.44.23-1,.59-1.11.93a3.51,3.51,0,0,0,.36,1.88,4.15,4.15,0,0,0,.94,1.3,8.59,8.59,0,0,0,2,1.27,10.38,10.38,0,0,0,2.48.85,8.8,8.8,0,0,0,1.78.17,10,10,0,0,0,3.87-.76,9.55,9.55,0,0,0-3-4.09,9.79,9.79,0,0,0-5.08-2.05l-.38,0M65.83,93.28a4.8,4.8,0,0,1-3.14,1.23,4.22,4.22,0,0,1-.6,0,13.83,13.83,0,0,1-.43,5.27,12.75,12.75,0,0,1,2.39,4.72,4.91,4.91,0,0,1,2.41-.58,4.18,4.18,0,0,1,1.57.27,13.48,13.48,0,0,1,6.55-7,13.09,13.09,0,0,1-8.75-3.86m62.19,0a13.81,13.81,0,0,1-8.79,3.91,13.27,13.27,0,0,1,6.67,7,3.68,3.68,0,0,1,1.52-.28,5.38,5.38,0,0,1,2.4.54,14.74,14.74,0,0,1,2.37-4.72,13.75,13.75,0,0,1-.42-5.22l-.52,0A5,5,0,0,1,128,93.28M114.2,89.81l-.57,0c-2.58.16-4.34.92-5,2.94a4.38,4.38,0,0,0,2.67,2.55,10.59,10.59,0,0,0,2.68.32,10.24,10.24,0,0,0,3-.41,10,10,0,0,0,3.21-1.7c.19-.15.85-.66.84-.8a5.34,5.34,0,0,0-.66-.61,9.49,9.49,0,0,0-6.15-2.31M80,89.74l-.63,0a9.37,9.37,0,0,0-5.29,1.83c-.18.13-1.28.89-1.28,1.1a4.31,4.31,0,0,0,.84.77,10.39,10.39,0,0,0,3.21,1.68,10.19,10.19,0,0,0,3.06.43,9.75,9.75,0,0,0,2.62-.32,4.26,4.26,0,0,0,2.68-2.53c-.7-2-2.54-3-5.21-3m35.3-7-.63,0a10.25,10.25,0,0,0-5.46,2.1,4.11,4.11,0,0,0-1.07,1.37,3.43,3.43,0,0,0-.44,2c.11.38.91.84,1.34,1a3.89,3.89,0,0,0,1.69.4l.34,0a9.67,9.67,0,0,0,5-2.07,9.24,9.24,0,0,0,3-4,10.15,10.15,0,0,0-3.85-.8m-37,0a8.6,8.6,0,0,0-3.66.73,9.64,9.64,0,0,0,8.08,6.14h.36A3.76,3.76,0,0,0,85,89.07c.44-.23,1.1-.59,1.18-1a3.76,3.76,0,0,0-.41-1.84,4.84,4.84,0,0,0-2.26-2.21A9.94,9.94,0,0,0,82,83.31a10.54,10.54,0,0,0-3.6-.61M64.05,81a14.09,14.09,0,0,1-2.39,4.72A13.36,13.36,0,0,1,62.09,91h.47a4.46,4.46,0,0,1,2.71.82c.14.09.57.43.6.43a10.32,10.32,0,0,0,.81-.77,13.5,13.5,0,0,1,7.95-3.18,13.28,13.28,0,0,1-6.67-7,3.57,3.57,0,0,1-1.53.3A5.07,5.07,0,0,1,64.05,81m65.72,0a4.26,4.26,0,0,1-2.32.58,4.46,4.46,0,0,1-1.63-.28,13.11,13.11,0,0,1-6.59,7,13.31,13.31,0,0,1,8.83,3.87A4.68,4.68,0,0,1,131.2,91l.57,0a14.43,14.43,0,0,1,.42-5.26A14.73,14.73,0,0,1,129.77,81m-15.88-5.31a15.18,15.18,0,0,0-1.94.19,9.63,9.63,0,0,0-6,3.94,5,5,0,0,0-1.11,2.9,4.22,4.22,0,0,0,.4,1.74,3.77,3.77,0,0,0,1.76.4,4.4,4.4,0,0,0,1.75-.35,9.73,9.73,0,0,0,1.07-.7,9.62,9.62,0,0,0,2.65-2.67A9.17,9.17,0,0,0,114,76.05c0-.09.08-.34-.1-.36M80,75.65l0,.1a9.39,9.39,0,0,0,1.6,5.35,9.05,9.05,0,0,0,3.63,3.32,4.86,4.86,0,0,0,1.89.39,3.2,3.2,0,0,0,1.63-.39,4.15,4.15,0,0,0,0-3.53,9.43,9.43,0,0,0-3.31-3.66A10,10,0,0,0,80,75.65m26.24-5.17h-.07a10.1,10.1,0,0,0-4.09,3.11,9.65,9.65,0,0,0-2,5,3.7,3.7,0,0,0,.39,2c.17.36.6,1.25,1.07,1.34a1.09,1.09,0,0,0,.26,0,4.44,4.44,0,0,0,1.38-.32,5.39,5.39,0,0,0,2.79-3,10.19,10.19,0,0,0,.25-8.13m-18.43,0a3.54,3.54,0,0,0-.31.67,9.9,9.9,0,0,0-.43,2A9.2,9.2,0,0,0,88,78.61a5.37,5.37,0,0,0,2.58,2.91,4.2,4.2,0,0,0,1.55.43l.25,0c.45-.1.85-.91,1.07-1.37a3.84,3.84,0,0,0,.41-2,9.54,9.54,0,0,0-2-5,10,10,0,0,0-4-3.06M71,69.36a13,13,0,0,1-4,3.4,13.59,13.59,0,0,1-1.62,5,4.43,4.43,0,0,1,3,2.55,13,13,0,0,1,5.29-1,10.79,10.79,0,0,1,4.27.75c.07-.16-.14-.23-.22-.33a13.12,13.12,0,0,1-3.14-8.67A5,5,0,0,1,71,69.36m51.79,0a4.65,4.65,0,0,1-3.52,1.78,13.6,13.6,0,0,1-3.4,9,11.33,11.33,0,0,1,4.37-.77,12.66,12.66,0,0,1,5.18,1,5.35,5.35,0,0,1,3-2.59,12.77,12.77,0,0,1-1.61-5,13.59,13.59,0,0,1-4-3.44M97,68.66c-2,1.67-3.7,5.82-2.6,9.69A4.13,4.13,0,0,0,97,81a4.23,4.23,0,0,0,2.55-2.66A9.91,9.91,0,0,0,97,68.66m-15-7.46a12.51,12.51,0,0,1-5,1.62,12.74,12.74,0,0,1-3.4,4,5.15,5.15,0,0,1,1.74,3.57,13.72,13.72,0,0,1,9,3.4,13.61,13.61,0,0,1,.21-9.6,5,5,0,0,1-2.59-3m29.95,0a5.11,5.11,0,0,1-2.59,3.06c1.29,2.4,1.31,7,.3,9.57a12.84,12.84,0,0,1,9-3.45,5.15,5.15,0,0,1,1.74-3.57,13.5,13.5,0,0,1-3.39-4,13,13,0,0,1-5-1.62m-22-3.73a14.23,14.23,0,0,1-4.72,2.42,4.81,4.81,0,0,1,.3,4,13.11,13.11,0,0,1,7,6.59,13.59,13.59,0,0,1,3.86-8.84,4.66,4.66,0,0,1-1.19-3.7,12.62,12.62,0,0,1-1.51.08,13.89,13.89,0,0,1-3.75-.5' transform='translate(-12.46 -9.41)'/%3e%3c/g%3e%3c/g%3e%3cg class='cls-83'%3e%3cg class='cls-84'%3e%3cpath class='cls-74' d='M27.12,223.8,23,231.71,29,239l4.14-8Zm2.26,18.26L25.24,250l6,7.25,4.13-8Zm-9.66-5.5-7.26,6,8,4.15,7.15-6ZM38,234.33l-7.27,6,8,4.16,7.14-6Z' transform='translate(-12.46 -9.41)'/%3e%3c/g%3e%3c/g%3e%3cpath class='cls-85' d='M218,407.49c-19.62,0-35,16.4-35.18,35.48h9C192,428.66,203.69,416.5,218,416.5Z' transform='translate(-12.46 -9.41)'/%3e%3cpath class='cls-86' d='M253.38,443h-9l0,0a26.27,26.27,0,0,1-26.33,26v9A35.08,35.08,0,0,0,253.34,443Z' transform='translate(-12.46 -9.41)'/%3e%3cpath class='cls-87' d='M191.83,443h-9l-.06,0A35,35,0,0,0,218,478.06v-9a26.18,26.18,0,0,1-26.22-26Z' transform='translate(-12.46 -9.41)'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
	.close-icon {
		position: absolute;
		right: 5%;
		top: 5%;

		a {
			color: #fff;
			font-size: rem(20px);
			text-transform: uppercase;
			display: inline-block;
			padding: 12px 12px;
			position: relative;
			transition: 0.3s ease all;
			z-index: 2;
			svg {
				width: rem(25px);
				height: auto;
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					opacity: 0.7;
				}
			}
		}
		span {
			display: inline-block;
			div {
				display: inline-block;
			}
			&.text {
				display: inline-block;
				background: #060606;
				margin-left: 6px;
				padding: 5px 0px;
				@media screen and (max-width: 1199px) {
					background: #000;
				}
			}
			&.icon {
				position: relative;
				&::before {
					content: '';
					width: 50px;
					height: 50px;
					position: absolute;
					border: 1px solid #fff;
					top: 50%;
					left: 50%;
					transform: translate(-42%, -50%);
					border-radius: 50%;
					z-index: -1;
				}
			}
		}
	}
	nav {
		> ul {
			@media screen and (max-width: 991px) {
				margin-top: 30px;
			}
		}
		ul {
			list-style: none;

			> li {
				text-align: center;
				margin-bottom: rem(20px);
				@media screen and (max-width: 575px) {
					text-align: left;
				}
				a {
					color: #a8a8a8;
					font-size: rem(60px);
					text-transform: uppercase;
					font-weight: 900;
					text-decoration: none;
					padding: rem(8px) rem(8px);
					display: inline-block;
					@media screen and (max-width: 991px) {
						font-size: rem(30px);
					}
					@media screen and (max-width: 575px) {
						font-size: rem(25px);
					}
					@media screen and (max-width: 450px) {
						font-size: rem(20px);
					}
					@media screen and (min-width:1025px){
						&:hover {
							color: #fff;
						}
					}
				}
				.submenu {
					height: 0;
					overflow: hidden;
					position: relative;
					visibility: hidden;
					&:before {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						right: 0;
						margin: auto;
						height: 3px;
						width: 150px;
						background: #915a89;
						@media screen and (max-width: 575px) {
							right: auto;
							left: 0;
						}
					}
					&.show {
						margin-top: rem(25px);
						padding-top: rem(25px);
						visibility: visible;
					}
					li {
						margin-bottom: rem(15px);
						a {
							color: #fff;
							font-size: rem(29px);

							@media screen and (max-width: 991px) {
								font-size: rem(22px);
							}
							@media screen and (max-width: 575px) {
								font-size: rem(20px);
							}
							@media screen and (min-width:1025px){
								&:hover {
									color: var(--highlight);
								}
							}
							&:focus {
								color: var(--highlight);
							}
						}
					}
				}
				button[aria-expanded='true'] + ul {
					display: block;
				}
				button {
					outline-style: dashed;
					outline-width: 3px;
					outline-offset: 0px;
					padding: rem(8px) rem(22px);
					outline-color: transparent;
					font-size: rem(60px);
					@media screen and (max-width: 991px) {
						font-size: rem(30px);
						padding: rem(8px) rem(15px);
					}
					@media screen and (max-width: 575px) {
						font-size: rem(25px);
					}
					@media screen and (max-width: 450px) {
						font-size: rem(20px);
					}
				}
				button[aria-haspopup='true'] {
					background: transparent;
					border: 0;
					color: #959595;
					transition: all 0.5s ease;
					margin: 0;
					margin-left: rem(15px);
					position: absolute;
					top: 0px;
					@media screen and (max-width: 991px) {
						margin-left: rem(10px);
					}
					@media screen and (max-width: 575px) {
						right: 0;
					}

					> div {
						position: relative;
						z-index: -1;
						@media screen and (min-width: 991px) {
							top: -6px;
						}
					}
					svg {
						width: rem(37px);
						height: auto;
						@media screen and (max-width: 991px) {
							width: rem(25px);
						}
					}

					&:focus {
						color: #fff;
						outline-color: var(--highlight);
					}
					@media screen and (min-width:1025px){
						&:hover {
							color: #fff;
						}
					}
				}
				button[aria-expanded='true'] {
					transform: rotate(180deg);
				}
				&.active {
					> a,
					button {
						outline-color: var(--highlight);
						color: #fff;
					}
				}
				@media screen and (max-width: 1199px) {
					&.active {
						ul {
							&::before {
								content: unset;
							}
							background: #fff;
							li {
								a {
									color: #000;
								}
							}
						}
					}
				}
			}
		}
	}
}
[lang='ar'] {
	.menuWrapper {
		right: 0;
		left: auto;
		.close-icon {
			a {
				display: inline-flex;
				align-items: center;
			}
			left: 5%;
			right: auto;
			span {
				display: inline-block;
				margin-left: 5px;
				div {
					margin-left: 15px;
				}
				&.text {
					margin-right: -14px;
					margin-left: 0;
				}
			}
		}
		nav {
			ul {
				> li {
					@media screen and (max-width: 575px) {
						text-align: right;
					}
					.submenu {
						&:before {
							@media screen and (max-width: 575px) {
								left: auto;
								right: 0;
							}
						}
					}
					button[aria-haspopup='true'] {
						margin: 0;
						margin-right: rem(15px);
						@media screen and (max-width: 991px) {
							margin-right: rem(10px);
							margin-left: 0;
						}
						@media screen and (max-width: 575px) {
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}
}
// menuu
