<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Abdelnasir Moutasim.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Abdelnasir Moutasim Elbashir Ali
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Technology IT Development Director

                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Abdelnasir Moutasim Elbashir Ali is a Technology IT Development Director with 13 years of experience in ICT domain and specialization in various IT areas in Telecom industry. He graduated with BSc in Computer Science, MSc IT, MSc Telecom & MBA plus ITIL, ITIL SD & PMP Certified. Abdelnasir is a powerful force in the workplace and uses his positive attitude and tireless energy to encourage others to work hard and succeed, moreover he enjoy using his skills to contribute to the exciting technological advances that happen every day.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>