<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Ghaidaa.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Ghaidaa Abdelgadir Sirelkhatim
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">strategy and business planning
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        has over 15 years of experience. Ghaidaa is highly competent in strategy and business planning with experience in budgeting, forecasting and performance monitoring. In addition, she is an expert in financial analysis of income statements and financial review.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>