<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Nasreen’s.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Nasreen Ibraheem Ali</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Head of Wholesale
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Holds a B.S. in Electrical Engineering. She is an experienced telecom professional with over 16 years’ experience in both international fixed and mobile operators. Nasreen is a negotiator who can easily adapt and apply extensive knowledge of the industry to increase revenue and growth opportunities. She is a strong advocate of women empowerment and gender equality; and contributed as a Cantered Leader with McKenzie consultancy as part of the WE initiative launched by Zain Group in 2017.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>