<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/omer-kamal.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Omer Kamal Ali Mukhtar</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Telecom Management professional
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        is a Telecom Management professional with over 17 years of experience in Marketing, Technology, Project Management, and Customer Experience Management. He is experienced in implementing strategies that consistently enhance business and operational targets.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>