<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Dana Abdal.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">دانا عبدال</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">أخصائية تطبيقات الرعاية</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        دانا عبدال هي أخصائية تطبيقات الرعاية في زين الكويت. لقد عملت مع قسم تقنية المعلومات في زين الكويت لأكثر من 10 سنوات وعملت في مشاريع تكنولوجيا المعلومات المتنوعة التي عززت تطوير معرفتها وخبرتها في هذا المجال اليوم. ومن العبارات التي تلهمها 'لا تنظر للأسفل أبدا، إلا إذا كنت تساعد شخصا ما للصعو“. تستمتع دانا أيضا بالعزف على البيانو وكانت أول من أدخل فن إعادة الزخرفة في المنطقة العربية.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>