<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Mohammed Al-Murshed Zain Group.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">محمد المرشد</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير الشبكات</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        يتمتع محمد بخبرة تتجاوز العقدين في قطاع صناعة الاتصالات، لديه مجموعة واسعة من الخبرات في قطاع الشبكات، تكنولوجيا المعلومات، التحول الرقمي، البيع بالجملة، والتدريب والتوجيه، ساهم المرشد في العديد من المشاريع في أسواق الشرق الأوسط وأفريقيا، فهو لديه خبرات واسعة في التعامل مع أنواع مختلفة من المشاريع والتكنولوجيا والثقافات والأشخاص، تتمثل رؤيته في المشاركة والمساهمة في بناء إرث للشباب المحلي وتحفيز الأفراد على تحقيق أحلامهم.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>