<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Mohd Tarawneh Zain Group.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">محمد الطروانة</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير بث الشبكات</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        في مجموعة زين، حيث يشرف على التقنيات التي توفر الاتصال والترابط بما في ذلك التقنيات السلكية واللاسلكية، تعلم الطروانة في مسيرته المهنية أن "النجاح يتطلب تخطيطا جيدا وتصميما واضحا منذ البداية"، وخارج العمل، فهو يحب قضاء الوقت مع أسرته الكبيرة أو الخروج مع زوجته وأطفالهما الثلاثة، إذ يعيش معهم حاليا في دولة الكويت.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>