<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Maysam Al Duaij.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">ميسم الدعيج </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">خبير التحليل الفني للأعمال</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        ميسم الدعيج هي خبيرة رائدة في صناعة وخدمات الاتصالات. وهي حاليا عضو في فريق التحليل الفني للأعمال التي تلعب دورا مهما كواجهة بين الفرق التجارية والمالية والفنية. ميسم حاصلة على شهادة المشارك في إدارة المشاريع من كلية إدارة الأعمال في جامعة جورج واشنطن وأكملت برنامج تطوير القيادة المكثف الذي قدمته جامعة كورنيل في نيويورك بالولايات المتحدة الأمريكية.
                        </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>