<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Nadia Al Saif.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">نادية السيف </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">أخصائي إدارة تطبيقات الرعاية</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        نادية السيف مهندسة كمبيوتر تخرجت من جامعة الكويت. مع 25 عاما من الخبرة في العمل في مختلف المستويات الفنية والتجارية في زين. ومنصبها الحالي هو مدير المخابرات في زين الكويت، حيث تتولى قيادة فرق الرؤية/ التحليل التجاري وإدارة البيانات وهندسة المعلومات. نادية ذات قوة جبارة في مكان عملها وتستخدم موقفها الإيجابي وطاقتها التي لا تعرف الكلل لتشجيع الآخرين على العمل الجاد والنجاح. وتستمتع نادية باستخدام مهاراتها للمساهمة في التطورات التكنولوجية المثيرة التي تحدث كل يوم في زين. نادية مستوحاة يوميا من فريقها الرائع.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>