<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Abdulla AlBinAli.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Abdulla Mohammed Albinali</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Radio Specialist</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Abdulla Mohammed Albinali is Radio Specialist at Zain Bahrain who is responsible for Radio network planning, new site roll-out, and Radio network expansions and leading the site rectification project with TRA. Abdulla is blessed to be part of many success stories at Zain Bahrain like 4G launch, 5G launch, and the most recent deployment of NB-IoT. Abdulla is passionate about looking for new technologies and methods to enhance the customer & end-user experience. Abdulla likes to play video games, read, play sports & watch movies.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>