<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Mubarak Nass.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Mubarak Ebrahim Nass
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Infrastructure & Core Specialist
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Mubarak Ebrahim Nass is Infrastructure & Core Specialist at Zain Bahrain who is responsible for CS Core & Infrastructure deployments, IT help desk & ERP. Mubarak is blessed to be part of many success stories at Zain Bahrain like 4G launch, 5G launch, and most recent being the Apple iWatch enablement & launch. Mubarak is passionate about looking for new technologies and methods to enhance the customer & end-user experience. Mubarak likes to play video games, read & watch movies.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>