<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Ali Al Salam Zain KSA.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">علي صالح السلام</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير أول الفواتير وقبول الأصول الثابتة</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        في شركة زين السعودية، انضم لأول مرة في العام 2007 بعد تخرجه بدرجة بكالوريوس العلوم في المحاسبة من جامعة الملك فهد للبترول والمعادن.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>