<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Bouthina Mahroos Zain KSA.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">بثينة محروس</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">القائم بأعمال مدير الرواتب</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        تتمتع بخبرة 13 عاما في قطاع الموارد البشرية، عملت في صناعات مختلفة بما في ذلك السلع الاستهلاكية والسيارات والخدمات المالية والاتصالات، وتسعى جاهدة للاستمتاع بالرحلة، وخلق توازن بين عملها وحياتها الشخصية، فهي ترفع شعار في الحياة "اعمل بجد بحيث لا تضطر يوما إلى تعريف نفسك".
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>