<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/unnamed.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">غادة متعب</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير إدارة وتخطيط القوى العاملة</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        تتمتع بخبرة تزيد عن 10 سنوات، فهي تشغل حاليا منصب مدير إدارة وتخطيط القوى العاملة حيث أنها حاصلة على درجة البكالوريوس في تكنولوجيا المعلومات، وتعتبر غادة من الشخصيات المحفزة التي تسعى لإحداث فرق في الحياة.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>