<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Maryam Abdullatif Alhabab Zain KSA.jpeg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">مريم الحباب</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير الميزانية والرقابة</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        تتمتع بخبرات كبيرة تصل إلى 10 سنوات في الإدارة المالية في زين السعودية، قبل انتشار فيروس كوفيد 19، كانت لديها الفرصة لفتح أعمالها التجارية الخاصة، فهي شغوفة وطموحة ومتفائلة، ولديها مهارات وقدرات قيادية، وشعارها في الحياة: لا تجعل الابتسامة تفارقك أبدا، بغض النظر عما تخفيه وراء تلك الابتسامة، وعامل الناس بالطريقة التي تريدهم أن يعاملوك بها.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>