<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Rayan Jan Zain KSA.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">ريان فواز جان</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مدير أول تطبيقات تخطيط موارد المؤسسات</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        يتمتع بخبرة تزيد عن 14 عاما في مجال إدارة رأس المال البشري (HCM) وإدارة سلسلة التوريدات (SCM) والاستشارات المالية وتنفيذ جناح أوراكل المحاسبي، ويعتقد ريان أن الحياة ليست مشكلة يجب حلها ولكنها واقع يجب تجربته.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>