.pre-loader-container{
  width: 100%;
  overflow: hidden;
}
.pre-loader{
  width: 100%;
  height: 100%;
  position: fixed;
  left:0px;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 999;
  transition: all 1s ease;
}
/*.pre-loader .inner{
       animation: logo-wrapper 1.50s cubic-bezier(0.900, 0.900, 0.565, 1.000) both;
       animation-delay: 2s;

    }*/
.pre-loader .inner{
  width: 550px;
  position: relative;
}

.loader-wrapper{
       
    }
@keyframes logo-wrapper {
  0% {
        transform: scale(1);
  }
  50%{
        transform: scale(1) ;

  }
  100% {
           transform: scale(.6) translate(-270px, -270px);

  }
}

.logo{
       animation: logo 3s cubic-bezier(0.900, 0.900, 0.565, 1.000) both;
    }
@keyframes logo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50%{
      -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


    .logo1{
    animation: landinglogo_layer1 linear 0.5s;
    animation-iteration-count: 1;
    transform-origin: 0% 0%;
    animation-fill-mode:forwards;

}

@keyframes landinglogo_layer1{
  0% {
    opacity:1;
    transform:  translate(-300px,0px);
  }

  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

    .logo2{
  animation: landinglogo_layer2 linear 0.75s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  animation-fill-mode:forwards;
  animation-delay: 0.75s;

}

@keyframes landinglogo_layer2{
  0% {
    opacity:0;
    transform:  translate(250px,200px) ;
  }

  100% {
    opacity:1;
    transform:  translate(79px,43px) ;
  }
}
   .logo3{
  animation: landinglogo_layer3 linear 0.75s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  animation-fill-mode:forwards;
  animation-delay: 0.75s;

}

@keyframes landinglogo_layer3{
  0% {
    opacity:0;
    transform:  translate(300px,0px) ;
  }

  100% {
    opacity:1;
    transform:  translate(93px,0px) ;
  }
}
.logo4{
  animation: landinglogo_layer4 linear 0.75s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  animation-fill-mode:forwards;
  animation-delay: 0.75s;

}

@keyframes landinglogo_layer4{
  0% {
    opacity:0;
    transform:  translate(-50px,214px) ;
  }



  100% {
    opacity:1;
    transform:  translate(17px,43px) ;
  }
}
.logo5{
  animation: landinglogo_layer5 linear 0.75s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  animation-fill-mode:forwards;
  animation-delay: 0.75s;

}

@keyframes landinglogo_layer5{
  0% {
    opacity:0;
    transform:  translate(240px,-200px) ;
  }
  100% {
    opacity:1;
    transform:  translate(79px,-43px) ;
  }
}
.logo6{
  animation: landinglogo_layer6 linear 0.75s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  animation-fill-mode:forwards;
  animation-delay: 0.75s;

}

@keyframes landinglogo_layer6{
  0% {
    opacity:0;
    transform:  translate(-65px,-200px) ;
  }
  100% {
    opacity:1;
    transform:  translate(17px,-40px) ;
  }
}
/*body{ padding-top: 100px; }*/
.loader-wrapper{padding: 100px 0px;position: fixed; width: 100%; height: 100vh; margin:auto; z-index: 999; background: #fff;transition: all .5s ease;margin:  ;align-items: center; justify-content: center;}
.loaded .pre-loader{left: -120%;}
#loader{text-align: center;}
#loader img{ width:55px; position: absolute; top: -100px; left: 36%; opacity: 0;}
.landing-logo{ padding: 25px 0; text-align: center;}
.landing-logo img{width: 270px;}

