<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Abdulla AlBinAli.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">عبد الله محمد آل بن علي</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مسؤول تخطيط شبكة الراديو</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        في شركة زين البحرين، وهو مسؤول عن تخطيط شبكة الراديو، ونشر المواقع الجديد وتوسعات شبكة الراديو، وقيادة مشروع تصحيح الموقع مع هيئة تنظيم الاتصالات، حقق العديد من قصص النجاح في زين البحرين، حيث كان مسؤولا عن إطلاق شبكة الجيل الرابع، وإطلاق شبكة الجيل الخامس، وإنترنت الأشياء ( NB-IoT) كما أن عبد الله شغوف بالبحث عن تقنيات وأساليب جديدة لتعزيز تجربة العميل، والمستخدم النهائي، ويهوى ممارسة ألعاب الفيديو، القراءة، ممارسة الرياضة، ومشاهدة الأفلام.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>