<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Mubarak Nass.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">مبارك إبراهيم
                    </h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">مسؤول عن عمليات نشر علوم الحاسب والبنية التحتية الأساسية
                    </span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">السيرة الذاتية :</span>
                    <span class="Detail__info innerTextsection">
                        هو متخصص في البنية التحتية والأساسية في شركة زين البحرين، وهو مسؤول عن عمليات نشر علوم الحاسب والبنية التحتية الأساسية ومكتب مساعدة تكنولوجي وتخطيط موارد المؤسسات، ينعم مبارك بكونه جزءًا من العديد من قصص النجاح في زين البحرين مثل إطلاق شبكة الجيل الرابع وإطلاق شبكة الجيل الخامس، وآخرها تمكين وإطلاق Apple iWatch. إن مبارك شغوف بالبحث عن تقنيات وأساليب جديدة لتعزيز تجربة العميل والمستخدم النهائي. ويهوى لعب ألعاب الفيديو وقراءة ومشاهدة الأفلام.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>