@import 'import';
main {
	ul {
		&:not([class]) {
			margin-left: rem(35px);
		}
		li {
			margin-bottom: rem(18px);
			&::marker {
				color: #d31b88;
			}
		}
	}
	ol {
		&:not([class]) {
			margin-left: rem(35px);
		}
		li {
			margin-bottom: rem(18px);
		}
	}
}

.scrollArea {
	.detail {
		padding-right: 15px;
	}
}

.no-scroll {
	overflow: hidden;
}

p {
	font-size: rem(20px);
	@media screen and (max-width: 767px) {
		font-size: rem(17px);
	}
}

.searchPage header,
.sitemapPage header {
	background: rgba(0, 0, 0, 0.6);
	padding: rem(30px) 0px;
	@media screen and (max-width: 767px) {
		padding: rem(15px) 0px;
		background: #000;
	}
}

.sectionTitle {
	font-size: rem(40px);
	color: var(--secondary);
	font-weight: 900;
	padding: rem(25px) 0 rem(30px) 0;
	text-transform: uppercase;
	margin: 0px !important;
	@media screen and (max-width: 1200px) {
		font-size: rem(35px);
	}
	@media screen and (max-width: 991px) {
		font-size: rem(30px);
		padding: rem(16px) 0;
	}
	@media screen and (max-width: 575px) {
		font-size: rem(24px);
	}
}

.iconBorder {
	--width: 65px;
	--borderColor: #fff;
	width: var(--width);
	height: var(--width);
	border-radius: 50%;
	border: solid 1px var(--borderColor);
	display: inline-block;
	@include flex(center, center);
	margin: auto;
}

.overlay {
	--bgcolor: #000;
	--bgopacity: 0.7;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bgcolor);
	opacity: var(--bgopacity);
	z-index: 0;
}

.mainBanner {
	overflow: hidden;
	@media screen and (max-width: 1200px) {
		height: 100%;
	}
	img {
		max-width: 100%;
		width: 100%;
	}
	.carousel {
		height: 100vh;
		overflow: hidden;
		@media screen and (max-width: 1200px) {
			height: 100%;
		}
		.carousel-inner {
			height: 100vh;
			overflow: hidden;
			@media screen and (max-width: 1200px) {
				height: 100%;
			}
		}
	}
}

main {
	@media screen and (max-width: 767px) {
		padding-top: 51px;
	}
	@media screen and (max-width: 370px) {
		padding-top: 85px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.nav-tabs {
	list-style: none;
	border-bottom: unset;
	li {
		display: inline-flex;
	}
	.nav-link {
		padding: rem(18px) rem(12px);
		text-decoration: none;
		font-size: rem(19px);
		font-weight: bold;
		background-color: transparent;
		border-radius: unset;
		text-transform: capitalize;
		transition: 0.3s all ease-in-out;
		border: 0;
		outline: 3px dashed transparent;
		outline-offset: 0px;
		min-height: rem(60px);
		&:focus {
			outline-color: var(--highlight);
		}
		&.active {
			color: var(--primary);
			font-size: rem(20px);
			outline-color: var(--highlight);
		}
		@media screen and (min-width: 1025px) {
			&:hover {
				color: var(--primary);
				font-size: rem(20px);
				outline-color: var(--highlight);
			}
		}
	}
}

.swiper-slide {
	.nav-link {
		&:focus {
			--highlight: var(--primary);
			outline-color: var(--highlight);
			outline-offset: 4px;
		}
	}
}

.tabs {
	.nav-pills {
		@media screen and (max-width: 991px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		li {
			width: 33.3%;
			box-shadow: 0 0 13px 4px rgba($color: #000000, $alpha: 0.2);
			@media screen and (max-width: 991px) {
				width: 65%;
			}
			@media screen and (max-width: 575px) {
				width: 100%;
			}
			a.nav-link {
				text-align: center;
				width: 100%;
				background: #fff !important;
				border: none;
				color: #313131;
				font-size: rem(21px);
				border: 3px solid transparent;
				padding: rem(10px) rem(8px);
				border-radius: 0;
				font-weight: bold;
				text-transform: uppercase;
				padding-left: 0;
				padding-right: 0;
				font-weight: 800;
				outline: none;
				min-height: rem(90px);
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 1.3;
				@media screen and (max-width: 575px) {
					min-height: rem(70px);
				}
				@media screen and (max-width: 1200px) {
					font-size: rem(18px);
					border: 3px solid transparent;
				}
				@media screen and (max-width: 575px) {
					font-size: rem(16px);
				}
				h3 {
					font-size: rem(21px);
					font-weight: bold;
					text-transform: uppercase;
					font-weight: 800;
					margin: 0;
					padding: 0;
					@media screen and (max-width: 1200px) {
						font-size: rem(18px);
					}
					@media screen and (max-width: 575px) {
						font-size: rem(16px);
					}
				}
				&.active {
					color: var(--primary);
				}
				@media screen and (min-width: 1025px) {
					&:hover {
						color: var(--primary);
					}
				}
				&:focus {
					border-style: dashed;
					color: var(--primary);
					border-color: var(--primary);
				}
			}
		}
	}
}

.scrollArea {
	&__contents {
		padding-right: rem(25px);
	}
}

.home {
	.financialReports {
		.sectionTitle {
			color: #ffffff;
		}
	}
}

body.modal-open {
	padding-right: 0px !important;
}

// responisve
@media screen and (max-width: 767px) {
	.d-none-767 {
		display: none !important;
	}
	.d-show-767 {
		display: block !important;
	}
}

.iconTabs {
	--titlecolor: #0c0c0c;
	&__item {
		&--image {
			margin-bottom: rem(16px);
			position: relative;
			min-height: 75px;
			display: flex;
			justify-content: center;
			@media screen and (max-width: 767px) {
				min-height: 60px;
			}
		}
		h3 {
			font-size: rem(20px);
			color: var(--titlecolor);
			font-weight: bold;
			text-align: center;
			transition: 0.4s ease all;
			font-weight: 800;
			opacity: 0.7;
			margin-bottom: 0;
			padding-bottom: 0;
			@media screen and (max-width: 991px) {
				font-size: rem(17px);
			}
		}
		.nav-link {
			--iconbg: transparent;
			padding: rem(10px) rem(15px);
			.tab-icon {
				width: rem(80px);
				height: rem(80px);
				padding: rem(14px);
				@include flex(center, center);
				border-radius: 50%;
				background: var(--iconbg);
				img {
					position: relative;
					&.selected {
						opacity: 0;
						position: relative;
						z-index: -999;
						width: 0;
						height: 0;
					}
				}
			}
			&:focus {
				outline-offset: -5px;
			}
			&.active {
				--titlecolor: var(--secondary);
				--iconbg: var(--primary);
				h3 {
					opacity: 1;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				.tab-icon {
					img {
						opacity: 0;
						visibility: hidden;
						z-index: -999;
						width: 0;
						height: 0;
						max-height: 100%;
						&.selected {
							opacity: 1;
							z-index: 1;
							visibility: visible;
							width: auto;
							height: auto;
						}
					}
				}
			}
		}
	}
}

.swiper-slide {
	outline: none !important;
}

.nav-link {
	--iconbg: transparent;
	.tab-icon {
		width: rem(80px);
		height: rem(80px);
		padding: rem(17px);
		@include flex(center, center);
		border-radius: 50%;
		background: var(--iconbg);
		img {
			position: relative;
			&.selected {
				opacity: 0;
				position: relative;
				z-index: -999;
				width: 0;
				height: 0;
			}
		}
	}
	&.active {
		--iconbg: var(--primary);
		.tab-icon {
			img {
				opacity: 0;
				visibility: hidden;
				z-index: -999;
				width: 0;
				height: 0;
				&.selected {
					opacity: 1;
					z-index: 1;
					visibility: visible;
					width: auto;
					height: auto;
				}
			}
		}
	}
}

[data-color-theme='light'] {
	--highlight: #eada2f;
	--trackcolor: #fff;
	.swiper-slide {
		.nav-link {
			--highlight: #eada2f;
		}
	}
	.scrollArea {
		--barcolor: #d1c12f;
		--trackcolor: #000;
	}
}

// responisve
@media screen and (max-width: 991px) {
	.tableWrapper.on-991 {
		overflow: hidden;
		overflow-x: scroll;
		table {
			width: 1000px !important;
		}
	}
}

@media screen and (max-width: 767px) {
	.tableWrapper.on-767 {
		overflow: hidden;
		overflow-x: scroll;
		table {
			width: 800px !important;
		}
	}
}

@media screen and (max-width: 575px) {
	.tableWrapper.on-575 {
		overflow: hidden;
		overflow-x: scroll;
		table {
			width: 600px !important;
		}
	}
}

// Search Page
.baseSearchlist {
	display: flex;
	flex-wrap: wrap;
	&__item {
		margin-bottom: 65px;
		width: 100%;
		max-width: 100%;
	}
	&__section {
		padding: 0px rem(55px);
		@media screen and (max-width: 575px) {
			padding: 0px rem(0px);
		}
		h2 {
			display: inline-block;
			outline: none;
			margin-right: 15px;
			@media screen and (max-width: 420px) {
				display: block;
				margin-bottom: rem(25px);
			}
		}
		&--title {
			font-size: rem(24px);
			color: #252525;
			text-transform: uppercase;
			font-weight: 800;
			margin-right: rem(55px);
			text-decoration: none;
			position: relative;
			@media screen and (max-width: 767px) {
				font-size: rem(22px);
			}
			@media screen and (max-width: 420px) {
				margin-right: rem(0px);
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					color: #252525;
				}
			}
			&::before {
				content: '';
				position: absolute;
				width: 32px;
				height: 2px;
				background: #252525;
				right: -50px;
				top: 50%;
				transform: translateY(-50%);
				pointer-events: none;
			}
		}
		&--subtitle {
			font-size: rem(24px);
			font-weight: 800;
			color: var(--secondary);
			text-decoration: none;
			display: inline-block;
			outline-offset: 2px;
			@media screen and (max-width: 767px) {
				font-size: rem(20px);
			}
			.icon {
				width: 40px;
				display: inline-block;
				margin-right: rem(8px);
				@media screen and (max-width: 767px) {
					width: 35px;
				}
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					color: var(--primary);
				}
			}
		}
	}
	&__card {
		margin-top: rem(20px);
		background: #fff;
		padding: rem(50px) rem(60px) rem(38px) rem(55px);
		box-shadow: 0px 4px 9px 0px rgba($color: #000000, $alpha: 0.15);
		@media screen and (max-width: 991px) {
			padding: rem(35px);
		}
		@media screen and (max-width: 767px) {
			text-align: center;
			padding: rem(25px) rem(25px) rem(25px) rem(25px);
		}
		h3 {
			outline: none;
		}
		&--date {
			font-size: rem(24px);
			font-weight: 800;
			color: var(--primary);
			display: inline-block;
			margin-bottom: rem(28px);
		}
		&--title {
			font-size: rem(28px);
			font-weight: 900;
			text-transform: uppercase;
			color: var(--secondary);
			max-width: 470px;
			display: block;
			@media screen and (max-width: 991px) {
				margin-left: auto;
				margin-right: auto;
				font-size: rem(23px);
			}
		}
		&--description {
			p {
				font-size: rem(22px);
				margin-top: rem(30px);
				margin-bottom: unset;
				color: #313131;
				font-weight: 600;
				@include truncate(4);
			}
		}
		&--button {
			background: #cf0073 !important;
			margin-top: rem(25px);
			@media screen and (min-width: 1025px) {
				&:hover {
					background: var(--secondary) !important;
				}
			}
		}
		&--media {
			.media-image {
				position: relative;
			}
			@media screen and (max-width: 991px) {
				margin-top: rem(50px);
				text-align: center;
			}
		}
	}
	.mediaVideo {
		position: relative;
		@media screen and (max-width: 991px) {
			margin-top: rem(32px);
			text-align: center;
		}
		@media screen and (min-width: 1025px) {
			&:hover {
				a {
					.icon {
						color: var(--primary);
					}
				}
			}
		}
		.icon {
			display: inline-block;
			width: 65px;
			height: 65px;
			border: 3px solid;
			padding: 15px;
			border-radius: 50%;
			text-align: center;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 0.3s ease all;
		}
	}
}

.sliderPills {
	.sliderPills__item {
		box-shadow: 0 0 13px 0px rgba($color: #000000, $alpha: 0.2);
		background: #fff;
		a.nav-link {
			text-align: center;
			width: 100%;
			background: #fff !important;
			border: none;
			color: #313131;
			font-size: rem(21px);
			padding: rem(10px) rem(8px);
			border-radius: 0;
			font-weight: bold;
			text-transform: uppercase;
			padding-left: 0;
			padding-right: 0;
			font-weight: 800;
			min-height: rem(90px);
			display: flex;
			align-items: center;
			justify-content: center;
			outline-offset: -3px;
			outline: 3px dashed transparent;
			@media screen and (max-width: 1600px) {
			}
			@media screen and (max-width: 1200px) {
				font-size: rem(18px);
			}
			h3 {
				font-size: rem(21px);
				font-weight: bold;
				text-transform: uppercase;
				font-weight: 800;
				margin: 0;
				padding: 0;
				@media screen and (max-width: 1200px) {
					font-size: rem(18px);
				}
			}
			&.active {
				color: var(--primary);
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					color: var(--primary);
				}
			}
			&:focus {
				color: var(--primary);
				outline-color: var(--primary);
				position: relative;
				z-index: 99;
			}
		}
	}
}

.countrySlides {
	&__item {
		a {
			padding: rem(12px) rem(2px);
			font-size: rem(20px);
			color: #585758;
			text-transform: uppercase;
			outline: 3px dashed transparent;
			outline-offset: -2px;
			font-weight: bold;
			text-align: center;
			display: inline-block;
			&.active,
			&:hover,
			&:focus {
				color: var(--primary);
				@media screen and (min-width: 1025px) {
					&:hover {
						color: var(--primary);
					}
				}
			}
			&:focus {
				outline: 3px dashed var(--highlight);
				outline-offset: -1px;
			}
			.country {
				max-width: 30px;
				display: inline-block;
				margin-right: rem(8px);
			}
		}
	}
}

.insetItem {
	padding-left: calc((100% - 1199px) / 2);
	@media screen and (max-width: 1199px) {
		padding-left: 15px;
	}
}

table {
	margin-bottom: rem(20px);
	tr {
		td,
		th {
			padding: rem(15px);
			font-size: rem(18px);
		}
	}
}

.contentWrapper {
	padding-bottom: rem(30px);
}

.overflow-auto {
	width: 100%;
}

.pagination {
	border: unset;
	padding: 5px 0;
	li {
		height: 40px;
		width: 40px;
		@include flex(center, center);
		&:not(:last-child) {
			margin-right: rem(12px);
		}
		a {
			background: transparent;
			border: 1px solid #999999;
			color: #717171;
			font-weight: bold;
			font-size: rem(18px);
			padding: 0 5px;
			margin: 0px 0px;
			@include flex(center, center);
			height: 100%;
			width: 100%;
			@media screen and (max-width: 991px) {
				font-size: 16px;
			}
			&:active {
				box-shadow: unset !important;
				border-color: var(--primary);
			}
			&.page-link {
				outline: none;
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					color: unset;
					text-decoration: none;
					background-color: unset;
					border-color: unset;
					opacity: 0.75;
				}
			}
			&:focus {
				border: 3px dashed var(--primary);
				outline: none;
				box-shadow: none;
			}
		}
		span {
			background: transparent;
			border: 1px solid !important;
			padding: 10px 15px;
			margin: 0px 6px;
		}
		&:first-child {
			a {
				border-radius: 0 !important;
			}
		}
		&:first-child {
			display: flex;
			align-items: center;
			a,
			span {
				position: relative;
				&::before {
					content: '';
					width: 22px;
					height: 30px;
					position: absolute;
					top: 50%;
					left: 50%;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239152a1'%3E%3Cpath fill-rule='evenodd' d='M21.190,12.572 L1.825,0.476 C1.517,0.287 1.149,0.400 0.934,0.759 C0.718,1.117 0.711,1.628 0.916,1.997 L7.285,13.488 L0.916,24.978 C0.711,25.347 0.718,25.860 0.933,26.216 C1.077,26.460 1.293,26.591 1.512,26.591 C1.618,26.591 1.724,26.561 1.824,26.498 L21.189,14.403 C21.454,14.237 21.623,13.881 21.623,13.488 C21.623,13.094 21.454,12.738 21.190,12.572 Z'/%3E%3C/svg%3E");
					transform: translate(-50%, -50%) rotate(180deg);
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			a {
				font-size: 0;
				padding-top: rem(20px);
			}
			span {
				font-size: 0px;
			}
		}
		&:last-child {
			display: flex;
			position: relative;
			align-items: center;
			a,
			span {
				position: relative;
				&::before {
					content: '';
					width: 22px;
					height: 30px;
					position: absolute;
					top: 50%;
					left: 50%;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239152a1'%3E%3Cpath fill-rule='evenodd' d='M21.190,12.572 L1.825,0.476 C1.517,0.287 1.149,0.400 0.934,0.759 C0.718,1.117 0.711,1.628 0.916,1.997 L7.285,13.488 L0.916,24.978 C0.711,25.347 0.718,25.860 0.933,26.216 C1.077,26.460 1.293,26.591 1.512,26.591 C1.618,26.591 1.724,26.561 1.824,26.498 L21.189,14.403 C21.454,14.237 21.623,13.881 21.623,13.488 C21.623,13.094 21.454,12.738 21.190,12.572 Z'/%3E%3C/svg%3E");
					transform: translate(-50%, -50%);
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			a {
				font-size: 0px;
				padding-top: rem(20px);
			}
			span {
				font-size: 0px;
			}
		}
		&:last-child {
			a {
				border-radius: 0 !important;
			}
		}
		&.active {
			a {
				background-color: var(--primary) !important;
				pointer-events: none;
				border-color: var(--primary) !important;
			}
		}
	}
}

.page-item.disabled .page-link {
	background: transparent;
}

// homepage
.home {
	.contentWrapper {
		padding-bottom: 0;
	}
	section {
		position: relative;
		.bannerLink {
			z-index: 1;
		}
		.mainBanner {
			transition: 0.5s ease all;
			@media screen and (min-width: 1025px) {
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
	background: #fff;
	.pageSections {
		.nav-pills {
			a {
				text-transform: unset;
			}
		}
	}
	.report_items {
		.card__link {
			&:focus {
				--highlight: var(--primary);
			}
		}
	}
	.mainBanner {
		margin-bottom: 0;
		.banner__slide {
			--overlay: #000;
			&:after {
				opacity: 0.6;
			}
			&:before {
				display: none;
			}
		}
		@media screen and (max-width: 400px) {
			.banner__slide--caption {
				bottom: rem(145px);
			}
		}
		.banner__caption p {
			color: #fff;
		}
	}
}

.home {
	background: var(--bg);
	.mainBanner {
		.scrollDown {
			display: none;
		}
	}
	.financialReports {
		.financialReport {
			&__title {
				color: #ffffff;
			}
			&__wrapper {
				.sliderNavigation {
					&__controls {
						.prevArrow {
							color: #fff;
							border: 1px solid #fff !important;
						}
						.nextArrow {
							color: #fff;
							border: 1px solid #fff !important;
						}
					}
				}
			}
			&__year {
				&--link {
					a {
						color: #d5d5d5;
						&:active,
						&:focus {
							&::after {
								border-color: #e3ce13;
							}
						}
						&.active {
							color: #e3ce13;
							&::before {
								background: #cc7ce9;
							}
							@media screen and (min-width: 1025px) {
								&:hover {
									color: #e3ce13;
								}
							}
						}
						@media screen and (min-width: 1025px) {
							&:hover {
								color: #d5d5d5;
							}
						}
					}
				}
			}
		}
	}
	#stock_market {
		.stockUpdates {
			background: var(--bg);
		}
	}
}

// homepage
// main banner
.mainBanner {
	height: 80vh;
	overflow: hidden;
	margin-bottom: rem(30px);
	position: relative;
	outline: none;
	@media screen and (max-width: 1200px) {
		height: 100%;
		position: relative;
	}
	.banner {
		&__slide {
			position: relative;
			--overlay: #7c2a82;
			&:before {
				display: none;
			}
			height: 80vh;
			@media screen and (max-width: 1200px) {
				height: 100%;
			}
			&--image {
				@media screen and (max-width: 1366px) and (min-width: 1025px) and (orientation: landscape) {
					height: 100%;
				}
				img {
					width: 100%;
					@media screen and (max-width: 1366px) and (min-width: 1025px) and (orientation: landscape) {
						height: 100%;
						object-fit: cover;
					}
				}
				@media screen and (max-width: 767px) {
					height: 350px;
					img {
						max-width: unset;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
			&--caption {
				text-align: center;
				position: absolute;
				max-width: 1100px;
				top: 60%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				margin: auto;
				z-index: 2;
				padding: env(safe-area-inset-top) env(safe-area-inset-right)
					env(safe-area-inset-bottom) env(safe-area-inset-left);
				@media screen and (max-width: 1600px) {
					top: 54%;
				}
				@media screen and (max-width: 767px) {
					top: 35%;
				}
				@media screen and (max-width: 575px) {
					top: 42%;
				}
				@media screen and (max-width: 400px) {
					top: auto;
					transform: none;
					bottom: rem(40px);
					display: flex;
					align-items: flex-end;
				}
				h1 {
					font-weight: 900;
					font-size: rem(65px);
					color: #fff;
					text-transform: uppercase;
					padding-bottom: rem(30px);
					background: rgba($color: #000000, $alpha: 0.3);
					display: inline-block;
					padding: rem(15px);
					line-height: 1;
					@media screen and (max-width: 1600px) {
						font-size: rem(50px);
					}
					@media screen and (max-width: 1200px) {
						font-size: rem(30px);
						padding-bottom: rem(10px);
					}
					@media screen and (max-width: 767px) {
						font-size: rem(26px);
					}
					@media screen and (max-width: 350px) {
						font-size: rem(22px);
					}
				}
				p {
					color: #fff;
					font-size: rem(24px);
					font-weight: 500;
					line-height: 1.5;
					background: rgba($color: #000000, $alpha: 0.3);
					padding: rem(15px);
					// @include truncate(4);
					@media screen and (max-width: 1600px) {
						font-size: rem(20px);
					}
					@media screen and (max-width: 1200px) {
						font-size: rem(18px);
					}
				}
				.discover {
					position: absolute;
					bottom: rem(-110px);
					left: 50%;
					transform: translateX(-50%);
					right: 0;
					width: 200px;
					@media screen and (max-width: 767px) {
						bottom: rem(-78px);
					}
					a {
						display: inline-block;
						color: #fff;
						font-size: rem(24px);
						font-weight: 700;
						text-transform: uppercase;
						padding: 20px;
						@media screen and (max-width: 1600px) {
							font-size: rem(20px);
						}
						@media screen and (max-width: 1200px) {
							font-size: rem(18px);
						}
						@media screen and (min-width: 1025px) {
							&:hover {
								color: #eada2f;
								text-decoration: none;
							}
						}
					}
					.icon {
						display: block;
						padding-bottom: rem(10px);
					}
					svg {
						width: 60px;
						height: auto;
						@media screen and (max-width: 1200px) {
							width: 40px;
						}
					}
				}
			}
			&--video {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				iframe {
					width: 100%;
					height: 100%;
					border: 0;
				}
				video {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				> div {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
	}
	.sliderNavigation {
		width: 330px;
		right: calc((100% - 1170px) / 2);
		left: auto;
		margin-left: -30px;
		&__controls {
			max-width: 330px;
		}
		@media screen and (max-width: 1300px) {
			right: 15px;
		}
		@media screen and (max-width: 1200px) {
			bottom: 15px;
			width: 280px;
		}
		@media screen and (max-width: 1025px) {
			width: 100%;
			position: static;
			background: #000;
			opacity: 0.9;
			transform: none;
			margin-left: 0;
			padding: rem(15px) 0;
			&__controls {
				margin: auto;
			}
		}
	}
	.singleSlide {
		display: none;
	}
	.scrollDown {
		position: absolute;
		left: 0;
		right: 0;
		bottom: rem(50px);
		margin: auto;
		display: inline-block;
		width: 42px;
		height: 58px;
		border: solid 3px rgb(156, 151, 151);
		border-radius: 19px;
		z-index: 1;
		@media screen and (max-width: 991px) {
			bottom: 15px;
			display: none;
		}
		@media screen and (max-width: 767px) {
			width: 33px;
			height: 50px;
		}
		span {
			position: absolute;
			top: 5px;
			content: '';
			left: 0;
			right: 0;
			margin: auto;
			width: 4px;
			height: 12px;
			border-radius: 5px;
			z-index: 1;
			background: #fff;
			animation: moveupdown 3s ease-in-out infinite;
		}
		@keyframes moveupdown {
			0% {
				top: 15%;
			}
			50% {
				top: 60%;
			}
			100% {
				top: 15%;
			}
		}
	}
}

// main banner
// home about
.about {
	padding: rem(65px) 0px;
	position: relative;
	.swiper-container-3d .swiper-slide-shadow-right {
		background-image: none !important;
		display: none !important;
	}
	.swiper-container-3d .swiper-slide-shadow-left,
	.swiper-container-3d .swiper-slide-shadow-right,
	.swiper-container-3d .swiper-slide-shadow-top,
	.swiper-container-3d .swiper-slide-shadow-bottom {
		display: none !important;
	}
	@media screen and (max-width: 991px) {
		padding: rem(35px) 0px;
	}
	.grid {
		@media screen and (max-width: 1500px) {
			grid-template-columns: 50% 40%;
		}
		@media screen and (max-width: 767px) {
			grid-template-columns: 100%;
			> div {
				text-align: center;
			}
		}
		@media screen and (max-width: 991px) and (min-width: 576px) {
			.sliderNavigation {
				margin-top: rem(40px);
			}
		}
	}
	&__contents {
		outline: none;
		.tabs {
			padding-left: rem(30px);
			.nav-pills {
				li {
					width: 50%;
				}
			}
			@media screen and (max-width: 991px) {
				padding-left: 0;
				.nav-pills {
					flex-direction: row;
					li {
						width: 50%;
					}
				}
			}
		}
		h2 {
			font-size: rem(35px);
			font-weight: 900;
			color: var(--secondary);
			text-transform: uppercase;
			margin-bottom: rem(35px);
			padding-top: 0;
			@media screen and (max-width: 991px) {
				font-size: rem(25px);
				padding: 0;
			}
		}
		p {
			color: #444444;
			font-size: rem(22px);
			font-weight: 600;
			line-height: 1.4;
			margin: rem(30px) 0 0 0;
			outline: none;
			@media screen and (max-width: 767px) {
				font-size: rem(18px);
			}
			i {
				font-style: normal;
			}
		}
		@media screen and (max-width: 767px) {
			margin-bottom: rem(25px);
		}
	}
	&__slider {
		position: relative;
		padding-top: rem(0px);
		.swiper-container,
		.baseSliderWrapper {
			height: 100%;
		}
		@media screen and (max-width: 1025px) {
			#introSlider {
				background: url(../../../assets/images/homeIntro-responsive-bg.png)
					left top no-repeat;
				background-size: cover;
			}
			video {
				display: none;
			}
		}
		&--slide {
			text-align: center;
			position: relative;
			img {
				margin: auto;
				position: static;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 100%;
				@media screen and (max-width: 992px) and (min-width: 768px) {
					width: 100%;
					position: absolute;
					object-fit: cover;
					object-position: 100% top;
				}
				@media screen and (max-width: 767px) {
					max-height: 90%;
					height: auto;
				}
			}
		}
		.sliderNavigation {
			position: static;
			margin-top: rem(60px);
			color: var(--primary);
			--arrow: var(--secondary);
			--border: var(--secondary);
			--pause: var(--primary);
			&__controls {
				margin: auto;
			}
		}
	}
	@media screen and (max-width: 767px) {
		[data-grid-item-gap='80'] {
			--grid-item-gap: 0;
		}
	}
}

// home about
// home program
.program {
	background: url(../images/banners/zainintrol-slider-image.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: rem(40px) 0px;
	margin-bottom: rem(20px);
	p {
		font-size: rem(20px);
		color: #fff;
	}
	@media screen and (max-width: 767px) {
		padding-top: rem(10px);
	}
	main ul li::marker {
		font-size: rem(20px);
	}
	.scrollArea__contents {
		padding-right: 35px;
	}
	.headings {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 414px) {
			align-items: start;
			flex-direction: column;
			h2 {
				padding-bottom: rem(16px);
			}
		}
	}
	.sectionTitle {
		color: #fff;
	}
	.sectionSubTitle {
		font-size: rem(20px);
		color: #eada2f;
		text-decoration: underline;
		@media screen and (max-width: 414px) {
			font-size: rem(18px);
			padding-bottom: rem(20px);
		}
	}
	&__head {
		position: relative;
		margin-top: rem(10px);
		@media screen and (max-width: 575px) {
			margin-left: 20px;
			margin-right: 20px;
		}
		.nav-link {
			margin-bottom: rem(15px);
			position: relative;
			.tab-icon {
				background: unset;
				width: 80px;
				height: 80px;
				@media screen and (max-width: 767px) {
					width: 65px;
					height: 65px;
				}
			}
			h3 {
				color: #fff;
				font-weight: bold;
				opacity: 1;
				min-height: 38px;
			}
			&.active {
				h3 {
					color: #67bbe9;
				}
				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					background: #eada2f;
					bottom: rem(-15px);
					left: 0;
				}
			}
		}
		.sliderNavigation {
			@media screen and (min-width: 576px) {
				display: none;
			}
			height: auto;
			z-index: 0;
			.sliderNavigation__controls {
				width: 100%;
				max-width: 100%;
				justify-content: space-between;
			}
			&.sliderNavigation__controls--arrow {
				transform: unset;
			}
			&.navigationSimple {
				.prevArrow {
					left: -25px;
				}
				.nextArrow {
					right: -25px;
				}
			}
		}
	}
	&__body {
		margin-top: rem(50px);
		.tabHeading {
			font-size: rem(28px);
			color: #eada2f;
			margin-bottom: rem(22px);
			font-weight: 800;
			@media screen and (max-width: 767px) {
				font-size: rem(24px);
			}
			@media screen and (max-width: 575px) {
				font-size: rem(21px);
			}
		}
		.howtoLearn__content {
			ul {
				margin-bottom: rem(22px);
			}
		}
		.responsibility__content {
			position: relative;
			.sliderNavigation {
				height: 100%;
				z-index: 0;
				display: block !important;
				@media screen and (min-width: 1301px) {
					display: none !important;
				}
				&__control {
					width: 100%;
					position: absolute;
					top: 25px;
					&--arrow {
						color: #fff;
						&.prevArrow {
							position: absolute;
							left: -30px;
						}
						&.nextArrow {
							position: absolute;
							right: -30px;
						}
						svg {
							height: 28px;
							width: 22px;
						}
					}
				}
			}
			&--item {
				text-align: center;
				padding: 0px 5px;
				p {
					margin-top: rem(15px);
					margin-bottom: 0px;
				}
			}
			@media screen and (max-width: 1300px) {
				margin: 0 45px;
			}
			@media screen and (max-width: 767px) {
				img {
					max-width: 45px;
				}
			}
		}
		ul {
			li {
				position: relative;
				font-size: rem(18px);
				color: #fff;
				&::marker {
					font-size: rem(23px);
				}
				&:last-child {
					margin: 0px;
				}
			}
		}
		.benefits {
			&__content {
				.image {
					@media screen and (max-width: 767px) {
						width: 70%;
						margin: auto auto rem(30px) auto;
					}
					@media screen and (max-width: 450px) {
						width: 85%;
					}
				}
			}
		}
	}
}

// home program
// zain world
.ZainWorld {
	margin-top: rem(45px);
	position: relative;
	.inner-scroll {
		max-height: 205px;
	}
	p {
		font-size: rem(20px);
		color: #fff;
	}
	&__slide {
		&--head {
			margin-top: rem(30px);
			margin-bottom: rem(30px);
			padding: 0px rem(30px);
			position: relative;
			@media screen and (max-width: 1199px) {
				margin-left: 20px;
				margin-right: 20px;
			}
			@media screen and (max-width: 1199px) {
				.swiper-container {
					margin: 0 20px;
				}
			}
			.swiper-wrapper {
				align-items: center;
				justify-content: space-between;
			}
		}
		.sliderNavigation {
			&.side-arrows {
				.sliderNavigation__controls {
					&--arrow {
						border: 0 !important;
					}
					.nextArrow {
						right: -20px;
						left: auto;
					}
					.prevArrow {
						left: -20px;
						right: auto;
					}
					svg {
						color: #fff;
						fill: #fff;
					}
				}
			}
			&__control {
				width: 100%;
				position: absolute;
				top: 12px;
				@media screen and (max-width: 575px) {
					top: 5px;
				}
				&--arrow {
					color: #fff;
					&.prevArrow {
						position: absolute;
						left: -20px;
						top: 5px;
					}
					&.nextArrow {
						position: absolute;
						right: -20px;
					}
					svg {
						height: 28px;
						width: 22px;
						color: #fff;
						fill: #fff;
					}
				}
			}
		}
		&--link {
			padding: rem(12px) rem(2px);
			a {
				padding: 8px 2px;
				font-size: rem(20px);
				color: #fff;
				text-transform: uppercase;
				outline: 3px dashed transparent;
				outline-offset: -2px !important;
				font-weight: bold;
				text-align: center;
				display: flex;
				justify-content: center;
				&.active {
					color: #67bbe9;
					@media screen and (min-width: 1025px) {
						&:hover {
							color: #67bbe9;
						}
					}
				}
				@media screen and (min-width: 1025px) {
					&:hover {
						color: #fff;
					}
				}
				&:focus {
					outline: 3px dashed var(--highlight);
				}
				.icon {
					max-width: 30px;
					min-width: 30px;
					display: inline-block;
					margin-right: rem(8px);
					@media screen and (max-width: 575px) {
						max-width: 22px;
						min-width: 22px;
						font-size: rem(16px);
					}
				}
			}
		}
	}
	&__content {
		&--items {
			display: flex;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 10px;
			padding-right: 10px;
			flex-wrap: wrap;
			@media screen and (max-width: 1200px) {
				justify-content: center;
				align-items: center;
			}
			.details {
				width: calc(100% / 5);
				@media screen and (max-width: 1200px) {
					width: calc(100% / 3);
					text-align: center;
				}
				@media screen and (max-width: 575px) {
					width: calc(100% / 2);
					margin-bottom: rem(25px);
				}
				&__icon {
					max-width: 50px;
					margin-bottom: 30px;
					@media screen and (max-width: 1200px) {
						margin-left: auto;
						margin-right: auto;
					}
				}
				&__title {
					font-size: rem(24px);
					font-weight: bold;
					color: #fff;
					margin-bottom: 20px;
					line-height: 1;
					span {
						font-size: 18px;
					}
				}
				&__subtitle {
					font-size: rem(18px);
					color: #d2d2d2;
				}
			}
		}
	}
}

// zain world
// home meetmentors
.meetmentors {
	padding-top: rem(20px);
	padding-bottom: rem(0px);
	.topHead {
		@include flex(start, space-between);
		padding-bottom: rem(40px);
		.sectionTitle {
			padding: 0;
			color: var(--primary);
		}
	}
}

@mixin transition($transition...) {
	-moz-transition: $transition;
	-ms-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

.slideAccordion {
	--layer: #6e337a;
	list-style: none;
	margin: 0 auto;
	display: flex;
	height: 650px;
	@media screen and (max-width: 1600px) and (min-width: 768px) {
		height: 550px;
	}
	@media screen and (max-width: 767px) {
		height: 800px;
	}
	$self: &;
	&__items {
		width: 14.28%;
		opacity: 1;
		position: relative;
		margin-bottom: 0;
		@include transition(all 0.5s ease-in-out);
		overflow: hidden;
		cursor: pointer;
		@media screen and (max-width: 767px) {
			width: 100%;
			height: 20%;
			margin-bottom: 0;
		}
		&--bgLayer {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: var(--layer);
			opacity: 0.7;
			z-index: 1;
		}
		&--image {
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center top;
			}
		}
		$self: &;
		&--content {
			position: absolute;
			top: -100%;
			transform: translateY(-50%);
			font-size: rem(16px);
			color: #fff;
			padding: rem(20px) rem(60px);
			@include flex(flex-start, center);
			flex-direction: column;
			z-index: 2;
			width: 100%;
			transition: 0.5s ease all;
			opacity: 0;
			@media screen and (max-width: 767px) {
				top: -200%;
				width: 95%;
			}
			h2 {
				font-size: rem(34px);
				font-weight: 900;
				text-transform: uppercase;
				margin-bottom: rem(20px);
				@media screen and (max-width: 991px) {
					font-size: rem(28px);
				}
				@media screen and (max-width: 575px) {
					font-size: rem(24px);
				}
			}
			h3 {
				font-size: rem(28px);
				font-weight: 900;
				text-transform: uppercase;
				margin-bottom: rem(16px);
				@media screen and (max-width: 991px) {
					font-size: rem(24px);
				}
				@media screen and (max-width: 575px) {
					font-size: rem(21px);
				}
			}
			.detailInfo {
				@include truncate(4, 1.45);
				margin-bottom: 20px;
				@media screen and (max-width: 575px) {
					max-height: 5em;
				}
			}
			p {
				font-size: rem(20px);
				font-weight: 600;
				margin-bottom: rem(25px);
				line-height: 1.2;
				span {
					display: block;
				}
				@media screen and (max-width: 991px) {
					font-size: rem(18px);
				}
				@media screen and (max-width: 575px) {
					font-size: rem(17px);
				}
				&.country {
					text-transform: uppercase;
					font-size: rem(24px);
					font-weight: 700;
					margin-bottom: rem(15px);
					@media screen and (max-width: 767px) {
						font-size: rem(20px);
					}
					span {
						margin-right: rem(14px);
						display: inline-block;
						img {
							max-width: 40px;
							@media screen and (max-width: 767px) {
								max-width: 27px;
							}
						}
					}
				}
			}
			.btn {
				&:focus {
					outline: 3px dashed var(--yellow);
				}
				display: none;
			}
		}
		&:hover,
		&:focus,
		&:focus-within,
		&.active {
			width: 50%;
			opacity: 1;
			transition: 0.5s ease all;
			#{ $self }--content {
				opacity: 1;
				top: 50%;
				.btn {
					display: block;
				}
			}
			@media screen and (max-width: 1199px) {
				width: 75%;
			}
			@media screen and (max-width: 991px) {
				width: 90%;
			}
			@media screen and (max-width: 767px) {
				width: 100%;
				height: 100%;
			}
		}
		&:hover ~ li:last-child,
		&:focus ~ li:last-child,
		&:focus-within ~ li:last-child {
			width: 10%;
			opacity: 1;
			@media screen and (max-width: 767px) {
				width: 100%;
				height: 20%;
			}
		}
	}
	@media screen and (max-width: 1199px) {
		&__items {
			&--content {
				padding: rem(20px) rem(30px) rem(20px) rem(45px);
			}
		}
	}
	@media screen and (max-width: 767px) {
		flex-direction: column;
		&__items {
			&--content {
				padding: rem(20px);
			}
		}
	}
	@media screen and (max-width: 575px) {
		&__items {
			&--content {
				width: 100%;
			}
		}
	}
}

// home meetmentors
// HOMEPAGE FAQ
.faq {
	padding-top: rem(60px);
	padding-bottom: rem(30px);
	h2 {
		font-size: rem(35px);
		font-weight: 900;
		color: var(--secondary);
		margin-bottom: rem(35px);
		@media screen and (max-width: 991px) {
			font-size: rem(25px);
		}
	}
	.accordion {
		> .card {
			padding-left: rem(30px);
			padding-right: rem(30px);
			> .card-header {
				background: transparent;
				border: 0;
				padding: 0;
				.btn {
					background: transparent;
					font-size: rem(20px);
					color: #444444;
					text-align: left;
					padding-left: 60px;
					padding-right: 30px;
					position: relative;
					line-height: 1.2;
					white-space: pre-wrap;
					display: block;
					width: 100%;
					@media screen and (max-width: 767px) {
						font-size: rem(17px);
					}
					&:before {
						content: '';
						position: absolute;
						width: 47px;
						height: 47px;
						background: url(../images/svg/faq-icon.svg) left top
							no-repeat;
						background-size: cover;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						@media screen and (max-width: 767px) {
							width: 40px;
							height: 40px;
						}
					}
					&:after {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid var(--toggleColor);
						right: 0;
						top: 15px;
						transition: 0.4s ease all;
					}
					&:not(.collapsed) {
						color: var(--primary);
						font-size: rem(30px);
						@media screen and (max-width: 767px) {
							font-size: rem(25px);
						}
						@media screen and (max-width: 575px) {
							font-size: rem(20px);
						}
						&:after {
							transform: rotate(180deg);
						}
					}
				}
			}
			.card-body {
				padding-top: rem(25px);
				padding-left: 60px;
				p,
				li {
					font-size: rem(24px);
					color: #444444;
					@media screen and (max-width: 767px) {
						font-size: rem(18px);
					}
				}
			}
		}
	}
}

// homepage contact
.contact {
	background: #fff;
	padding: rem(45px) 0;
	h2 {
		font-size: rem(35px);
		font-weight: 900;
		color: var(--secondary);
		text-transform: uppercase;
		margin-bottom: rem(35px);
		@media screen and (max-width: 991px) {
			font-size: rem(25px);
		}
	}
}

// inner component
.contact .ZainWorld {
	margin-top: 0;
	position: relative;
	width: 100%;
	&__slide {
		&--head {
			margin-bottom: rem(30px);
			padding: 0 40px;
			position: relative;
			@media screen and (max-width: 1199px) {
				margin-left: 5px;
				margin-right: 5px;
			}
			.sliderNavigation {
				height: 100%;
				z-index: 0;
				display: none !important;
				@media screen and (max-width: 1200px) {
					margin-left: auto;
					margin-right: auto;
					display: block !important;
					&__controls {
						svg {
							fill: var(--primary) !important;
						}
					}
				}
				&__controls {
					&--arrow {
						color: var(--primary);
					}
					.nextArrow {
						right: -60px;
						@media screen and (max-width: 1200px) {
							right: -4px;
							top: 50% !important;
							transform: translateY(-50%);
						}
						@media screen and (max-width: 575px) {
							right: -20px;
						}
					}
					.prevArrow {
						left: -60px;
						@media screen and (max-width: 1200px) {
							left: -4px;
							top: 50% !important;
							transform: translateY(-50%);
						}
						@media screen and (max-width: 575px) {
							left: -20px;
						}
					}
				}
				&__control {
					width: 100%;
					position: absolute;
					top: 10px;
					&--arrow {
						&.prevArrow {
							position: absolute;
							left: 0;
						}
						&.nextArrow {
							position: absolute;
							right: 0;
						}
						svg {
							height: 28px;
							width: 22px;
							fill: var(--primary);
						}
					}
				}
			}
		}
		&--link {
			padding: rem(12px) rem(2px);
			a {
				padding: 8px 2px;
				font-size: rem(16px);
				color: #585758;
				text-transform: uppercase;
				outline: 3px dashed transparent;
				outline-offset: -2px !important;
				font-weight: bold;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 1.1;
				&.active {
					color: var(--primary);
					@media screen and (min-width: 1025px) {
						&:hover {
							color: var(--primary);
						}
					}
				}
				@media screen and (min-width: 1025px) {
					&:hover {
						color: var(--primary);
					}
				}
				&:focus {
					outline: 3px dashed var(--highlight);
				}
				.icon {
					max-width: 30px;
					min-width: 30px;
					display: inline-block;
					margin-right: rem(8px);
					@media screen and (max-width: 575px) {
						max-width: 22px;
						min-width: 22px;
						font-size: rem(16px);
					}
				}
			}
		}
	}
	&__content {
		text-align: center;
		margin-top: rem(60px);
		margin-bottom: rem(30px);
		@media screen and (max-width: 767px) {
			margin-top: rem(40px) 0 rem(20px) 0;
		}
	}
}

// inner component
// homepage contact
// homepage join
.howJoin {
	.applyBtn {
		a {
			padding: 20px 30px;
			@media screen and (max-width: 575px) {
				padding: 10px 10px;
				font-size: 1rem;
				white-space: break-spaces;
				line-height: 1.3;
			}
		}
	}
	background: #e5e5e5;
	padding: 30px 0px 55px;
	position: relative;
	.nav.nav-pills {
		flex-direction: row;
		justify-content: unset;
		align-items: unset;
		li {
			width: 50% !important;
		}
	}
	.applicant__requirment {
		position: relative;
		// padding-top: rem(40px);
		margin-top: 0px;
		.requirment {
			// padding-top: 35px;
			@media screen and (max-width: 374px) {
				// padding-top: 20px;
			}
			// @media screen and (max-width: 1200px) {
			//   padding-top: 55px;
			// }
		}
		&.mustbe {
			.sliderNavigation {
				top: -25px !important;
				@media screen and (max-width: 991px) {
					display: block !important;
				}
			}
		}
	}
	.sliderNavigation {
		top: 60px;
		z-index: 0;
		position: absolute;
		height: 0px;
		padding: env(safe-area-inset-top) env(safe-area-inset-right)
			env(safe-area-inset-bottom) env(safe-area-inset-left);
		@media screen and (min-width: 1600px) {
			top: 95px;
		}
		@media screen and (max-width: 1200px) {
			top: 75px;
		}
		@media screen and (max-width: 991px) {
			top: 90px;
		}
		@media screen and (max-width: 575px) {
			top: 100px;
		}
		&__controls {
			max-width: 110px;
			&--pagination {
				display: none;
			}
			&--pause {
				display: none;
			}
			button {
				color: var(--primary);
				outline-offset: -3px !important;
			}
		}
	}
	.sliderNavigation__custom {
		.sliderNavigation {
			position: unset !important;
			margin-bottom: 10px;
			height: auto !important;
		}
	}
}

.requirment {
	&__slide {
		&--link {
			height: 160px;
			display: inline-flex;
			width: 100%;
			background: #fff;
			box-shadow: 0 0 6px 0px rgba($color: #000000, $alpha: 0.2);
			transition: 0.4s ease all;
			// padding: rem(30px);
			text-align: center;
			position: relative;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			transform: scale(0.9);
			transform-origin: center;
			.tab-icon {
				height: 100px;
				width: 100px;
				@media screen and (max-width: 767px) {
					height: 90px;
					width: 90px;
				}
			}
			&:active,
			&:focus {
				outline-color: var(--primary);
				outline-offset: 1px !important;
			}
		}
		&--logo {
			width: 62px;
			height: 62px;
			display: inline-block;
			color: #000;
		}
		h3 {
			font-size: rem(16px);
			color: #000;
			@include truncate(3, 1.2);
			margin-bottom: 0;
			margin-top: 0;
		}
		&--count {
			position: absolute;
			color: #000;
			top: 15px;
			right: 15px;
			font-weight: 800;
			font-size: rem(22px);
		}
		&--title {
			font-size: rem(17px);
			color: #000;
			margin: unset;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 1.2;
			margin-top: rem(15px);
			min-height: 54px;
			display: flex;
			align-items: center;
		}
	}
}

.mediaGallery {
	background: #f8f8f8;
	--toggleColor: var(--secondary);
	@media screen and (min-width: 767px) {
		.mainBanner .banner__slide--image {
			height: 100%;
			img {
				height: 100%;
			}
		}
	}
}

// our impect
.ourImpect {
	background: var(--bg);
	.contentWrapper {
		padding: 0px;
	}
	.report_items {
		.card__link {
			&:focus {
				--highlight: var(--primary);
			}
		}
	}
	.mainBanner {
		margin-bottom: 0;
		.banner__slide {
			--overlay: #000;
			&:before {
				display: none;
			}
		}
		@media screen and (max-width: 400px) {
			.banner__slide--caption {
				bottom: rem(145px);
			}
		}
		.banner__caption p {
			color: #fff;
		}
	}
}

//contact-us page
.contactUs {
	background: #f8f8f8;
	box-shadow: 0 0 12px 0px rgba($color: #000000, $alpha: 0.1);
	.mainBanner {
		margin-bottom: unset;
	}
	.contentWrapper {
		background: #fff;
		padding: rem(10px) 0;
	}
	.contactUs__form {
		--toggleColor: var(--secondary);
		.checkboxWrapper {
			ul {
				max-width: 700px;
				list-style-image: none;
				margin: rem(10px) 0 rem(30px) 0 !important;
				@include flex(start, space-between);
				li {
					max-width: 46%;
					flex: 0 0 46%;
					margin-bottom: rem(20px);
					margin-right: rem(20px);
					@media screen and (max-width: 575px) {
						max-width: 100%;
						flex: 0 0 100%;
						margin-right: 0;
					}
					&::marker {
						display: none;
						color: transparent;
					}
				}
			}
		}
		.button-row {
			justify-content: start;
			@media screen and (max-width: 767px) {
				justify-content: center;
			}
		}
		.vs__selected {
			font-size: rem(22px);
			font-weight: 600;
			color: #666666 !important;
			@media screen and (max-width: 767px) {
				font-size: rem(18px);
			}
		}
		.custom-checkbox {
			padding-left: 30px;
			.custom-control-label {
				font-size: rem(20px);
				line-height: 1.3;
				cursor: pointer;
				&::before {
					width: 20px;
					height: 20px;
					border-radius: 0 !important;
					left: -30px;
					top: 0;
					border-color: #cec9d4;
				}
				&::after {
					width: 21px;
					height: 21px;
					left: -30px;
					top: 0;
				}
			}
			.custom-control-input {
				&:checked ~ .custom-control-label {
					&::before {
						background: var(--primary);
						border-color: var(--primary);
					}
				}
				&:focus ~ .custom-control-label {
					&::before {
						box-shadow: none;
					}
				}
			}
		}
		.custom-file-input {
			box-shadow: none;
			&:focus ~ .custom-file-label {
				box-shadow: none;
			}
		}
		.custom-file-label {
			border-radius: 0;
			border: 1px solid #cec9d4;
			cursor: pointer;
			&::after {
				background: var(--primary);
				border-radius: 0;
				color: #fff;
				border: 0;
			}
		}
		margin: auto;
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		/* Firefox */
		input[type='number'] {
			-moz-appearance: textfield;
		}
		button.btn.btn-primary {
			padding: rem(18px) rem(55px);
		}
		.form-group {
			margin-bottom: rem(45px);
			@media screen and (max-width: 767px) {
				margin-bottom: rem(25px);
			}
			.form-control {
				height: 60px;
				font-size: rem(22px);
				font-weight: 600;
				&::placeholder {
					color: #666666;
				}
				@media screen and (max-width: 991px) {
					height: 45px;
					font-size: rem(18px);
				}
			}
		}
	}
}

//course-list page
.courseList {
	background: #f8f8f8;
	&__box {
		list-style: none;
		display: flex;
		justify-content: center;
		&--item {
			position: relative;
			background: #fff;
			display: flex;
			align-items: center;
			padding: rem(20px) rem(45px);
			box-shadow: 6px 7px 14px -2px rgba($color: #707070, $alpha: 0.4);
			&:not(:last-child) {
				margin-right: rem(30px);
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					box-shadow: 6px 7px 14px -2px rgba($color: #6e337a, $alpha:
								0.4);
				}
			}
			.image {
				flex: 0 0 50px;
				max-width: 50px;
			}
			.desc {
				flex: 1;
				margin-left: rem(40px);
				h2 {
					font-size: rem(32px);
					font-weight: 800;
					text-transform: uppercase;
				}
				span {
					color: gray;
					font-size: rem(20px);
					font-weight: 700;
					text-transform: capitalize;
				}
			}
		}
		@media screen and (max-width: 1025px) {
			&--item {
				padding: rem(20px) rem(30px);
				&:not(:last-child) {
					margin-right: rem(20px);
				}
				.desc {
					margin-left: rem(25px);
					h2 {
						font-size: rem(28px);
					}
					span {
						color: gray;
						font-size: rem(18px);
					}
				}
			}
		}
		@media screen and (max-width: 991px) {
			&--item {
				padding: rem(20px);
				.image {
					flex: 0 0 40px;
					max-width: 40px;
				}
				.desc {
					margin-left: rem(20px);
					h2 {
						font-size: rem(28px);
					}
				}
			}
		}
		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
			&--item {
				max-width: 45%;
				flex: 0 0 45%;
				.image {
					flex: 0 0 35px;
					max-width: 35px;
				}
				.desc {
					margin-left: rem(20px);
					h2 {
						font-size: rem(24px);
					}
				}
			}
		}
		@media screen and (max-width: 500px) {
			flex-wrap: wrap;
			&--item {
				max-width: 100%;
				flex: 0 0 100%;
				text-align: center;
				&:not(:last-child) {
					margin-right: 0;
				}
				.image {
					flex: 0 0 35px;
					max-width: 35px;
				}
				.desc {
					margin-left: rem(20px);
					h2 {
						font-size: rem(24px);
					}
				}
			}
		}
	}
}

.course {
	&__card {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		&--image {
			height: 440px;
			width: 100%;
			position: relative;
			transition: unset;
			@media screen and (max-width: 1600px) {
				height: 400px;
			}
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				background: rgba($color: #000000, $alpha: 0.5);
				@media screen and (max-width: 1025px) {
					background: rgba($color: #000000, $alpha: 0.8);
				}
			}
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&--content {
			position: absolute;
			width: calc(100% - 30px);
			height: 100%;
			top: calc(100% - 110px);
			left: 50%;
			transform: translateX(-50%);
			padding: rem(20px);
			transition: 0.5s ease all;
			cursor: pointer;
			@media screen and (max-width: 1600px) {
				top: calc(100% - 90px);
			}
			@media screen and (max-width: 1025px) {
				top: 0;
			}
			h2 {
				color: #fff;
				font-weight: 600;
				font-size: rem(30px);
				text-transform: capitalize;
			}
			.country {
				display: flex;
				align-items: center;
				margin-bottom: rem(25px);
				&--icon {
					flex: 0 0 22px;
					max-width: 22px;
				}
				&--name {
					flex: 1;
					margin-left: rem(10px);
					color: #fff;
					font-size: rem(16px);
					font-weight: 300;
					text-transform: uppercase;
				}
			}
			p {
				color: #fff;
				font-size: rem(18px);
				line-height: 1.5;
				@include truncate(5, 1.5);
			}
			.unit {
				font-size: rem(20px);
				color: #fff;
				font-weight: 800;
				margin-bottom: rem(20px);
			}
			.links {
				margin-top: rem(20px);
			}
			.linksStyle {
				list-style-type: none;
				a {
					width: 100%;
					border: 1px solid #fff;
					font-weight: 800;
					@media screen and (min-width: 1025px) {
						&:hover {
							background: var(--primary);
							border-color: var(--primary) !important;
							color: #fff;
						}
					}
				}
			}
		}
		@media screen and (min-width: 1025px) {
			&:hover,
			&:focus-within {
				.course__card--image {
					&::before {
						background: rgba($color: #000000, $alpha: 0.8);
					}
				}
				.course__card--content {
					top: 0px;
				}
			}
		}
	}
}

// course-detail page
.courseDetal {
	.sectionTitle {
		font-weight: 900;
		color: var(--primary);
		font-size: rem(36px);
		margin-bottom: rem(10px) !important;
		text-transform: capitalize;
		@media screen and (max-width: 1600px) {
			font-size: rem(32px);
		}
		@media screen and (max-width: 991px) {
			font-size: rem(26px);
			padding: rem(25px) 0 rem(30px) 0;
		}
		@media screen and (max-width: 767px) {
			font-size: rem(22px);
		}
	}
	.main_content {
		margin-right: rem(50px);
		margin-bottom: rem(40px);
		h3.title {
			font-size: rem(24px);
			font-weight: 800;
			color: var(--secondary);
			text-transform: uppercase;
			display: flex;
			align-items: center;
			padding: rem(30px) 0;
			border-bottom: 1px solid #d6d6d6;
			margin-bottom: rem(20px);
			div {
				display: inline-block;
				width: 42px;
				height: 47px;
				margin-right: rem(15px);
				@media screen and (max-width: 767px) {
					width: 35px;
					height: 35px;
				}
			}
			@media screen and (max-width: 767px) {
				font-size: rem(22px);
			}
		}
		.detail {
			p {
				font-size: rem(22px);
				line-height: 1.4;
				font-weight: 600;
				color: #444444;
			}
		}
		@media screen and (max-width: 991px) {
			margin-right: 0;
		}
		@media screen and (max-width: 767px) {
			.detail {
				p {
					font-size: rem(18px);
				}
			}
		}
	}
	.box {
		margin-bottom: rem(30px);
		box-shadow: 0 0 7px rgba($color: #000, $alpha: 0.1);
		background: #fff;
		padding: rem(40px) rem(30px);
		text-align: center;
		.imageSection {
			margin-left: auto;
			margin-right: auto;
			max-width: 100px;
			border-radius: 50%;
			overflow: hidden;
		}
		h5 {
			font-size: rem(30px);
			font-weight: 700;
			text-align: center;
			margin-top: rem(30px);
			text-transform: capitalize;
			color: #444444;
		}
		.subtitle {
			color: #999999;
			font-weight: bold;
			font-size: rem(20px);
			text-transform: capitalize;
		}
		.detail {
			margin-top: rem(30px);
			p {
				color: #999999;
				font-size: rem(22px);
				line-height: 1.4;
				font-weight: 600;
			}
			a {
				color: var(--secondary);
				font-weight: bold;
			}
		}
		@media screen and (max-width: 767px) {
			padding: rem(25px);
			h5 {
				font-size: rem(25px);
				margin-top: rem(25px);
			}
			.subtitle {
				font-size: rem(18px);
			}
			.detail {
				p {
					font-size: rem(18px);
				}
			}
		}
	}
	&__detail {
		text-align: left !important;
		h5 {
			text-align: left !important;
			margin-bottom: rem(30px);
		}
		ul {
			list-style-type: none;
			li {
				position: relative;
				padding-left: 25px;
				color: #999999;
				font-size: rem(22px);
				line-height: 1.4;
				font-weight: 600;
				&:before {
					content: '';
					position: absolute;
					left: 0px;
					width: 8px;
					height: 8px;
					background: var(--primary);
					border-radius: 50%;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		@media screen and (max-width: 767px) {
			ul {
				li {
					font-size: rem(18px);
				}
			}
		}
	}
}

// search page
.search {
	background: #f0f0f0;
	&__title {
		font-size: rem(42px);
		font-weight: 800;
		color: var(--secondary);
		text-transform: uppercase;
		padding-left: rem(50px);
		@media screen and (max-width: 767px) {
			padding-left: rem(0px);
		}
	}
	.siteSearch {
		padding: rem(150px) rem(10px) rem(60px);
		@media screen and (max-width: 767px) {
			padding-top: rem(75px);
		}
	}
	&__head {
		width: 100%;
		background: #fff;
		padding: rem(20px) rem(25px) rem(25px) rem(20px);
		margin-top: rem(25px);
		box-shadow: 0 0 9px 0px rgba($color: #000000, $alpha: 0.2);
		@media screen and (max-width: 991px) {
			padding: rem(10px) rem(15px) rem(12px) rem(15px);
		}
	}
	.search-field {
		padding-top: rem(10px);
		.visuallyhidden {
			width: 0;
			height: 0;
		}
		.FormField {
			display: flex;
			align-items: flex-end;
			&__input {
				width: 85%;
				@media screen and (max-width: 1200px) {
					width: auto;
					flex: 1;
				}
				input {
					width: 100%;
					padding: rem(18px);
					border: unset;
					outline: unset;
					border-bottom: 2px solid var(--secondary);
					font-size: rem(24px);
					color: var(--primary);
					padding-left: unset;
					font-weight: 800;
					text-transform: uppercase;
					&::placeholder {
						color: var(--primary);
						opacity: 1;
					}
					@media screen and (max-width: 575px) {
						font-size: rem(20px);
						&::placeholder {
							font-size: rem(20px);
						}
					}
				}
			}
			&__button {
				i {
					font-style: normal;
					@media screen and (max-width: 575px) {
						display: none;
					}
				}
				@media screen and (max-width: 1200px) {
					width: auto;
					flex: 0 0 rem(195px);
				}
				@media screen and (max-width: 767px) {
					flex: 0 0 rem(170px);
				}
				@media screen and (max-width: 575px) {
					flex: 0 0 62px;
				}
				button {
					background: var(--primary);
					color: #fff;
					padding: rem(24px);
					font-size: rem(24px);
					border: unset;
					outline: unset;
					margin-left: rem(30px);
					display: flex;
					position: relative;
					align-items: center;
					transition: 0.3s all ease-in;
					@media screen and (max-width: 575px) {
						margin-left: rem(15px);
					}
					span {
						display: flex;
						width: 30px;
						height: 30px;
						margin-left: rem(20px);
						svg {
							width: 30px;
							height: 30px;
						}
						@media screen and (max-width: 575px) {
							margin-left: 0;
							align-items: center;
							justify-content: center;
						}
					}
					&:focus {
						&::before {
							content: '';
							position: absolute;
							width: 115%;
							height: 135%;
							border: 2px dashed var(--primary);
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
					@media screen and (min-width: 1025px) {
						&:hover {
							background-color: var(--secondary);
						}
					}
					@media screen and (max-width: 767px) {
						padding: rem(12px);
						span {
							svg {
								zoom: 0.8;
							}
						}
					}
				}
			}
		}
	}
	.search__results {
		display: inline-block;
		font-size: rem(16px);
		margin-top: rem(13px);
		font-weight: 800;
		color: var(--secondary);
		text-transform: uppercase;
		@media screen and (max-width: 575px) {
			text-align: center;
			display: block;
		}
	}
	.baseSearchlist {
		padding-top: rem(70px);
	}
	.pagination li {
		width: auto;
		height: auto;
	}
	.pagination li a {
		border: unset;
		padding: rem(12px) rem(15px);
		margin: 0 rem(15px);
	}
	.pagination li:not(:last-child) {
		margin-right: 0;
	}
}

.pressReleaseCard {
	.card_parent {
		margin-bottom: rem(30px);
	}
	.card {
		margin-bottom: unset;
		border-radius: 0;
		padding: 25px;
		max-width: 390px;
		box-shadow: 0px 0px 13px -3px rgba($color: black, $alpha: 0.5);
		transition: 0.3s ease background;
		height: 100%;
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 1025px) {
			&:hover {
				background: var(--secondary);
				div,
				h4,
				a {
					color: #fff !important;
					--highlight: #fff !important;
				}
				.btn-secondary {
					background: var(--primary);
					&:focus {
						outline-color: #fff !important;
					}
				}
			}
		}
		@media screen and (max-width: 1199px) {
			padding: 16px;
		}
		.image {
			height: 230px;
			width: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}
		.date {
			font-size: 22px;
			color: var(--primary);
			padding: rem(20px) 30px;
			font-weight: 700;
			position: relative;
			text-transform: uppercase;
			&::before {
				position: absolute;
				content: '';
				width: 25px;
				height: 4px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: var(--primary);
			}
		}
		h4 {
			font-size: rem(22px);
			color: #000000;
			margin-bottom: rem(20px);
			outline: unset !important;
			a {
				display: inline-block;
				color: #000000;
				text-decoration: none;
				padding: 3px;
				outline-offset: -3px;
				@include truncate(5, 1.3);
				@media screen and (min-width: 1025px) {
					&:hover {
						color: var(--primary);
					}
				}
			}
			& + a {
				margin-top: auto;
				max-width: max-content;
			}
		}
		@media screen and (max-width: 767px) {
			.image {
				height: 200px;
			}
			p {
				font-size: rem(25px);
				min-height: 100px;
			}
		}
		@media screen and (max-width: 991px) {
			display: block;
			margin: auto;
			p {
				font-size: rem(25px);
				min-height: 70px;
			}
		}
	}
}

.pressReleasePagination {
	display: flex;
	justify-content: space-between;
	padding: rem(40px) 0;
	@media screen and (max-width: 767px) {
		padding: rem(20px) 0;
	}
	.show_items,
	.gotoPage {
		display: flex;
		align-items: center;
		flex: 0 0 320px;
		max-width: 320px;
		label {
			font-size: rem(18px);
			font-weight: 700;
			text-transform: uppercase;
			margin-right: rem(20px);
			margin-bottom: 0px;
			@media screen and (max-width: 380px) {
				margin-bottom: 10px;
			}
		}
		.form-group {
			margin-bottom: unset;
			display: flex;
			.bootstrap-select.dropdown > .dropdown-menu {
				border-top: 0 !important;
				.dropdown-item {
					text-align: center;
					@media screen and (min-width: 1025px) {
						&:hover {
							outline: 3px dashed var(--primary);
							outline-offset: -3px;
							background: #fff;
							color: var(--secondary);
						}
					}
					&:focus,
					&:focus-within,
					&:active,
					&.active {
						background: #fff !important;
					}
					@media screen and (min-width: 1025px) {
						&:hover {
							background: #fff !important;
						}
					}
				}
			}
			.dropdown-toggle {
				height: 53px;
				font-size: rem(22px);
				color: var(--primary);
				background: #fff;
				width: 80px;
				padding: 5px;
				outline: none;
				border: 3px solid var(--primary);
				border-radius: 0;
				font-weight: 600;
				&:after {
					border-top: 10px solid var(--secondary);
				}
				@media screen and (max-width: 500px) {
					height: 43px;
				}
				&.btn-light {
					outline: 0 !important;
					transition: unset;
					@media screen and (max-width: 380px) {
						width: 100%;
					}
				}
				.filter-option-inner-inner {
					color: var(--primary) !important;
				}
			}
		}
		.form-control {
			border: 3px solid var(--primary);
			width: 90px;
		}
		@media screen and (max-width: 1600px) {
			flex: 0 0 230px;
			max-width: 230px;
			.form-control {
				width: 65px;
			}
			button {
				padding-left: rem(16px);
				padding-right: rem(16px);
			}
		}
		@media screen and (max-width: 991px) {
			flex: 0 0 210px;
			max-width: 210px;
			.form-control {
				width: 55px;
			}
			&__show {
				font-size: rem(18px);
				margin-right: rem(10px);
			}
		}
		@media screen and (max-width: 767px) {
			button {
				height: 38px;
			}
		}
		@media screen and (max-width: 500px) {
			flex: 0 0 180px;
			max-width: 180px;
			label {
				margin-right: 5px;
				font-size: rem(15px);
			}
			.form-group {
				.v-select {
					padding: 0px;
					@media screen and (max-width: 380px) {
						width: 100%;
					}
					.vs__actions {
						padding-right: 12px;
					}
				}
			}
		}
		@media screen and (max-width: 390px) {
			max-width: 100%;
			flex: unset;
			margin-bottom: 20px;
			label {
				margin-right: 5px;
				font-size: rem(14px);
			}
		}
	}
	.show_items {
		@media screen and (max-width: 767px) {
			order: 2;
		}
		@media screen and (max-width: 380px) {
			display: unset;
			width: 100%;
		}
	}
	.gotoPage {
		@media screen and (max-width: 767px) {
			order: 3;
		}
		@media screen and (max-width: 380px) {
			display: unset;
			width: 100%;
			.form-control {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		.overflow-auto {
			order: 1;
		}
	}
}

// galery detail
.pressRelease {
	background: #f8f8f8;
}

.pressReleaseMain {
	.mediaSlider {
		&__item {
			@media screen and (min-width: 991px) {
				height: 450px;
			}
			@media screen and (min-width: 768px) {
				height: 350px;
			}
		}
		.swiper-pagination {
			position: relative;
			z-index: 1;
		}
	}
	h3 {
		font-size: rem(24px);
		font-weight: 800;
		color: var(--secondary);
		margin-top: rem(10px);
		text-transform: uppercase;
		display: flex;
		align-items: center;
		padding: rem(30px) 0;
		div {
			display: inline-block;
			width: 42px;
			height: 47px;
			margin-right: rem(15px);
			@media screen and (max-width: 767px) {
				width: 35px;
				height: 35px;
			}
		}
		@media screen and (max-width: 767px) {
			font-size: rem(22px);
		}
	}
	ul {
		li {
			font-size: rem(22px);
			line-height: 1.4;
			font-weight: 600;
		}
	}
	.cross-icon {
		display: inline-block;
		height: max-content;
		@media screen and (min-width: 1025px) {
			&:hover {
				opacity: 0.6;
			}
		}
	}
	.titleWrapper {
		display: flex;
		justify-content: space-between;
		padding-bottom: rem(23px);
		.title {
			flex: 1;
			h2 {
				font-weight: 900;
				color: var(--primary);
				font-size: rem(36px);
				padding-right: rem(20px);
				@media screen and (max-width: 1600px) {
					font-size: rem(32px);
				}
				@media screen and (max-width: 991px) {
					font-size: rem(26px);
				}
				@media screen and (max-width: 767px) {
					font-size: rem(22px);
				}
			}
		}
		span {
			margin-top: rem(10px);
			flex: 0 0 80px;
			max-width: 80px;
			padding: 0px rem(25px);
			transition: 0.5s;
			@media screen and (min-width: 1025px) {
				&:hover {
					cursor: pointer;
					opacity: 0.7;
				}
			}
		}
	}
	.mediaSlider {
		&::before,
		&::after {
			content: unset;
		}
	}
	.description {
		.contentWrapper {
			&.scrollArea {
				height: 300px;
			}
			p {
				font-size: rem(22px);
				line-height: 1.4;
				font-weight: 600;
			}
		}
	}
}

//document
.relatedDocuments {
	--barcolor: #6e337a;
	--trackcolor: #adadad;
	&__list {
		list-style: none;
		&--item {
			margin: 0px;
			&--documents {
				@include flex(center, space-between);
				flex-wrap: nowrap;
				flex: 0 0 350px;
				position: relative;
				@media screen and (max-width: 950px) {
					flex: 0 0 250px;
				}
				@media screen and (max-width: 667px) {
					flex: 0 0 215px;
				}
				@media screen and (max-width: 575px) {
					flex: none;
					width: 100%;
				}
				@media screen and (min-width: 576px) {
					padding-left: 20px;
					&:before {
						content: '';
						position: absolute;
						width: 1px;
						height: 30px;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						background: #000;
					}
				}
			}
			.document__info {
				width: 100%;
				background: #fff;
				padding: rem(15px) rem(35px);
				text-decoration: none;
				box-shadow: 0 0 13px 0px rgba($color: #000000, $alpha: 0.2);
				border: 2px solid transparent;
				transition: 0.4s ease all;
				margin-bottom: rem(30px);
				outline-offset: 0;
				outline-width: 2px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@media screen and (max-width: 991px) {
					padding: rem(15px) rem(25px);
				}
				@media screen and (max-width: 575px) {
					flex-direction: column;
					padding: rem(15px);
				}
				&:focus {
					outline-color: var(--primary);
					background: var(--primary);
				}
				@media screen and (min-width: 1025px) {
					&:hover {
						border-color: var(--primary);
						background: var(--primary);
					}
				}
				.icon {
					font-size: rem(20px);
					color: #131413;
					font-weight: 700;
					display: inline-flex;
					align-items: center;
					flex: 1;
					justify-content: flex-end;
					@media screen and (max-width: 767px) {
						font-size: rem(18px);
					}
					span {
						color: #131413;
						width: 22px;
						height: 20px;
						display: inline-block;
						margin-right: 10px;
						@media screen and (max-width: 767px) {
							width: 20px;
							height: 18px;
						}
					}
				}
				h2 {
					padding-right: rem(60px);
					font-weight: 600;
					@media screen and (max-width: 667px) {
						padding-right: rem(25px);
					}
					@media screen and (max-width: 575px) {
						padding-right: 0;
						margin-bottom: rem(25px);
					}
				}
				h3 {
					margin: 0px;
					font-size: rem(20px);
					font-weight: 900;
					text-transform: uppercase;
					color: var(--secondary);
					margin-right: rem(35px);
					@media screen and (max-width: 991px) {
						font-size: rem(18px);
					}
					@media screen and (max-width: 667px) {
						font-size: rem(16px);
						margin-right: rem(20px);
					}
				}
			}
			a:focus {
				outline-width: 3px;
				outline-offset: 4px;
				.icon {
					color: #fff;
					span {
						color: #fff;
					}
				}
				h3,
				h2 {
					color: #fff !important;
				}
				.relatedDocuments__list--item--documents {
					&:before {
						background: #fff;
					}
				}
			}
			@media screen and (min-width: 1025px) {
				a:hover {
					outline-width: 3px;
					outline-offset: 4px;
					.icon {
						color: #fff;
						span {
							color: #fff;
						}
					}
					h3,
					h2 {
						color: #fff !important;
					}
					.relatedDocuments__list--item--documents {
						&:before {
							background: #fff;
						}
					}
				}
			}
		}
	}
}

.mediaSlider {
	position: relative;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		right: -10px;
		top: -10px;
		background: rgba($color: #4a4a4a, $alpha: 0.2);
	}
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -2;
		right: -20px;
		top: -20px;
		background: rgba($color: #4a4a4a, $alpha: 0.2);
	}
	&__slides {
		background: #e9e9e9;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		> div {
			> div > div {
				outline-offset: -8px;
			}
		}
	}
	.swiper-slide {
		h2 {
			text-align: center;
			font-size: rem(24px);
			font-weight: 700;
			color: var(--secondary);
			padding-top: rem(30px);
			word-spacing: rem(3px);
			padding-left: rem(8px);
			padding-right: rem(8px);
			@media screen and (max-width: 767px) {
				font-size: rem(20px);
				padding-top: rem(25px);
			}
			@media screen and (max-width: 575px) {
				font-size: rem(17px);
				padding-top: rem(20px);
			}
		}
	}
	.sliderNavigation {
		bottom: 0px;
		position: static;
		&__controls {
			max-width: 100%;
			padding: 0px rem(28px) 0px rem(30px);
			@media screen and (max-width: 767px) {
				padding: 0 rem(15px);
			}
			&--icon {
				position: relative;
				z-index: 9;
				color: var(--secondary);
				cursor: pointer;
				transition: 0.3s ease all;
				svg {
					position: absolute;
					top: -15px;
					&.slider-pause {
						display: none;
					}
				}
				@media screen and (min-width: 1025px) {
					&:hover {
						opacity: 0.7;
					}
				}
			}
			&--pagination {
				order: 2;
				flex-grow: 1.8;
				text-align: center;
				letter-spacing: 0;
				font-weight: 800;
				color: #494949;
				z-index: 0;
				.swiper-pagination-current {
					color: var(--secondary);
					margin-left: rem(20px);
				}
			}
			.prevArrow {
				order: 3;
				border: unset !important;
				outline-offset: -8px;
			}
			.nextArrow {
				order: 4;
				border: unset !important;
				outline-offset: -8px;
			}
			svg {
				fill: var(--secondary);
			}
			&--pause {
				order: 1;
				flex-grow: 0;
				color: var(--secondary);
				@media screen and (min-width: 1025px) {
					&:hover {
						opacity: 0.75;
					}
				}
			}
			.swiper-button-disabled {
				color: #494949 !important;
				opacity: 1;
			}
		}
	}
}

.testimonials {
	padding: rem(30px) 0px rem(55px);
	background: #e5e5e5;
	position: relative;
	h2 {
		font-size: rem(45px);
		font-weight: 900;
		color: var(--primary);
		margin: rem(25px) 0;
		text-transform: capitalize;
		z-index: 2;
		position: relative;
		max-width: max-content;
		@media screen and (max-width: 991px) {
			font-size: rem(30px);
		}
	}
	.sliderNavigation {
		position: absolute;
		top: 15px;
		height: 0;
		right: 0;
		&__controls {
			z-index: -1;
			color: var(--primary);
			--arrow: var(--primary);
			&--pagination {
				flex: unset;
				max-width: unset;
				text-align: right;
			}
		}
		&.bottomNavigation {
			.sliderNavigation {
				&__controls {
					margin-top: 0 !important;
				}
			}
		}
		@media screen and (max-width: 767px) {
			position: static;
			&.bottomNavigation {
				max-width: 300px;
				margin-top: rem(30px);
				.sliderNavigation {
					&__controls {
						&--pagination {
							flex: 0 0 25%;
							max-width: 25%;
						}
					}
				}
			}
			&__controls {
				justify-content: space-around;
			}
		}
	}
	.desc {
		.intro {
			position: relative;
			font-size: rem(22px);
			margin-bottom: rem(100px);
			padding: 0 rem(90px);
			&:after,
			&:before {
				content: '';
				position: absolute;
				background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23d31b88' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 384 329.14'%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M0,164.57V329.14H164.57V164.57H54.86A109.84,109.84,0,0,1,164.57,54.85V0C73.82,0,0,73.82,0,164.57' transform='translate(0 0)'/%3E%3Cpath class='cls-3' d='M384,54.86V0C293.25,0,219.43,73.82,219.43,164.57V329.14H384V164.57H274.29A109.83,109.83,0,0,1,384,54.86' transform='translate(0 0)'/%3E%3C/g%3E%3C/svg%3E");
				width: 50px;
				height: 45px;
				left: 0;
				top: -25px;
				background-size: cover;
				@media screen and (max-width: 991px) {
					width: 38px;
					height: 32px;
				}
			}
			&:after {
				right: 0;
				left: auto;
				transform: rotate(180deg);
				top: 0;
			}
		}
		.name {
			font-size: rem(24px);
			color: var(--secondary);
			line-height: 1;
			margin-bottom: rem(10px);
		}
		.designation {
			color: #4f4f4f;
			line-height: 1;
			margin: 0;
			font-weight: 900;
		}
		@media screen and (max-width: 991px) {
			padding-top: rem(45px);
			.intro {
				&:before {
					top: -10px;
				}
			}
		}
		@media screen and (max-width: 767px) {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			padding-top: rem(20px);
			.designation {
				text-align: center;
			}
			.intro {
				margin: rem(20px) 0 0 0;
				padding: 0 rem(45px);
				&:after,
				&:before {
					width: 20px;
					height: 18px;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		.row {
			.image {
				text-align: center;
				img {
					max-height: 375px;
				}
			}
		}
	}
}

.mediaGallery {
	@media screen and (max-width: 991px) {
		.tabs {
			.nav-pills {
				flex-direction: row;
				li {
					width: 33.3%;
				}
			}
		}
	}
}

.targetMeasurement {
	padding: rem(65px) 0px rem(30px) 0;
	@media screen and (max-width: 767px) {
		padding: rem(35px) 0 rem(370px) 0;
	}
	@media screen and (max-width: 450px) {
		padding: rem(35px) 0 rem(300px) 0;
	}
	@media screen and (max-width: 400px) {
		padding: rem(35px) 0 rem(280px) 0;
	}
	@media screen and (max-width: 380px) {
		padding: rem(35px) 0 rem(260px) 0;
	}
	@media screen and (max-width: 350px) {
		padding: rem(35px) 0 rem(240px) 0;
	}
	position: relative;
	h2 {
		font-size: rem(45px);
		font-weight: 900;
		color: var(--primary);
		margin: rem(25px) 0;
		@media screen and (max-width: 991px) {
			font-size: rem(30px);
		}
	}
	.grid {
		@media screen and (max-width: 1500px) {
			grid-template-columns: 50% 30%;
		}
		@media screen and (max-width: 1025px) {
			grid-template-columns: 50% 40%;
		}
		@media screen and (max-width: 767px) {
			grid-template-columns: 100%;
			> div {
				text-align: center;
			}
		}
		@media screen and (max-width: 991px) and (min-width: 576px) {
			max-width: 98%;
			margin-left: auto;
			margin-right: auto;
			.sliderNavigation {
				margin-top: rem(40px);
			}
		}
	}
	&__contents {
		h2 {
			font-size: rem(35px);
			font-weight: 900;
			color: var(--secondary);
			text-transform: uppercase;
			margin-bottom: rem(25px);
			@media screen and (max-width: 991px) {
				font-size: rem(26px);
			}
		}
		p {
			color: #444444;
			font-size: rem(22px);
			font-weight: 600;
			max-width: 80%;
			line-height: 1.4;
			margin-bottom: rem(50px);
			@media screen and (max-width: 991px) {
				max-width: 100%;
			}
		}
	}
	&__image {
		position: relative;
		img {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			&.img-top {
				z-index: 1;
				top: -10px;
				right: -10px;
			}
			@media screen and (max-width: 767px) {
				left: 50%;
				transform: translateX(-50%);
				right: auto;
				&.img-top {
					right: auto;
					left: 52%;
				}
			}
		}
	}
}

.ourImpect {
	.sectionTitle {
		font-size: rem(35px);
		font-weight: 900;
		color: var(--secondary);
		text-transform: uppercase;
		margin-bottom: rem(25px);
		@media screen and (max-width: 991px) {
			font-size: rem(25px);
		}
		@media screen and (max-width: 575px) {
			font-size: rem(22px);
		}
	}
	.nav.nav-pills {
		flex-direction: row;
		justify-content: unset;
		align-items: unset;
		li {
			width: 50% !important;
		}
	}
}

.meetMentorsMain {
	margin: rem(45px) 0 rem(0px);
	margin-top: 0;
	position: relative;
	&__slide {
		&--head {
			margin-top: rem(30px);
			margin-bottom: rem(30px);
			position: relative;
			border-bottom: 1px solid #a3a3a3;
			@media screen and (max-width: 1199px) {
				margin: rem(30px) rem(45px);
			}
			.swiper-wrapper {
				@include flex(center, space-between);
				flex-wrap: nowrap;
			}
		}
		&--link {
			padding: rem(12px) rem(2px);
			a {
				padding: 8px 2px;
				font-size: rem(16px);
				color: #585758;
				text-transform: uppercase;
				outline: 3px dashed transparent;
				outline-offset: -2px !important;
				font-weight: bold;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				&.active {
					color: var(--primary);
					@media screen and (min-width: 1025px) {
						&:hover {
							color: var(--primary);
						}
					}
				}
				@media screen and (min-width: 1025px) {
					&:hover {
						color: #585758;
					}
				}
				&:focus {
					outline: 3px dashed var(--highlight);
				}
				.icon {
					max-width: 30px;
					display: inline-block;
					margin-right: rem(8px);
				}
			}
		}
	}
	&__detail {
		&--item {
			@media screen and (max-width: 667px) {
				flex: 0 0 50%;
				max-width: 50%;
			}
			@media screen and (max-width: 575px) {
				padding: 0px 10px;
				margin-bottom: 20px !important;
			}
			@media screen and (max-width: 450px) {
				flex: 0 0 100%;
				max-width: 90%;
				padding: 0 15px;
			}
		}
		.row {
			@media screen and (max-width: 767px) {
				justify-content: center;
			}
		}
	}
}

.meetMentorsCard {
	padding: rem(10px);
	box-shadow: 7px 7px 4px 0 rgba($color: #000000, $alpha: 0.1);
	background: #fff;
	text-align: center;
	padding-bottom: rem(25px);
	transition: 0.4s ease all;
	height: 100%;
	min-height: 400px;
	position: relative;
	@media screen and (min-width: 1025px) {
		&:hover {
			background: var(--secondary);
			.meetMentorsCard--title {
				color: #fff;
			}
			.meetMentorsCard--destination {
				color: #fff !important;
			}
		}
	}
	&__image {
		width: 100%;
		height: 300px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
		@media screen and (max-width: 450px) {
			height: 400px;
		}
	}
	&--title {
		font-size: rem(18px);
		color: #131413;
		font-weight: bold;
		margin-top: rem(30px);
		transition: 0.4s ease all;
		margin-bottom: rem(5px);
	}
	&--destination {
		font-size: rem(15px);
		color: var(--primary) !important;
		font-weight: bold;
		transition: 0.4s ease all;
		display: block;
		@media screen and (max-width: 616px) {
			min-height: 25px;
		}
	}
}

.sliderNavigation.side-arrows {
	height: 100%;
	z-index: 0;
	bottom: 0;
	@media screen and (min-width: 1200px) {
		display: none;
	}
	@media screen and (max-width: 1200px) {
		margin-left: auto;
		margin-right: auto;
	}
	.sliderNavigation__controls {
		.sliderNavigation__controls--arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		.nextArrow {
			right: -40px;
		}
		.prevArrow {
			left: -40px;
		}
		svg {
			color: var(--primary);
			border-color: var(--primary);
			fill: var(--primary);
		}
	}
}

// lang AR
[lang='ar'] {
	body {
		direction: rtl;
		text-align: right;
	}
	.howJoin {
		.sliderNavigation {
			right: 0;
			left: auto;
			&__controls {
				margin: 0 auto 0 0;
				&--arrow {
					transform: rotate(180deg);
				}
			}
		}
	}
	.requirment {
		&__slide {
			&--count {
				left: 15px;
				right: auto;
			}
		}
	}

	.ZainWorld {
		&__slide {
			&--head {
				.sliderNavigation {
					&__controls {
						.nextArrow {
							left: -60px;
							right: auto;
							@media screen and (max-width: 1200px) {
								left: -4px;
								right: auto;
							}
							@media screen and (max-width: 575px) {
								left: -5px;
								right: auto;
							}
						}
						.prevArrow {
							right: -60px;
							left: auto;
							@media screen and (max-width: 1200px) {
								right: -4px;
								left: auto;
							}
							@media screen and (max-width: 575px) {
								right: -5px;
								left: auto;
							}
						}
						&--arrow {
							transform: translateY(-50%) rotate(180deg);
						}
					}
					&__control {
						&--arrow {
							transform: rotate(180deg);
							&.prevArrow {
								right: -20px;
								left: auto;
							}
							&.nextArrow {
								left: -20px;
								right: auto;
							}
						}
					}
				}
			}
			&--link {
				a {
					.icon {
						margin-left: rem(8px);
						margin-right: 0;
					}
				}
			}
		}
	}
	.faq {
		.accordion {
			> .card {
				> .card-header {
					.btn {
						text-align: right;
						padding-right: 60px;
						padding-left: 30px;
						&:before {
							content: '';
							right: 0;
							left: auto;
						}
						&:after {
							left: 0;
							right: auto;
						}
					}
				}
				.card-body {
					padding-right: 60px;
					padding-left: 0;
				}
			}
		}
	}
	.slideAccordion {
		$self: &;
		&__items {
			&--bgLayer {
				right: 0;
				left: auto;
			}
			&--image {
				img {
					right: 0;
					left: auto;
				}
			}
			$self: &;
			&--content {
				p {
					&.country {
						span {
							margin-left: rem(14px);
							margin-right: 0;
						}
					}
				}
			}
		}
		@media screen and (max-width: 1199px) {
			&__items {
				&--content {
					padding: rem(20px) rem(45px) rem(20px) rem(30px);
				}
			}
		}
		@media screen and (max-width: 767px) {
			&__items {
				&--content {
					padding: rem(20px);
				}
			}
		}
	}
	.about {
		&__slider {
			&--slide {
				img {
					transform: scaleX(-1);
				}
			}
		}
	}
	.program {
		.scrollArea__contents {
			padding-left: 35px;
			padding-right: 0;
		}
		&__head {
			.nav-link {
				&.active {
					&::before {
						right: 0;
						left: auto;
					}
				}
			}
			.sliderNavigation {
				&.navigationSimple {
					.prevArrow {
						right: -25px;
						left: auto;
					}
					.nextArrow {
						left: -25px;
						right: auto;
					}
				}
			}
		}
		&__body {
			.responsibility__content {
				.sliderNavigation {
					&__control {
						&--arrow {
							transform: rotate(180deg);
							&.prevArrow {
								right: -30px;
								left: auto;
							}
							&.nextArrow {
								left: -30px;
								right: auto;
							}
						}
					}
				}
			}
		}
	}
	.ZainWorld {
		&__slide {
			&--head {
				.sliderNavigation {
					&__controls {
						.nextArrow {
							left: -60px;
							right: auto;
							@media screen and (max-width: 1200px) {
								left: -4px;
								right: auto;
							}
							@media screen and (max-width: 575px) {
								left: -5px;
								right: auto;
							}
						}
						.prevArrow {
							right: -60px;
							left: auto;
							@media screen and (max-width: 1200px) {
								right: -4px;
								left: auto;
							}
							@media screen and (max-width: 575px) {
								right: -5px;
								left: auto;
							}
						}
						&--arrow {
							transform: translateY(-50%) rotate(180deg);
						}
					}
				}
			}
			&--link {
				a {
					.icon {
						margin-left: rem(8px);
						margin-right: 0;
					}
				}
			}
		}
	}
	.mainBanner {
		.banner {
			&__slide {
				&--video {
					right: 0;
					left: auto;
					> div {
						right: 0;
						left: auto;
					}
				}
				&--caption {
					.discover {
						right: 50%;
						transform: translateX(50%);
						left: auto;
					}
				}
			}
		}
		.sliderNavigation {
			left: calc((100% - 1170px) / 2);
			right: auto;
			margin-right: -30px;
			margin-left: 0;
			@media screen and (max-width: 1300px) {
				left: 15px;
				right: auto;
			}
			@media screen and (max-width: 1025px) {
				margin-right: 0;
			}
			&__controls {
				&--arrow {
					transform: rotate(180deg);
				}
				&--pagination {
					direction: ltr;
				}
			}
		}
	}
	.scrollArea {
		.detail {
			padding-left: 15px;
			padding-right: 0;
		}
	}
	.text-right {
		text-align: left !important;
	}
	.text-left {
		text-align: right !important;
	}
	.scrollArea {
		direction: ltr;
		.scrollbar-content {
			padding-left: 20px;
			padding-right: 0;
		}
		&__contents {
			padding-left: rem(25px);
			padding-right: 0;
		}
	}
	main {
		ul {
			&:not([class]) {
				margin-right: rem(35px);
				margin-left: 0;
			}
		}
		ol {
			&:not([class]) {
				margin-right: rem(35px);
				margin-left: 0;
			}
		}
	}
	p {
		direction: rtl;
	}
	// Search Page
	.baseSearchlist {
		&__section {
			h2 {
				margin-left: 15px;
				margin-right: 0;
			}
			&--title {
				margin-left: rem(55px);
				margin-right: 0;
				@media screen and (max-width: 420px) {
					margin-left: rem(0px);
					margin-right: 0;
				}
				&::before {
					left: -50px;
					right: auto;
				}
			}
			&--subtitle {
				.icon {
					margin-left: rem(8px);
					margin-right: 0;
				}
			}
		}
	}
	.pagination {
		li.page-item {
			&:first-child {
				a {
					&::before {
						transform: translate(-50%, -50%) rotate(0deg);
					}
				}
			}
			&:last-child {
				a {
					&::before {
						transform: translate(-50%, -50%) rotate(180deg);
					}
				}
			}
		}
	}
	.MeetMentorsModal .Detail {
		direction: rtl;
	}
	.courseDetal {
		.main_content {
			margin-left: rem(50px);
			margin-right: 0;
			@media screen and (max-width: 991px) {
				margin-left: 0;
			}
			h3.title {
				div {
					margin-left: rem(15px);
					margin-right: 0;
				}
			}
		}
		&__detail {
			text-align: right !important;
			h5 {
				text-align: right !important;
			}
			ul {
				li {
					padding-right: 25px;
					padding-left: 0;
					&:before {
						content: '';
						right: 0px;
						left: auto;
					}
				}
			}
		}
	}
	.course {
		&__card {
			&--content {
				.country {
					&--name {
						margin-right: rem(10px);
						margin-left: 0;
					}
				}
			}
		}
	}
	.courseList {
		&__box {
			&--item {
				&:not(:last-child) {
					margin-left: rem(30px);
					margin-right: 0;
				}
				.desc {
					margin-right: rem(40px);
					margin-left: 0;
				}
			}
			@media screen and (max-width: 1025px) {
				&--item {
					&:not(:last-child) {
						margin-left: rem(20px);
						margin-right: 0;
					}
					.desc {
						margin-right: rem(25px);
						margin-left: 0;
					}
				}
			}
			@media screen and (max-width: 991px) {
				&--item {
					.desc {
						margin-right: rem(20px);
						margin-left: 0;
					}
				}
			}
			@media screen and (max-width: 767px) {
				&--item {
					.desc {
						margin-right: rem(20px);
						margin-left: 0;
					}
				}
			}
			@media screen and (max-width: 500px) {
				&--item {
					&:not(:last-child) {
						margin-left: 0;
					}
					.desc {
						margin-right: rem(20px);
						margin-left: 0;
					}
				}
			}
		}
	}
	.contactUs__form {
		.checkboxWrapper {
			ul {
				li {
					margin-left: rem(20px);
					margin-right: 0;
					@media screen and (max-width: 575px) {
						margin-left: 0;
					}
				}
			}
		}
		.number {
			text-align: right;
			direction: ltr;
		}
		.custom-checkbox {
			padding-right: 30px;
			padding-left: 0;
			.custom-control-label {
				&::before {
					right: -30px;
					left: auto;
				}
				&::after {
					right: -30px;
					left: auto;
				}
			}
		}
		.custom-file-label {
			&::after {
				left: 0;
				right: auto;
			}
		}
		.form-group {
			.v-select {
				.vs__actions {
					padding-left: 0;
				}
			}
		}
	}
	.search-field {
		.FormField {
			&__input {
				input {
					padding-right: unset;
				}
			}
			&__button {
				button {
					margin-right: rem(30px);
					margin-left: 0;
					@media screen and (max-width: 575px) {
						margin-right: rem(15px);
						margin-left: 0;
					}
					span {
						margin-right: rem(20px);
						margin-left: 0;
						@media screen and (max-width: 575px) {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	.meetMentorsMain {
		&__slide {
			&--head {
				.sliderNavigation {
					&__controls {
						&--arrow {
							transform: translateY(-50%) rotate(180deg) !important;
						}
						.nextArrow {
							left: -40px;
							right: auto;
						}
						.prevArrow {
							right: -40px;
							left: auto;
						}
					}
				}
			}
			&--link {
				a {
					.icon {
						margin-left: rem(8px);
						margin-right: 0;
					}
				}
			}
		}
	}
	.pressReleaseCard {
		.card {
			.date {
				&::before {
					right: 0;
					left: auto;
				}
			}
		}
	}
	.pressReleasePagination {
		.show_items,
		.gotoPage {
			label {
				margin-left: rem(20px);
				margin-right: 0;
			}
			@media screen and (max-width: 991px) {
				&__show {
					margin-left: rem(10px);
					margin-right: 0;
				}
			}
			@media screen and (max-width: 500px) {
				label {
					margin-left: 5px;
					margin-right: 0;
				}
				.form-group {
					.v-select {
						.vs__actions {
							padding-left: 12px;
							padding-right: 0;
						}
					}
				}
			}
			@media screen and (max-width: 390px) {
				label {
					margin-left: 5px;
					margin-right: 0;
				}
			}
		}
	}
	.pagination {
		li.page-item {
			&:not(:last-child) {
				margin-left: rem(12px);
				margin-right: 0;
			}
		}
	}
	.pressReleaseMain {
		h3 {
			div {
				margin-left: rem(15px);
				margin-right: 0;
			}
		}
		.titleWrapper {
			.title {
				h2 {
					padding-left: rem(20px);
					padding-right: 0;
				}
			}
		}
	}
	.relatedDocuments {
		&__list {
			&--item {
				&--documents {
					@media screen and (min-width: 576px) {
						padding-right: 20px;
						padding-left: 0;
						&:before {
							right: 0;
							left: auto;
						}
					}
				}
				.document__info {
					.icon {
						span {
							margin-left: 10px;
							margin-right: 0;
						}
					}
					h2 {
						padding-left: rem(60px);
						padding-right: 0;
						@media screen and (max-width: 667px) {
							padding-left: rem(25px);
							padding-right: 0;
						}
						@media screen and (max-width: 575px) {
							padding-left: 0;
						}
					}
					h3 {
						margin-left: rem(35px);
						margin-right: 0;
						@media screen and (max-width: 667px) {
							margin-left: rem(20px);
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	.mediaSlider {
		&::before {
			left: -10px;
			right: auto;
		}
		&::after {
			left: -20px;
			right: auto;
		}
		.sliderNavigation {
			&__controls {
				&--arrow {
					transform: rotate(180deg);
				}
				&--pagination {
					direction: ltr;
				}
				&--pause {
					transform: rotate(180deg);
				}
			}
			&__controls--icon {
				svg {
					transform: rotate(180deg);
				}
			}
		}
	}
	.testimonials {
		.sliderNavigation {
			left: 0;
			right: auto;
			&.bottomNavigation {
				.sliderNavigation {
					&__controls {
						&--arrow {
							transform: rotate(180deg);
						}
						&--pagination {
							text-align: left;
							direction: ltr;
						}
					}
				}
			}
		}
		.desc {
			.intro {
				&:after,
				&:before {
					right: 0;
					left: auto;
					transform: rotate(180deg);
				}
				&:after {
					left: 0;
					right: auto;
					transform: rotate(0deg);
				}
			}
		}
	}
	.targetMeasurement {
		&__image {
			img {
				left: 0;
				right: auto;
				&.img-top {
					left: -10px;
					right: auto;
				}
				@media screen and (max-width: 767px) {
					left: 50%;
					transform: translateX(-50%);
					right: auto;
					&.img-top {
						right: auto;
						left: 48%;
					}
				}
			}
		}
	}
	.contact .ZainWorld {
		&__slide {
			&--head {
				.sliderNavigation {
					&__control {
						&--arrow {
							&.prevArrow {
								right: 0;
								left: auto;
							}
							&.nextArrow {
								right: auto;
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}
