<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Dalia Shakhshir Zain Jordan.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Dalia Mohammed Ramez Shakhshir</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Consumer Business</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Dalia Shakhshir is a passionate and dedicated Product Development Team Leader in the Telecom domain with a proven track of quality deliverables, IT development, and Business Analysis experience of 16+ years. Dalia is a creative detail-oriented problem solver, with advanced analytical and reasoning skills who consistently delivers and fulfils strategic implementations. Honesty and kindness are the main values Dalia believes in and lives by. Spending quality time with her three children is what Dalia enjoys the most, as well as walking and making homemade sweets.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>