<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Hiba Afaneh Zain Jordan.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Hiba Nader Awad Afaneh</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Enterprise Risk Management and Internal Audit</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Hiba Afaneh joined Zain Jordan in 2002 and entered the field of Information Security as a security officer. Since then, Hiba helped in establish the Information Security function within Zain Jordan, whereas the function grew during her 18 years of experience to include more vital functions that cover Cyber Security and Enterprise Risk Management. In addition to her career, Afaneh developed an entrepreneurship program that targets youth, and she gave several training courses in the entrepreneurship realm for students to get them acquainted with entrepreneurial skills and mindset through interactive practice and fun activities.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>