<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Lama Rahwanji Zain Jordan.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Lama (Mohammad Said) Musallam Al Rahawanjy</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Legal & Regulatory Affairs</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        Lama Al Rahawanjy holds a Regulatory Manager position and has 24 years of experience at Zain Jordan. She has strong technical and personal skills such as communication, critical thinking and problem solving, leadership and training, negotiation, organizational and time management skills. Her goal to be a successful businesswoman and benefit the society which has encouraged her to stay open-minded to any new opportunities. Outside of the office, Lama enjoys drawing and interior design.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>