<div class="MeetMentorsModal">
    <div class="row">
        <div class="col-md-3">
            <div class="image">
                <img src="src/images/meetMentors/Raad Qandah.jpg" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="upperInfo">
                <div class="Detail">
                    <h5 class="title name">Raad Qandah</h5>
                </div>
                <div class="Detail">
                    <span class="Detail__info jobTitle">Network Performance Analyst</span>
                </div>
            </div>
            <div class="bio">
                <div class="Detail inner-scroll">
                    <span class="title">Bio :</span>
                    <span class="Detail__info innerTextsection">
                        With total of over nine years of experience in the industry, Raad holds a B.Sc. in Communications Engineering from Princess Sumaya University for Technology. Raad has a published scientific paper about Dynamic Frequency Allocation in Wi-Fi Technology at the 35th IEEE Sarnoff Symposium, which was awarded by Jordan Engineers Associations and Princess Sumaya University for Technology. As a result of his operational excellence and initiatives, Raad received multiple awards from Zain Jordan.
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        console.log("ready!");
        $(".inner-scroll").mCustomScrollbar();
    });
</script>